/* Generic context menu styles */
.iMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	padding: 0px;
	margin: 0px;
	display: none;
	color: #FAFAFA;
}

.iMenu ul{
		/*
		-webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	*/
	padding: 0px;
	margin: 0px;
	
	background: #000000; /* For non css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#333333'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#333)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #999999,  #333); /* for firefox 3.6+ */ 
	
}

.iMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.iMenu A {
	display: block;
	
	color: #FAFAFA;
	text-decoration: none;
	text-align: left;
	font-size:  12px;
	font-weight: 600;
	text-shadow: 0 1px black;
	line-height: 25px;
	
	height: 25px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.iMenu LI.hover A {
	color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.1);;
}

.iMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.iMenu LI.hover.disabled A {
	background-color: transparent;
}

.iMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.iMenu .menu-top    { 	background-image: url(images/imenu-top.png);    padding-bottom: 15px;}
.iMenu .menu-bottom {  	background-image: url(images/imenu-bottom.png); padding-top: 5px;}

.iMenu LI.download A { background-image: url(../../images/icn-report-white.png); background-position: 0 5px;}
.iMenu LI.download A:hover { background-position: 0 -20px;}

.iMenu LI.privacy A { background-image: url(../../images/icn-rotatel-white.png); background-position: 0 5px;}
.iMenu LI.privacy A:hover { background-position: 0 -20px;}

.iMenu LI.delete A { background-image: url(../../images/icn-delete-white.png); background-position: 0 5px;}
.iMenu LI.delete A:hover { background-position: 0 -20px;}

.iMenu LI.setcover A { background-image: url(../../images/icn-rotater-white.png); background-position: 0 5px;}
.iMenu LI.setcover A:hover { background-position: 0 -20px;}
.iMenu LI.setcover.disabled A { background-position: 0 -20px;}



