Photos in set:
<ul>
  <% @photos.each do |photo| %>
    <li><%= link_to photo[:name], shutterfly_photo_path(:sf_album_id => params[:sf_album_id], :photo_id => photo[:id], :size => :screen) %> (ID#<%= photo[:id] %>)</li>
  <% end %>
</ul>