dump.rdb
/config/initializers/win_patches.rb
log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
eventmachine/.idea
eventmachine/log/*.log
/.idea
.idea*/*
public/system/*
public/assets
nbproject
log/*
*.swp
*~
.DS_Store
.bundle/*
.bundle
logs/*.log
*.log
spec/support/db_init/*.seedbackup
.project
.settings/*
sub_migrates/cache_builder/db/schema.rb

