<li class="clearfix">
    <div class="timeline-badge">
        <%= render :partial => 'users/stacked_badge', :locals => { :user => contributor.user }    %>
    </div>

    <div class="timeline-action">
      <ul class="timeline-grid">
        <% contributor.photos.each_index do | i | %>
          <li id="<%=contributor.photos[i].id%>">
            <%if i>=5 %>
                <img class="lazy-thumb" src="/images/grey.gif" original="<%=contributor.photos[i].thumb_url%>"/>
            <%else%>
                <img src="<%=contributor.photos[i].thumb_url%>"/>
            <%end%>
          </li>
      <% end %>
      </ul>
      <%if i> 5  %><a href="javascript:void(0);"  class="more-less-btn">more...</a><%end%>
    </div>
</li>