<li class="clearfix">
    <a name="<%=contributor.id%>"></a>

    <div class="timeline-badge">
        <%= render :partial => 'users/stacked_badge', :locals => { :user => contributor.user }    %>
    </div>

    <div class="timeline-action">
      <ul class="timeline-grid" data-user-id="<%=contributor.user_id%>">

      </ul>
      <%if contributor.photos.length> 4  %><a href="javascript:void(0);"  class="more-less-btn">more...</a><%end%>
    </div>
</li>