<% content_for :meta_tags do %>
    <%= render :partial => "facebook/album_opengraph_tags" %>
<% end %>


<div class="viewlist">

  <ul>
    <li class="header">
      Contributors
    </li>
    <%@contributors.each do | contributor | %>
        <%=if (photo_count = @album.photos.find_all_by_user_id(contributor.id).length) > 0
               render :partial => 'contributor', :locals => { :album => @album, :contributor => contributor, :photo_count => photo_count }
           end %>
    <%end%>

    <% if @inactive_names.length > 0 %>
        <li class="item">
          <div  class="header bar">
            <div class="title">
              <%=@inactive_names %>
            </div>
        </li>
    <%end%>


    <% if @likers.length > 0 %>
        <li class="item">
          <div class="header bar">
            Who likes this album
          </div>
          <div class="title">
            <%@likers.each do |liker| %>
                <div class="badge">
                  <%= render :partial => 'users/stacked_badge', :locals => { :user => liker }    %>
                </div>
            <%end%>
          </div>
        </li>
    <%end%>
  </ul>

</div>







