<h3 class="people first">Contributors</h3>

<ul id="contributors">
  <% @contributors.each do | contributor | %>
         <%= render :partial => 'contributor', :locals => {:contributor => contributor } %>
  <%end%>    
  <li class="clearfix">
    <div class="timeline-badge">
      <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
      <h4>Kathryn Corro</h4>
      <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
    </div>
    
    <div class="timeline-action">
      <ul class="timeline-grid">
        <li><img src="/images/test-grid-image-tall-no-border.png" /></li>
        <li><img src="/images/test-grid-image-wide-no-border.png" /></li>
        <li><img src="/images/test-grid-image-tall-no-border.png" /></li>
      </ul>
    </div>
  </li>
</ul>

<h3 class="people">People that Like &ldquo;New Zealand&rdquo;</h3>

<ul id="liked-it" class="clearfix">
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
    <h4>Alexander Massario</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-2-54x54.png" width="54" height="54" class="icon" />
    <h4>Tom Wopat</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
  <li>
    <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
    <h4>Hiphop Anonymous</h4>
    <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
  </li>
</ul>