<% content_for :meta_tags do %>
    <%= render :partial => "facebook/album_opengraph_tags" %>
<% end %>


<div class="viewlist">
  <ul>
    <li class="header bar">
      Contributors
    </li>
    <%@contributors.each do | user | %>
        <%if (photo_count = @album.photos.find_all_by_user_id(user.id).length) > 0%>
               <%=render :partial => 'contributor', :locals => { :user => user, :photo_count => photo_count }%>
           <%else
               @inactive_contributors << user
        end%>
    <%end%>

    <% if @likers.length > 0 %>
        <li class="header bar">
            People Who Like This Album
        </li>
        <li class="item tab like">
            <%@likers.each do | user | %>
                <div class="title">
                    <%= render :partial => 'users/stacked_badge', :locals => { :user => user }    %>
                </div>
            <%end%>
        </li>
    <%end%>

    <% if @inactive_contributors.length > 0%>
        <li class="header bar">
            Invited Contributors
        </li>
        <li class="item tab share">
            <%@inactive_contributors.each do | user | %>
                <div class="title">
                    <%= render :partial => 'users/stacked_badge', :locals => { :user => user }    %>
                </div>
            <%end%>
        </li>
      <%end%>
  </ul>

</div>







