<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>


<div class="viewlist">
  <ul>

    <% if @user.followers.count > 0 %>
        <li class="item">
          <div class="header bar">
            Followers
          </div>
          <div class="indented content">
            <%@user.followers.each do | user | %>
                <%= render :partial => 'follow', :locals => { :user => user}    %>
            <%end%>
          </div>
        </li>
    <%end%>
    <li>

    </li>

    <% if @user.liked_users.count > 0 %>
        <li class="item">
          <div class="header bar">
            Following
          </div>
          <div class="indented content">
            <%@user.liked_users.each do | user | %>

                <%= render :partial => 'follow', :locals => { :user => user }    %>

            <%end%>
          </div>
        </li>
    <%end%>
    <ul>
</div>
