<div id="share-body">
   <div id="top-section">
    <div class="album-header">
      <h3>Share Album</h3>
      <h4>Share this album with your friends</h4>
    </div>
  </div>
  <!--<div class="flash-box">-->
        <!--<div class="flash-notice" id="flashes-notice"></div>-->
        <!--<div class="error-notice" id="error-notice"></div>-->
  <!--</div>-->
   <div id="scroll-body">
     <ul id="share-pick">
      <li class="social-share link">
      </li>
      <li class="email-share link">
      </li>
    </ul>
  </div>
</div>

