<div id="share-body">
   <div id="top-section">
    <div class="album-header">
      <h3>Share Album</h3>
      <h4>Share this Album with Your Friends</h4>
    </div>
  </div>
  <div class="flash-box"><div class="flash-notice" id="flashes-notice">  </div></div>
   <div id="scroll-body">
     <h4>Album email:</h4>
     <input id="album_email" type="text" readonly="readonly" value="<%= @album.short_email %>" />
     <ul id="share-pick">
      <li class="social-share link">
      </li>
      <li class="email-share link">
      </li>
    </ul>
  </div>
</div>

