
<% flash.each do |key, value| %>
	          <div class="flash <%= key %>"><%= value %></div>
<% end %> 

<%= link_to "Share this album on Facebook or Twitter", new_album_postshare_url( @album ) %>

<%= link_to "Share this album by email", new_album_mailshare_url( @album ) %>