<% # Locals are:
   #     order: the order for which the addressbook should be displayed
   #     address_kind:     'bill_address' or 'ship_address'
   column_width = 4
   style = 'dropdown'
%>

<%if order.user && order.user.addresses.count > 0 %>
    <% if style=='table' %>
        <%= form.hidden_field "#{address_kind}_id"%>
        <table>
          <% column = 0 %>
          <% order.user.addresses.each do |address| %>
              <%if column % column_width == 0 %>
                  <tr>
              <%end%>
              <td>
                <%= render :partial =>'address_display', :locals => { :address => address,:label =>"" } %>
                <a href="javascript:void(0)"><span>edit</span></a> <a href="javascript:void(0)"><span>delete</span></a>
              </td>
              <%if column %column_width == column_width-1 %>
                  </tr>
              <%end%>
              <% column = column + 1 %>
          <%end %>
        </table>
    <% else  %>
       <p id="addressbook" class="field">
        <%= addressbook_dropdown(form, address_kind, order.user.addresses) %>
       </p>
    <% end %>

<%end %>