<% # Locals are:
   #     order: the order for which the addressbook should be displayed
   #     address_id_field_name: the name for the field where the address id will be passed
   #     button_text: the text to be shown in the address button
   #     form_id:     the id of the form being used
%>

<% if order.user && order.user.creditcards.count > 0  %>
      <% order.user.creditcards.each do |creditcard| %>
        <p id="creditcard_<%=creditcard.id%>" class="field">
            <%= radio_button_tag 'order[creditcard_id]', creditcard.id %>
            <%= label 'order[creditcard_id]', "#{t('ends_with')} #{creditcard.last_digits}" %>
        </p>
      <%end %>
<%end %>

