.container {
  width: 95%;
}

body {
  color:  #B1B1B1;
  background: #313131;
}

#header {
  padding-top: 20px;
}



#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #313131;
}

/* Links */

a {
    color: #FDD028;
    text-decoration: none;
}

a:hover {
  color: #FDD028;
  text-decoration: underline;
}

a:visited {
  color: #FDD028;
}

.logo{
    white-space: nowrap;
    float: left;
}

.logo a{
}

/* Navigation */
.navigation {
  float: right;
}

.navigation {
  padding: 0 0.7em;
  white-space: nowrap;
}

ul.navigation {
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.navigation li a {
  padding: 0 5px;
  font-weight: bold;
}

.navigation li a:visited {
  color: #FDD028;
}

.navigation li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #FDD028;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
}

#footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

#footer .navigation {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
div.field, div.actions {
  margin-bottom: 10px;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label {
  color: #fff;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*Listing for all users*/
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* Micro Posts */
h2.album {
  margin-bottom: 0;
  color:  #B1B1B1
}

table.albums tr {
  height: 70px;
}

table.albums tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.albums tr td.album {
  border-top: 1px solid #ccc;
  vertical-align: top;
}

table.albums tr td.album span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.albums {
  font-size: 80%;
}

form.album {
  margin-bottom: 2em;
}

form.new_album textarea {
  height: 4em;
  margin-bottom: 0;
}

/*one photo view */
div.largephotocontainer{
}
img.largephoto {
    background-color: #ffffff;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 10px #AAAAAA;
    -moz-box-shadow: 0px 0px 10px #AAAAAA;
}

/*album grid layout  */
div.grid {
  border: 2px dashed #333;
  background-color: #ffe;
  }
div.gridspacer {
  clear: both;
  }

div.gridcell {
    float: left;
    background-color: #ffffff;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 10px #AAAAAA;
    -moz-box-shadow: 0px 0px 10px #AAAAAA;
}


/*for delete icons on images */
div.gridcellphoto {
		position: relative;
		margin: 3px;
		height: 100px;
        width: 100px;
        background-repeat: no-repeat;
}
a.gridcellphotoicon {
		position: absolute;
		top: 80px;
		left: 80px;
		width: 16px;
		height: 16px;
		background-color: transparent;
		border: 1px solid gray;
}
div.gridcellcaption {
   text-align: left;
}


div.albumcell {
    float: left;
    background-color: #313131;
    margin: 5px;
}

div.albumcellphotoOLD{
	height: 100px;
    width: 100px;
    padding: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px #AAAAA;
    -moz-box-shadow: 0px 0px 10px #AAAAAA;
}

div.albumcellphoto{
   position: relative;
   height: 100px;
   width: 100px;
}
img.albumcellshow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
}
img.albumcellphotoicon{
    position: absolute;
 	top: 9px;
    left: 49px;
    height: 36px;
    width: 36px;
    background-color: transparent;
}
a.albumcelldeleteicon{
  position: absolute;
  top: 75px;
  left: 75px;
  height: 36px;
  width: 36px;
  background-color: transparent;
}
div.albumcellcaption {
   text-align: center;
   color: #B1B1B1
}
