<!DOCTYPE html>
<HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ZangZing Email</title>
<!-- The following conditional comments target Outlook 2007 -->
<!--[if gte mso 9]>
<style type="tshare1001photos.zangzing.comext/css">
body {
background-image: url('http://<%=APPLICATION_HOST%>/images/bg-outlook-email.png');
background-color: #ffffff;
}
<![endif]-->
</style>
</head>
<body>

<!-- The following conditional comments target Outlook 2007 ignored for non msft-->
<!--[if gte mso 9]>
<br><br>
<br><br>
<br><br>
<![endif]-->


<!-- The following conditional comments hides this from Outlook 2007/10 displays it in any non msft-->
<!--[if IE]><![if !mso]><![endif]-->
	<div id="zz-email-header" border=0>
	  <a href="http://www.zangzing.com" border= 0>
	    <table border="0" cellspacing="0" cellpadding="0" width="100%">
	      <tr>
	        <td width="16px"><img src="http://<%=APPLICATION_HOST%>/images/bg_header_l.gif" border="0"></td>
	        <td background="http://<%=APPLICATION_HOST%>/images/bg_header_c.gif" style="padding-left: 4px; background-position: left top; background-repeat: repeat-x;" border="0" > <img src="http://share1001photos.zangzing.com/images/logo.png" border="0"> </td>
	        <td width="16px"><img src="http://<%=APPLICATION_HOST%>/images/bg_header_r.gif" border="0"></td>
	      </tr>
	    </table>
	  </a>
	</div>
<!--[if IE]><![endif]><![endif]-->
