
<%= render(:partial => 'zz_email_banner') %>

<h3>Thank you for joining ZangZing!</h3>

<p><%= link_to "Please click here to activate your account", @account_activation_url %></p>

<%= render(:partial => 'zz_email_signature') %>