
<%= render(:partial => 'zz_email_banner') %>

<p>We have good news,</p>

<p>
  <%=h @from_user.name %> has shared a ZangZing album with you. Click the link below to see it.
</p>
<p><center><b>
    <%=link_to (@album.picon_bucket.nil? ? (h @album.name) : (image_tag @album.picon_url ) ), album_url( @album) %>
</b></center></p>


<%= render(:partial => 'zz_email_signature') %>
