<!DOCTYPE html> 
<HTML>
<body>
<%= render(:partial => 'zz_email_banner') %>



<p>Dear <%=h @user.name %>,</p>
<br>
<p>
The photos you added to ZangZing album  <B><%=link_to (h @album.name), @album_url  %></B> are now ready.
If you shared your album, your messages and posts have been sent.
</p>
<h3>The ZangZing Team</h3>
<hr>
<table>
<tr>
<% @photos.each do |photo| %>
 <td> <img src="<%=photo.thumb_url%>"></td>
<%end%>
</tr>
</table>


</body>
</HTML>