<%= render(:partial => 'zz_email_banner') %>


<h3>Welcome to ZangZing!</h3>

<p>Your account has been confirmed and activated.</p>
<p>Your <%=link_to "ZangZing Homepage", @root_url %> is ready.</p>

<%= render(:partial => 'zz_email_signature') %>