<%  # Framed Prints %>

<div class="product-description">
  <ul>
    <li>High quality prints framed and ready to be displayed</li>
    <li>Photos printed on Kodak Edge Paper with a matte finish</li>
    <li>Frames available in black or chocolate with or without matte</li>
  </ul>
</div>


<div class="product-prices">
  <div class="title">Starting Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">4 x 6</span>
      <span class="price">$24.99</span>
    </div>
    <div class="option">
      <span class="name">5 x 7</span>
      <span class="price">$19.99</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">8 x 10</span>
      <span class="price">$34.99</span>
    </div>
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$44.99</span>
    </div>
  </div>

  <div class="column">
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$64.99</span>
    </div>
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$109.99</span>
    </div>
  </div>

</div>

