<%  # Framed Mounted Print %>

<div class="product-description">
  <ul>
    <li>The beautiful, modern framed mounted print is perfect for displaying that stunning photo</li>
    <li>Printed on inkjet enhanced matte paper with remarkable color reproduction</li>
    <li>The heavyweight, matte paper is laminated and mounted to a 3/8" thick masonite fiberboard</li>
    <li>The glassless, 2" modern wooden box frame is available in black or chocolate</li>
  </ul>
</div>

<div class="product-prices">
  <div class="title">Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$79.99</span>
    </div>
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$129.99</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$159.99</span>
    </div>
    <div class="option">
      <span class="name">24 x 36</span>
      <span class="price">$199.99</span>
    </div>
</div>
<div class="column">
    <div class="option">
      <span class="name">30 x 45</span>
      <span class="price">$229.99</span>
    </div>
    <div class="option">
      <span class="name">&nbsp;</span>
      <span class="price">&nbsp;</span>
    </div>
  </div>
</div>

