<%  # Photo Panel %>

<div class="product-description">
  <ul>
    <li>Stunning panel display without any frame or glass</li>
    <li>Printed with a glossy finish that is UV and scratch resistant</li>
    <li>Display in portrait or landscape</li>
  </ul>
</div>










<div class="product-prices">
  <div class="title">Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">5 x 7</span>
      <span class="price">$19.99</span>
    </div>
    <div class="option">
      <span class="name">8 x 10</span>
      <span class="price">$29.99</span>
    </div>
  </div>


</div>

