<%  # Mounted Prints %>

<div class="product-description">
  <ul>
    <li>A dramatic, frameless display of one of your favorite photos</li>
    <li>Your photo is printed with a lustre or metallic finish and then mounted to 3/16" black gatorboard</li>
    <li>When displayed, your photo will appear to float from the wall</li>
    <li>Lustre provides great color saturation, a subtle sheen, and fingerprint-resistant finish</li>
    <li>Metallic has a metallic sheen with a glossy finish, and multiple laminate layers give more depth</li>
    <li>Hanging kit is installed</li>
  </ul>
</div>

<div class="product-prices">
  <div class="title">Starting Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$44.99</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$69.99</span>
    </div>
  </div>

  <div class="column">
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$114.99</span>
    </div>
  </div>

</div>

