<%  # Framed Canvas %>

<div class="product-description">
  <ul>
    <li>The framed canvas is one of our highest quality product offerings</li>
    <li>The canvas is set in a modern wooden box frame available in black or chocolate</li>
    <li>Printed on a PremierArt Water Resistant Canvas, which is UV and water resistant</li>
    <li>A sawtooth hanger is included for easy wall mounting</li>
  </ul>
</div>




<div class="product-prices">
  <div class="title">Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$79.99</span>
    </div>
    <div class="option">
      <span class="name">12 x 18</span>
      <span class="price">$94.99</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$99.99</span>
    </div>
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$139.99</span>
    </div>
  </div>

  <div class="column">
    <div class="option">
      <span class="name">24 x 36</span>
      <span class="price">$159.99</span>
    </div>
    <div class="option">
      <span class="name">30 x 40</span>
      <span class="price">$219.99</span>
    </div>
  </div>

</div>

