<%  # Prints %>

<div class="product-description">
  <ul>
    <li>Glossy, Matte, Lustre, and Metallic finishes</li>
    <li>Glossy appears brighter and shinier than Matte</li>
    <li>Lustre is the most popular with great color saturation, subtle sheen, and a fingerprint-resistant finish</li>
    <li>Metallic has a metallic sheen with a glossy finish, and multiple laminate layers give more depth</li>
    <li>Black or chocolate framed prints are also available</li>
  </ul>
</div>




<div class="product-prices">
  <div class="title">Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">4 x 6</span>
      <span class="price">$0.25</span>
    </div>
    <div class="option">
      <span class="name">5 x 7</span>
      <span class="price">$1.29</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">8 x 10</span>
      <span class="price">$4.99</span>
    </div>
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$7.99</span>
    </div>
  </div>

  <div class="column">
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$19.99</span>
    </div>
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$29.99</span>
    </div>
  </div>

</div>

