<%  # Framed Prints %>

<div class="product-description">
  <ul>
    <li>Matte finish printed on Kodak Edge Paper</li>
    <li>Black or chocolate frames</li>
  </ul>
</div>


<div class="product-prices">
  <div class="title">Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">4 x 6</span>
      <span class="price">$24.99</span>
    </div>
    <div class="option">
      <span class="name">5 x 7</span>
      <span class="price">$39.99</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">8 x 10</span>
      <span class="price">$49.99</span>
    </div>
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$69.99</span>
    </div>
  </div>

  <div class="column">
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$119.99</span>
    </div>
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$109.99</span>
    </div>
  </div>

</div>

