<%  # Gallery Wrapped Canvas %>

<div class="product-description">
  <ul>
    <li>A dramatic, frameless display of one of your favorite photos</li>
    <li>Your photo is printed with a lustre or metallic finish and then mounted to 3/16" black gatorboard</li>
    <li>When displayed, your photo will appear to be floating from the wall</li>
    <li>Lustre provides great color saturation, a subtle sheen, and fingerprint-resistant finish</li>
    <li>Metallic has a metallic sheen with a glossy finish, and multiple laminate layers give more depth</li>
    <li>Hanging kit is installed</li>
  </ul>
</div>

<div class="product-prices">
  <div class="title">Prices</div>
  <div class="column">
    <div class="option">
      <span class="name">11 x 14</span>
      <span class="price">$69.99</span>
    </div>
    <div class="option">
      <span class="name">12 x 18</span>
      <span class="price">$84.99</span>
    </div>
  </div>

  <div class="column middle">
    <div class="option">
      <span class="name">16 x 20</span>
      <span class="price">$89.99</span>
    </div>
    <div class="option">
      <span class="name">20 x 30</span>
      <span class="price">$129.99</span>
    </div>
  </div>

  <div class="column">
    <div class="option">
      <span class="name">24 x 34</span>
      <span class="price">$149.99</span>
    </div>
    <div class="option">
      <span class="name">30 x 40</span>
      <span class="price">$199.99</span>
    </div>
  </div>

</div>

