<div class='glamour-page'>
    <div class="product-image">
        <%= render 'image' %>
    </div>

    <div class="product-name">
      <%= @product.name %>
    </div>

    <%= render "product_#{@product.id}" %>

</div>
