

<% if (target && target.errors.any?) || flash[:error]%>
    <div class="alert-message block-message error">
      <div id="errorExplanation" class="errorExplanation">
        <%if target && target.errors.any? %>
            <h2><%= t(:there_were_problems_with_the_following_fields) %>:</h2>
        <%elsif flash[:payment] %>
            <h4><%=flash[:error]%></h4>
        <%end%>
        <ul>
          <%if target && target.errors.any? %>
          <% target.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
          <%end%>
          <% if flash[:payment]
                payment_errors = flash[:payment].split(')')
                payment_errors.each do |pe |
          %>
                <li><%= pe.gsub(/\. \(.*$/, '') %></li>
          <%    end
             end%>
        </ul>
      </div>
    </div>
<% end %>
