<div class="row checkout-navbar">
  <div class="span3 columns offset3">
    <div id="logo">
    <%= link_to image_tag('zz-logo-inline.png', {:id => 'logo'}), root_path%>
    <p id="logo_secure_lock">
        <%= image_tag 'store/secure-lock.png'%>
        <%=t('secure_checkout')%>
    </p>
    </div>
  </div>
  <div class="span7 columns offset1">
    <%=yield :nav_bar_center %>
  </div>
</div>





