<!--------------- This is the content of the modal phone_question dialog -->
  <div style="display: none;" id="phone-question-modal" class="modal hide">
    <div class="modal-body">
      <p>
        <strong>How long will it take to get my photos?</strong>
        </p>
        High quality prints usually take 2 working days to produce. Gallery Wrapped Canvas and
        framed products are crafted by hand and they usually take 5 days to assemble.
        When your order is ready we will ship it to you using the service of your choice.</p>
        If your order contains framed products and prints, we may
        ship them separately so you get them as soon as possible.</p>
        When choosing to ship via US Postal Service please be aware that print orders
        with sizes up to 8x10 will usually spend 3-5 days in transport while large prints, canvas, and
        framed products may spend up to 2 weeks in the mail. Your US Postal service waiting time may
        seem long because the USPS does not provide tracking information. Please be patient your photos
        will be delivered.

      </p>
    </div>
    <div class="modal-footer">
      <a href="#" onclick="$('#phone-question-modal').modal('hide');" class="green-button" style="float: right; width: 75px;"><span>OK</span></a>
    </div>
  </div>
