

/*  hyperlink button
 **************************************************************************/

a.hyperlink-button{
    text-decoration:none;
    font-size:12px;
    font-weight:600;
    cursor:pointer;
    color: #466FAA;
}

a.hyperlink-button:hover{
    text-decoration:underline;
    color: #466FAA;
}

a.hyperlink-button:active{
    text-decoration:underline;
    color: #466FAA;
}

/*  back button
 *************************************************************/
a.back-button{
    background: url("/images/btn-back-endcap.png") no-repeat scroll top right;
    color:#ffffff;
    display: block;
    /*float: left;*/
    font-size: 13px;
    height: 30px;
    margin-right: 6px;
    padding-right: 8px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
    text-align:center;
}

a.back-button:hover{
    background: url("/images/btn-back-endcap.png") no-repeat scroll right -30px; /* todo: need rollover image*/
}

a.back-button:active{
    background: url("/images/btn-back-endcap.png") no-repeat scroll right -60px; /* todo: need rollover image*/
}


a.back-button span{
    background: transparent url('/images/btn-back.png') no-repeat;
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 5px 5px 5px 18px;
    cursor: pointer;
}

a.back-button:hover span{
    background: transparent url('/images/btn-back.png') no-repeat 0 -30px; /* todo: need rollover image*/
}

a.back-button:active span{
    background: transparent url('/images/btn-back.png') no-repeat 0 -60px; /* todo: need rollover image*/
}

a.back-button.disabled{
    cursor: default;
    opacity:0.5;
    background: url("/images/btn-back-endcap.png") no-repeat scroll top right;
}

a.back-button.disabled span{
    background: transparent url('/images/btn-back.png') no-repeat 0 -30px;
    cursor: default;
}



/*  next button
 *************************************************************/
a.next-button{
    background: url("/images/btn-next-endcap.png") no-repeat scroll top right;
    color:#ffffff;
    display: block;
    /*float: left;*/
    font-size: 13px;
    height: 30px;
    margin-right: 6px;
    padding-right: 15px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
    text-align:center;

}

a.next-button:hover{
    background: url("/images/btn-next-endcap.png") no-repeat scroll right -30px; /* todo: need rollover image*/
}

a.next-button:active{
    background: url("/images/btn-next-endcap.png") no-repeat scroll right -60px; /* todo: need rollover image*/
}


a.next-button span{
    background: transparent url('/images/btn-next.png') no-repeat;
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 5px 0 5px 8px;
    cursor: pointer;
}

a.next-button:hover span{
    background: transparent url('/images/btn-next.png') no-repeat 0 -30px; /* todo: need rollover image*/
}

a.next-button:active span{
    background: transparent url('/images/btn-next.png') no-repeat 0 -60px; /* todo: need rollover image*/
}


/*  green button
 *************************************************************/
a.green-button{
    background: url("/images/btn-green-endcap.png") no-repeat scroll top right;
    display: block;
    /*float: left;*/
    height: 30px;
    /*margin-right: 6px;*/
    padding-right: 8px; /* sliding doors padding */
    cursor: pointer;
    color:#ffffff;
    font-size: 13px;
    text-decoration: none;
    text-align:center;

}

a.green-button:hover{
    background: url("/images/btn-green-endcap.png") no-repeat scroll right -30px; /* todo: need rollover image*/
}

a.green-button:active{
    background: url("/images/btn-green-endcap.png") no-repeat scroll right -60px; /* todo: need rollover image*/
}


a.green-button span{
    background: transparent url('/images/btn-green.png') no-repeat;
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 5px 0 5px 8px;
    cursor: pointer;
}

a.green-button:hover span{
    background: transparent url('/images/btn-green.png') no-repeat 0 -30px; /* todo: need rollover image*/
}

a.green-button:active span{
    background: transparent url('/images/btn-green.png') no-repeat 0 -60px; /* todo: need rollover image*/
}

/*  black button
 *************************************************************/
a.black-button{
    background: url("/images/btn-black-endcap.png") no-repeat scroll top right;
    color:#ffffff;
    display: block;
    float: left;
    font-size: 13px;
    height: 30px;
    /*margin-right: 6px;*/
    padding-right: 8px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
    text-align:center;

}

a.black-button:hover{
    background: url("/images/btn-black-endcap.png") no-repeat scroll right -30px; /* todo: need rollover image*/
}

a.black-button:active{
    background: url("/images/btn-black-endcap.png") no-repeat scroll right -60px; /* todo: need rollover image*/
}


a.black-button span{
    background: transparent url('/images/btn-black.png') no-repeat;
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 5px 0 5px 8px;
    cursor: pointer;
}

a.black-button:hover span{
    background: transparent url('/images/btn-black.png') no-repeat 0 -30px; /* todo: need rollover image*/
}

a.black-button:active span{
    background: transparent url('/images/btn-black.png') no-repeat 0 -60px; /* todo: need rollover image*/
}


/*  green add button
 *************************************************************/
a.green-add-button{
    background: url("/images/btn-green-add-endcap.png") no-repeat scroll top right;
    color:#ffffff;
    display: block;
    /*float: left;*/
    font-size: 13px;
    height: 30px;
    /*margin-right: 6px;*/
    padding-right: 8px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    
}

a.green-add-button:hover{
    background: url("/images/btn-green-add-endcap.png") no-repeat scroll right -30px; /* todo: need rollover image*/
}

a.green-add-button:active{
    background: url("/images/btn-green-add-endcap.png") no-repeat scroll right -60px; /* todo: need rollover image*/
}


a.green-add-button span{
    background: transparent url('/images/btn-green-add.png') no-repeat;
    display: block;
    line-height: 20px;
    height: 20px;
    padding: 5px 0 5px 28px;
    cursor: pointer;
}

a.green-add-button:hover span{
    background: transparent url('/images/btn-green-add.png') no-repeat 0 -30px; /* todo: need rollover image*/
}

a.green-add-button:active span{
    background: transparent url('/images/btn-green-add.png') no-repeat 0 -60px; /* todo: need rollover image*/
}

/*  GREEN BUTTON WELL DONE */
a.newgreen-button{
    border:     0;
    margin:     0;
    cursor:     pointer;
    text-align: center;
    font-size:  14px;
    text-shadow: 0 1px 3px #000000;
    text-decoration: none;
    height:     30px;
    padding:    0 5px 0 0;
    background: url("/images/btn-green-endcap.png") no-repeat right top;
}

a.newgreen-button span{
    position:    relative;
    display:     block;
    white-space: nowrap;
    padding:     0 0 0 5px;
    height: 30px;
    line-height: 28px;
    background:  url('/images/btn-green.png') no-repeat left top;
    color:       #ffffff;
}
a.newgreen-button:hover { background: url("/images/btn-green-endcap.png") no-repeat right -30px; }
a.newgreen-button:active{ background: url("/images/btn-green-endcap.png") no-repeat right -60px; }
a.newgreen-button:hover span { background: url('/images/btn-green.png') no-repeat left -30px; }
a.newgreen-button:active span{ background: url('/images/btn-green.png') no-repeat left -60px; }

/* BLACK BUTTON WELL DONE */
a.newblack-button{
    border:     0;
    margin:     0;
    cursor:     pointer;
    text-align: center;
    font-size:  14px;
    text-shadow: 0 1px 3px #000000;
    text-decoration: none;
    height:     30px;
    padding:    0 5px 0 0;
    background: url("/images/btn-black-endcap.png") no-repeat right top;
}

a.newblack-button span{
    position:    relative;
    display:     block;
    white-space: nowrap;
    padding:     0 0 0 5px;
    height:      30px;
    line-height: 28px;
    background:  url('/images/btn-black.png') no-repeat left top;
    color:       #ffffff;
}
a.newblack-button:hover {  background: url("/images/btn-black-endcap.png") no-repeat right -30px; }
a.newblack-button:active{  background: url("/images/btn-black-endcap.png") no-repeat right -60px; }
a.newblack-button:hover  span{ background: url('/images/btn-black.png') no-repeat left -30px; }
a.newblack-button:active span{ background: url('/images/btn-black.png') no-repeat left -60px; }


/* GRAY BUTTON */
a.gray-button{
    display: inline-block;
    border:     0;
    margin:     0;
    cursor:     pointer;
    text-align: center;
    font-size:  12px;
    font-weight: 200;
    color:       gray;
    text-decoration: none;
    height:     30px;
    padding-right:  10px;
    background: url("/images/btn-gray-endcap.png") no-repeat right top;
}

a.gray-button span{
    position:    relative;
    display:     block;
    white-space: nowrap;
    padding-left:  10px;
    height:      30px;
    line-height: 28px;
    background:  transparent url('/images/btn-gray.png') no-repeat left top;

}
a.gray-button:hover {  background: url("/images/btn-gray-endcap.png") no-repeat right -30px; }
a.gray-button:active{  background: url("/images/btn-gray-endcap.png") no-repeat right -60px; }
a.gray-button:hover  span{ background: transparent url('/images/btn-gray.png') no-repeat left -30px; }
a.gray-button:active span{ background: transparent url('/images/btn-gray.png') no-repeat left -60px; }
