/*
 *  Copyright 2011 All Rights Reserved. ZangZing LLC www.zangzing.com
 *
 */

/*  Sytem Buttons
 **************************************************************************/

a.back-button,
a.next-button,
a.green-button,
a.black-button,
a.green-add-button,
a.green-download-button,
a.newgreen-button,
a.newblack-button,
a.gray-button,
a.gray-back-button,
a.gray-square-button{
    border: 0;
    margin: 0;
    display: block;
    height: 30px;
    color:#ffffff !important;          /* force because of conflict in commerce stuff */
    text-decoration: none !important;  /* force because of conflict in commerce stuff */
    text-align:center;
    cursor: pointer;
    padding-right: 8px;
    font-family: Arial, sans-serif !important; /* force because of conflict in commerce stuff */
    font-size:  14px;
    text-shadow: 0 1px 3px #000000;
    font-weight: 500;
}

a.back-button span,
a.next-button span,
a.green-button span,
a.black-button span,
a.green-add-button span,
a.green-download-button span,
a.newgreen-button span,
a.newblack-button span,
a.gray-button span,
a.gray-back-button span,
a.gray-square-button span{
    display:block;
    line-height:28px;
    height:30px;
    cursor:pointer;
    white-space: nowrap;
}


.ua-chrome a.back-button,
.ua-chrome a.next-button,
.ua-chrome a.green-button,
.ua-chrome a.black-button,
.ua-chrome a.green-add-button,
.ua-chrome a.green-download-button,
.ua-chrome a.newgreen-button,
.ua-chrome a.newblack-button,
.ua-chrome a.gray-button,
.ua-chrome a.gray-back-button,
.ua-chrome a.gray-square-button{
    font-weight: 600;
}

.os-win a.back-button,
.os-win a.next-button,
.os-win a.green-button,
.os-win a.black-button,
.os-win a.green-add-button,
.os-win a.green-download-button,
.os-win a.newgreen-button,
.os-win a.newblack-button,
.os-win a.gray-button,
.os-win a.gray-back-button,
.os-win a.gray-square-button{
    font-weight: 600;
    font-size: 13px;
}

/*  hyperlink button
 **************************************************************************/
a.hyperlink-button{
    font-size:12px;
    font-weight:600;
}

/*  back button
 *************************************************************/
a.back-button{
    margin-right: 6px;
    background: url("/images/btn-back-endcap.png") no-repeat scroll top right;
}
a.back-button:hover { background-position: right -30px; }
a.back-button:active{ background-position: right -60px; }
a.back-button.disabled{
    cursor: default;
    opacity:0.5;
    background-position: top right; !important
}

a.back-button span{
    padding: 0 5px 0 18px;
    background: transparent url('/images/btn-back.png') no-repeat;
}
a.back-button:hover span { background-position: 0 -30px; }
a.back-button:active span{ background-position: 0 -60px; }
a.back-button.disabled span{
    background-position:  0 -30px;
    cursor: default;
}

/*  gray back button
 *************************************************************/
a.gray-back-button{
    margin-right: 6px;
    background: url("/images/btn-gray-back-endcap.png") no-repeat scroll top right;
    color:       #000 !important;;
    text-shadow: 0 1px 3px #fff;
}
a.gray-back-button:hover { background-position: right -30px; }
a.gray-back-button:active{ background-position: right -60px; }
a.gray-back-button.disabled{
    cursor: default;
    opacity:0.5;
    background-position: top right; !important
}

a.gray-back-button span{
    padding: 0 5px 0 18px;
    background: transparent url('/images/btn-gray-back.png') no-repeat;
}
a.gray-back-button:hover span { background-position: 0 -30px; }
a.gray-back-button:active span{ background-position: 0 -60px; }
a.gray-back-button.disabled span{
    background-position:  0 -30px;
    cursor: default;
}


/*  next button
 *************************************************************/
a.next-button{
    margin-right: 6px;
    padding-right: 15px; /* sliding doors padding */
    background: url("/images/btn-next-endcap.png") no-repeat scroll top right;
}
a.next-button:hover { background-position: right -30px; }
a.next-button:active{ background-position: right -60px; }

a.next-button span{
    padding-left: 8px;
    background: transparent url('/images/btn-next.png') no-repeat;
}
a.next-button:hover span { background-position:  0 -30px; }
a.next-button:active span{ background-position:  0 -60px; }

/*  green button
 *************************************************************/
a.green-button{
    background: url("/images/btn-green-endcap.png") no-repeat scroll top right;
}
a.green-button:hover{ background-position:  right -30px;  }
a.green-button:active{ background-position:  right -60px; }

a.green-button span{
    padding-left: 8px;
    background: transparent url('/images/btn-green.png') no-repeat;
}
a.green-button:hover span{  background-position: 0 -30px;  }
a.green-button:active span{ background-position:  0 -60px; }

/*  black button
 *************************************************************/
a.black-button{
  background: url("/images/btn-black-endcap.png") no-repeat scroll top right;
}
a.black-button:hover { background-position: right -30px; }
a.black-button:active{ background-position: right -60px; }

a.black-button span{
    padding-left: 8px;
    background: transparent url('/images/btn-black.png') no-repeat;
}
a.black-button:hover span { background-position: 0 -30px; }
a.black-button:active span{ background-position: 0 -60px; }

/*  green add button
 *************************************************************/
a.green-add-button{
    background: url("/images/btn-green-add-endcap.png") no-repeat scroll top right;
}
a.green-add-button:hover { background-position: right -30px; }
a.green-add-button:active{ background-position: right -60px; }

a.green-add-button span{
    padding-left: 28px;
    background: transparent url('/images/btn-green-add.png') no-repeat;
}
a.green-add-button:hover span { background-position: 0 -30px; }
a.green-add-button:active span{ background-position: 0 -60px; }


/*  green download button
 *************************************************************/
a.green-download-button{
    background: url("/images/btn-green-download-endcap.png") no-repeat scroll top right;
}
a.green-download-button:hover { background-position: right -30px; }
a.green-download-button:active{ background-position: right -60px; }


a.green-download-button span{
    padding-left: 20px;
    background: transparent url('/images/btn-green-download.png') no-repeat;
}
a.green-download-button:hover span { background-position: 0 -30px; }
a.green-download-button:active span{ background-position: 0 -60px; }

/*  newgreen-button
 *************************************************************/
a.newgreen-button{
    padding-right: 5px;
    background: url("/images/btn-green-endcap.png") no-repeat right top;
}
a.newgreen-button:hover { background-position: right -30px; }
a.newgreen-button:active{ background-position: right -60px; }

a.newgreen-button span{
    padding-left:5px;
    line-height: 28px;
    background:  url('/images/btn-green.png') no-repeat left top;
}
a.newgreen-button:hover span { background-position: left -30px; }
a.newgreen-button:active span{ background-position: left -60px; }

/* newblack-button
*************************************************************/
a.newblack-button{
    padding-right:    5px;
    background: url("/images/btn-black-endcap.png") no-repeat right top;
}
a.newblack-button:hover {  background-position: right -30px; }
a.newblack-button:active{  background-position: right -60px; }

a.newblack-button span{
    padding-left: 5px;
    line-height: 28px;
    background:  url('/images/btn-black.png') no-repeat left top;
}
a.newblack-button:hover  span{ background-position: left -30px; }
a.newblack-button:active span{ background-position: left -60px; }

/* gray-button
*************************************************************/
a.gray-button{
    display: inline-block;
    color:       #666 !important;;
    text-shadow: 0 1px 3px #fff;
    padding-right:  10px;
    background: url("/images/btn-gray-endcap.png") no-repeat right top;
}
a.gray-button:hover {  background-position: right -30px; }
a.gray-button:active{  background-position: right -60px; }

a.gray-button span{
    padding-left:  10px;
    background:  transparent url('/images/btn-gray.png') no-repeat left top;
}
a.gray-button:hover  span{ background-position: left -30px; }
a.gray-button:active span{ background-position: left -60px; }

a.gray-button.selected{  background-position: right -30px; }
a.gray-button.selected  span{ background-position: left -30px; }

/* gray-square-button
*************************************************************/
a.gray-square-button{
    font-weight: normal !important;
    display: inline-block;
    color:       gray !important;;
    text-shadow: 0 1px 3px #fff;
    padding-right:  10px;
    background: url("/images/btn-gray-square-endcap.png") no-repeat right top;
}
a.gray-square-button:hover {  background-position: right -30px; }
a.gray-square-button:active{  background-position: right -60px; }

a.gray-square-button span{
    padding-left:  10px;
    background:  transparent url('/images/btn-gray-square.png') no-repeat left top;
}
a.gray-square-button:hover  span{ background-position: left -30px; }
a.gray-square-button:active span{ background-position: left -60px; }


/*
 *  BUTTON SET
 *
 *  This is the stylesheet for the radio buttonset at the top of the homepage
 *  and album images.
 **************************************************************************/
.zz-buttonset {
        display: inline-block;
        cursor: pointer;
}

.zz-buttonset div.zz-setbutton {
    display: inline-block;
    float: left;
    width: auto;
    min-width: 50px;
    margin: 0 -1px 0 0;
    padding: 4px 12px;
    overflow: visible;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
}

.zz-buttonset[disabled=disabled] .zz-setbutton{
    background:  #eaeaea;
    background: -webkit-gradient(linear, left bottom, left top, from(#dedede), to(#f5f5f5));
    background: -moz-linear-gradient(bottom,  #dedede,  #f5f5f5);
    -pie-background: linear-gradient( bottom, #dedede,  #f5f5f5);
    border: 1px solid #cccccc;
    color: #BBBBBB;
    text-shadow: #eeeeee 1px 1px;
    box-shadow:inset 0 0 1px white;
    behavior: url(/images/pie.htc);
}



.zz-buttonset .default-state{
    background:  #dedede;
    background: -webkit-gradient(linear, left bottom, left top, from(#dedede), to(#f5f5f5));
    background: -moz-linear-gradient(bottom,  #dedede,  #f5f5f5);
    -pie-background: linear-gradient( bottom, #dedede,  #f5f5f5);
    border: 1px solid #cccccc;
    color: #666666;
    text-shadow: #eeeeee 1px 1px;
    box-shadow:inset 0 0 1px white;
    behavior: url(/images/pie.htc);
}

.zz-buttonset .hover-state{
    background:  #cacaca;
    background: -webkit-gradient(linear, left bottom, left top, from(#cacaca), to(#f0f0f0));
    background: -moz-linear-gradient(bottom,  #cacaca,  #f0f0f0);
    -pie-background: linear-gradient(bottom, #CACACA, #F0F0F0);
    color: #4a4a4a;
    behavior: url(/images/pie.htc);
}

.zz-buttonset .active-state{
    background: #6f6f6f;
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#6f6f6f));
    background: -moz-linear-gradient(top,  #444444,  #6f6f6f);
    -pie-background: linear-gradient(top, #444444, #6f6f6f);
    border: 1px solid #5d6063;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.456875);
    box-shadow:inset 1px 1px 2px #444;
    behavior: url(/images/pie.htc);
}


/*Text Shadow for IE*/
.ua-ie .zz-setbutton.default-state div,
.ua-ie .zz-setbutton.hover-state div{
    font-weight: bold;
}

.ua-ie .zz-setbutton.active-state div{
    font-weight: bold;
    filter: Shadow(Color=#444444,Direction=135,Strength=1);
}

.zz-buttonset .left-end {
        border-radius: 4px 0 0 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-topleft: 4px;
}

.zz-buttonset .right-end {
    border-radius: 0 4px 4px 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}

/* For buttons with an up/down arrow */

.zz-setbutton div.arrow{
    display: inline-block;
    background: url('/images/up-down.png') no-repeat scroll right 1px;
}

/*.zz-setbutton.arrow-up div.arrow                { background-position: right -41px; }*/
/*.zz-setbutton.arrow-down div.arrow              { background-position: right -54px; }*/
.zz-setbutton.active-state.arrow-up div.arrow   { padding-right: 16px; background-position: right  -13px; }
.zz-setbutton.active-state.arrow-down div.arrow { padding-right: 16px; background-position: right  -27px; }

.zz-buttonset[disabled=disabled] .zz-setbutton div.arrow,
.zz-buttonset[disabled=disabled] .zz-setbutton div.arrow{
    padding-right: 0;
    background: url('/images/up-down.png') no-repeat scroll right 1px;
}

