.buy-screens{
    position:absolute;
    width: 1335px;
    top:0px;
    bottom:0px;
}


/*
 * select product screen */

.buy-screens .select-product-screen{
    position:absolute;
    width:445px;
    left:0px;
    top:0px;
    bottom:0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.buy-screens .select-product-screen .product{
    position:relative;
    height:123px;
    width:445px;
    border-bottom: 1px solid #aaaaaa;
    cursor: pointer;
}

.buy-screens .select-product-screen .product:hover{
    background-color: #f9f9fa;
}

.buy-screens .select-product-screen .product .image{
    position:absolute;
    width:85px;
    height:85px;
    top:20px;
    left:15px;
}

.buy-screens .select-product-screen .product .name{
    position:absolute;
    left: 109px;
    top: 30px;
    font-weight: 500;
    font-size: 14px
}

.buy-screens .select-product-screen .product .description{
    position:absolute;
    left: 109px;
    top: 50px;
    font-size: 14px
}

.buy-screens .select-product-screen .product .learn-more{
    color: #466FAA;
    text-decoration: none;
    cursor: pointer;
}

.buy-screens .select-product-screen .product .learn-more:hover{
    text-decoration: underline;
}




/*
 * configure product screen */

.buy-screens .configure-product-screen{
    position:absolute;
    width:445px;
    left:445px;
    top:0px;
    bottom:0px;
}

.buy-screens .configure-product-screen .main-section .image{
    position: absolute;
    top:10px;
    width:180px;
    height:180px;
    left:133px;
}
.buy-screens .configure-product-screen .main-section .learn-more{
    position: absolute;
    top:200px;
    left:0px;
    right:0px;
    text-align: center;

    color: #466FAA;
    text-decoration: none;
    cursor: pointer;
}

.buy-screens .configure-product-screen .main-section .learn-more:hover{
    text-decoration: underline;
}


.buy-screens .configure-product-screen .main-section .options{
    position: absolute;
    top:240px;
    left:0px;
    right:0px;
    bottom:0px;
}


.buy-screens .configure-product-screen .main-section .options .option{
    position: relative;
    height:40px;
    font-size: 14px;
}

.buy-screens .configure-product-screen .main-section .options .option .label{
    position: absolute;
    left:100px;
}

.buy-screens .configure-product-screen .main-section .options .option .drop-down{
    position: absolute;
    left:200px;
    top:-5px;
    font-size: 20px;
    width:150px
}




/*
 * select photos screen */


.buy-screens .select-photos-screen{
    position:absolute;
    width:445px;
    right:0px;
    top:0px;
    bottom:0px;
}

.buy-screens .select-photos-screen .main-section .selected-photo{
    position: relative;
    margin-bottom: 30px;
    text-align:center;
}

.buy-screens .select-photos-screen .main-section .selected-photo .photo-border{
    margin-left: auto;
    margin-right: auto;

}



.buy-screens .select-photos-screen .main-section .selected-photo .image{
    position:relative;
    width: 180px;
    left:130px;
}

.buy-screens .select-photos-screen .main-section .clear-all-photos{
    position:absolute;
    width: 180px;
    left:130px;
    top:10px;
    text-align: center;
    display: none;
}

.buy-screens .select-photos-screen .main-section .selected-photos{
    position: absolute;
    top: 40px;
    left:0px;
    right:0px;
}

.buy-screens .select-photos-screen .main-section .add-photos-message{

    position: relative;
    width: 180px;
    top: 100px;
    left: 99px;
    background-color: #F9F9FA;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px 40px 20px 40px;
    font-size: 14px;
    text-align: center;
}




/*
 * configure product & select photo shared stuff  */


.buy-screens .main-section{
    position:absolute;
    top:0px;
    bottom: 180px;
    left:0px;
    right:0px;
    overflow-y: auto;
    overflow-x: hidden;
}


.buy-screens .footer-section{
    position:absolute;
    bottom:0px;
    height:180px;
    left:0px;
    right:0px;
    background-color: #f9f9fa;
    border-top: 1px solid #cccccc;
}

.buy-screens .footer-section .image{
    position:absolute;
    width:85px;
    height:85px;
    left:25px;
    top:20px;
}

.buy-screens .footer-section .product{
    position: relative;
    left: 125px;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 1px 1px #fff;
    margin-top: 20px;
}

.buy-screens .footer-section .variant{
    position: relative;
    left: 125px;
    font-size: 14px;
    width: 290px;
    margin-top: 5px;
}

.buy-screens .footer-section .price{
    position: relative;
    left: 125px;
    font-size: 14px;
    margin-top: 5px;
}

.buy-screens .footer-section .price .value{
    font-weight: 500;
}

.buy-screens .footer-section .change{
    position:absolute;
    left:30px;
    bottom:55px;
    width:125px;
}


.buy-screens .footer-section .back{
    position:absolute;
    left:30px;
    bottom:20px;
    width:125px;
}

.buy-screens .footer-section .next{
    position:absolute;
    right:30px;
    bottom:20px;
    width:190px;
}
