.buy-screens{
    position:absolute;
    width: 1335px;
    top:0px;
    bottom:0px;
    color: #333;
}


/*
 * select product screen */

.buy-screens .select-product-screen{
    position:absolute;
    width:381px;
    left:0px;
    top:0px;
    bottom:0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.buy-screens .select-product-screen .loading{
    background: url(/images/loading_small.gif) no-repeat scroll 0px 0px transparent;
    height: 24px;
    width: 24px;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.buy-screens .select-product-screen .product{
    position:relative;
    height:123px;
    width:381px;
    border-bottom: 1px solid #aaaaaa;
    cursor: pointer;
    background-color: #fff;

}

.buy-screens .select-product-screen .product:hover{
    background-color: #f9f9fa;
}

.buy-screens .select-product-screen .product .image{
    position: absolute;
    width: 85px;
    height: 85px;
    top: 20px;
    left: 13px;
}

.buy-screens .select-product-screen .product .name-and-description{
    position:absolute;
    left: 109px;
    top: 19px;
    width:221px;
}


.buy-screens .select-product-screen .product .name-and-description .name{
    font-weight: 500;
    font-size: 14px;

}

.buy-screens .select-product-screen .product .name-and-description .description{
    overflow: hidden;
    font-size: 13px;
    color: #333;
    margin-top:2px;
    margin-bottom: 2px;
}


.buy-screens .select-product-screen .product .name-and-description .learn-more{
    color: #466FAA;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}

.buy-screens .select-product-screen .product .learn-more:hover{
    text-decoration: underline;
    cursor: pointer;
}

.buy-screens .select-product-screen .product .arrow{
    position:absolute;
    right:23px;
    top:50px;
    background: url("/images/buy/product-list-arrow.png") no-repeat scroll top right;
    width: 9px;
    height:14px;

}





/*
 * configure product screen */

.buy-screens .configure-product-screen{
    position:absolute;
    width:381px;
    left:381px;
    top:0px;
    bottom:0px;
}

.buy-screens .configure-product-screen .header-section{
    position:relative;
    top: 0px;
    left: 0px;
    right:0px;
    height: 95px;
    /*border-bottom: 1px solid #cccccc;   */
}

.buy-screens .configure-product-screen .header-section .image{
    position: absolute;
    height: 85px;
    width: 85px;
    left: 14px;
    top: 7px;
}

.buy-screens .configure-product-screen .header-section .description{
    position: absolute;
    left: 112px;
    top: 23px;
    width: 230px;
    font-size: 14px;
    height: 38px;
    font-weight: bold;
}


.buy-screens .configure-product-screen .header-section .description .learn-more{
    color: #466FAA;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
}

.buy-screens .configure-product-screen .header-section .learn-more:hover{
    text-decoration: underline;
}






.buy-screens .configure-product-screen .main-section{
    position:absolute;
    top:0px;
    left: 0px;
    width:380px;
    bottom:126px;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.buy-screens .configure-product-screen.bad-photos .main-section{
    bottom: 197px;
}


.buy-screens .configure-product-screen .main-section .price{
    position: relative;
    left: 42px;
    top: 4px;
    width: 200px;
    font-size: 14px;
    height: 25px;
}

.buy-screens .configure-product-screen .main-section .price .label{
    position:absolute;

}

.buy-screens .configure-product-screen .main-section .price .value{
    position:absolute;
    left:70px;
}

.buy-screens .configure-product-screen .main-section .options-section{
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    color:#333
}

.buy-screens .configure-product-screen .main-section .options-section .options{
    position:relative;
    left: 42px;
    top: 4px;
}


.buy-screens .configure-product-screen .main-section .options-section .options .option{
    position:relative;
    font-size: 14px;
    height: 25px;
}

.buy-screens .configure-product-screen .main-section .options-section .options .option .label{
    position:absolute;
}



.buy-screens .configure-product-screen .main-section .options-section .options .option .drop-down{
    position:absolute;
    left:70px;
    top: -3px;


    -webkit-appearance: menulist-button;
    -webkit-box-align: center;
    -webkit-box-shadow: none;
    -webkit-rtl-ordering: logical;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.20000000298023224s, 0.20000000298023224s;
    -webkit-transition-property: border, box-shadow;
    -webkit-transition-timing-function: linear, linear;
    background-color: white;
    border-bottom-color: #CCC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #CCC;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #CCC;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 23px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: -webkit-auto;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: pre;
    /*width: 250px;*/
    word-spacing: 0px;

}



.buy-screens .configure-product-screen .main-section .selected-photos-section {
    position: relative;
    text-align: center;
}


.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos{
}


.buy-screens .configure-product-screen .main-section .selected-photos-section .add-all-photos{
    position: relative;
    top: 17px;
    display:none;
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .clear-all-photos{
    position: relative;
    top: 17px;
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .add-photos-message{
    position: relative;
    width: 230px;
    top: 71px;
    left: 30px;
    background-color: #F9F9FA;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 20px 40px 20px 40px;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    color: #333;
    text-shadow: 1px 1px white;
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos{
    position: relative;
    top: 32px;
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos .selected-photo{
    position: relative;
    margin-bottom: 30px;
    text-align:center;
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos .selected-photo .photo-border{
    margin-left: auto;
    margin-right: auto;
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos .selected-photo .photo-border .error-icon{
    display: none;

}

.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos .selected-photo.bad-size .photo-border .error-icon{
    display: block;
    position:absolute;
    background: url(/images/buy/large-error-icon.png) no-repeat scroll 0px 0px transparent;
    height:66px;
    width:66px;
    top:-1000px; /* hide to begin */
}


.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos .selected-photo .photo-image{
}

.buy-screens .configure-product-screen .main-section .selected-photos-section .selected-photos .selected-photo.bad-size .photo-image{
    opacity: 0.3;
    filter: alpha(opacity = 30); /* for ie */
}



.buy-screens .configure-product-screen .footer-section{
    position: absolute;
    height:125px;
    left:0px;
    right:0px;
    bottom:0px;
    border-top: 1px solid #CCC;
    background-color: #eeeeee;

}


.buy-screens .configure-product-screen .bad-photos-error{
    position: absolute;
    left: 0px;
    width: 379px;
    height: 71px;
    background-color: #FCC;
    bottom:126px;
    display:none;
}

.buy-screens .configure-product-screen.bad-photos .bad-photos-error{
    display:block;
}


.buy-screens .configure-product-screen  .bad-photos-error .icon{
    position: absolute;
    left: 20px;
    top: 17px;
    width: 34px;
    height: 34px;
    background: url("/images/buy/error-icon.png") no-repeat scroll
}

.buy-screens .configure-product-screen .bad-photos-error .message{
    position: absolute;
    left: 71px;
    top: 10px;
    right: 25px;
    bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}



.buy-screens .configure-product-screen .footer-section .image{
    position: absolute;
    height: 85px;
    width: 85px;
    left: 14px;
    top: 19px;
}

.buy-screens .configure-product-screen .footer-section .description{
    position: absolute;
    left: 112px;
    top: 20px;
    width: 230px;
    font-size: 14px;
    height: 38px;
    overflow: hidden;
    font-weight: bold;
}

.buy-screens .configure-product-screen .footer-section .count-and-price{
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 56px;
    left: 112px;
    font-weight: normal;
}


.buy-screens .configure-product-screen .footer-section .checkout-button{
    position: absolute;
    top: 85px;
    left: 112px;
    width: 85px;
}






/*  checkout banner
 *************************************************/

#checkout-banner {
    position: absolute;
    width: 381px;
    height: 71px;
    top: 35px;
    background-color: transparent;
    display: none;
    z-index: 200;
    background: url(/images/buy/checkout-banner.png) no-repeat scroll 0px 0px transparent;
}


#checkout-banner .message{
    position: absolute;
    width: 240px;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 1px 1px white;
    left: 59px;
    top: 33px;
    text-align: left;
}

#checkout-banner .checkout-button{
    position: absolute;
    right: 15px;
    top: 28px;
    width: 80px;
}

#checkout-banner .close-button{
    position: absolute;
    top: 33px;
    left: 20px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: url(/images/buy/delete-button.png) no-repeat scroll 0px -19px transparent;
}


#checkout-banner .close-button:hover{
    background: url(/images/buy/delete-button.png) no-repeat scroll 0px 0px transparent;
}


.buy-drawer-scrim {
    position: absolute;
    top: 0;
    left: 0;
    right: 380px;
    bottom: 0;
    display: none;
}

.buy-drawer-scrim .scrim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
    filter: alpha(opacity = 50);
}


.buy-drawer-scrim .dialog {
    position: absolute;
    height: 432px;
    width: 622px;
    top: 125px;
    background: url(/images/buy/three-steps-to-buy.png) no-repeat scroll 0px 0px transparent;
}




.glamour-page{

}

.glamour-page .product-image{
    position: absolute;
    top: 66px;
    left: 34px;
}

.glamour-page.product-id-941187647 .product-image{
    top:80px;
}

.glamour-page.product-id-941187649 .product-image{
    left:14px;
}



.glamour-page .product-image img{
    width: 375px;
    height: 375px;
}

.glamour-page .product-name{
    position: relative;
    top: 26px;
    left: 0px;
    right:0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.glamour-page .product-description{
    position: absolute;
    top: 95px;
    left: 450px;
    font-size: 16px;
    text-align: left;
    right: 30px;
}

.glamour-page.product-id-941187651 .product-description{
    top: 133px;
}

.glamour-page.product-id-941187648 .product-description{
    top: 84px;
}

.glamour-page.product-id-941187649 .product-description{
    top: 139px;
}

.glamour-page.product-id-941187650 .product-description{
    top: 109px;
}

.glamour-page.product-id-941187653 .product-description{
    top: 148px;
}

.glamour-page.product-id-941187654 .product-description{
    top: 66px;
}

.glamour-page .product-description li{
    list-style: disc;
    margin-bottom: 15px;
    line-height: 25px;
}

.glamour-page .product-prices{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:120px;
    text-align: center;
    border-top:  1px solid #d5d5d5;
    background-color: #f9f9fa;
}

.glamour-page .product-prices .title{
    position:relative;
    top:10px;
    font-size:19px;
    font-weight: bold;
}


.glamour-page .product-prices .column{
    display: inline-block;
    width: 110px;
    position: relative;
    top: 25px;
    text-align: left;
}

.glamour-page .product-prices .column.middle{
    margin-left:40px;
    margin-right:40px;

}


.glamour-page .product-prices .column .option{
    margin-bottom:5px;
}

.glamour-page .product-prices .column .option .name{
    font-size:14px;
    font-weight: bold;
    width: 50px;
    display: inline-block;
}

.glamour-page .product-prices .column .option .price{
    font-size:14px;
    margin-left: 4px;
    width: 50px;
    display: inline-block;
}

.glamour-page .loading{
    position: relative;
    top:100px;
}

