.contacts-btn{
    width: 88px;
}

.contacts-btn span div{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.contacts-btn .off{
     display: none
}
.contacts-btn .on{
    background: url('/images/icon-contact-btn.png') scroll no-repeat 0 0;
}
.contacts-btn .error{
    background: url('/images/icon-contact-btn.png') scroll no-repeat 0 -40px;
}
.contacts-btn .sync{
    background: url('/images/icon-contact-btn.png') scroll no-repeat 0 -79px;
}

.tokenizer{
    font-size:14px;
    text-align: left;
    margin: 30px;
}

.tokenizer input{
    border: 0;
    -moz-box-shadow: none;
}
