/*
 *  Copyright 2011 All Rights Reserved. ZangZing LLC www.zangzing.com
 *
 */


 /*      ZZ DIALOG
  *********************************************************************/
.zz_dialog_scrim{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: .6;
    filter: alpha(opacity = 60); /* for ie */
    background: #000000;
    z-index: 99990;
}

.zz_dialog{
    display: none;
	position: fixed;
    border: 7px solid #d8d8d9;
    background-color: #d8d8d9 ;
    z-index: 99991;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.zz_dialog div.zz_dialog_inner{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow: hidden;
    background-color:#fff;
    opacity:1.0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.zz_dialog_closer{
    border: 0;
    position: absolute;
    right:-19px;
    top:-19px;
    /*z-index: 9999;*/
    background: url('/images/btn-x-close-dialog.png') scroll no-repeat ;
    height: 40px;
    width: 40px;
    display:none;
}

.zz_dialog h3{
    font-size: 20px;
    font-weight: 500;
    color: #2C2C2C;
    margin-top: 20px;
    margin-bottom: 5px;
}

.zz_dialog h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #2C2C2C;
}



/*      PROGRESS DIALOG
 *********************************************************************/
.progress-dialog-content{
    position:relative;
    top:15px;
    font-size:16px;
    text-align: center;
}

.progress-dialog-content img{
    position: relative;
    top: 10px;
}

.progress-dialog-content #dspin_here{
    position: relative;
    top: 45px;
}

.spinner-dialog-content{
    position: relative;
    top:15px;
    font-size:16px;
    text-align: center;
    padding: 5px 10px;
}

.spinner-dialog-content #dspin_here{
    position: relative;
    top: 80px;
}


/*      FLASH DIALOG
 *********************************************************************/
#flash-dialog{
    width:  350px;
    height: 150px;
	display: none;
    border: 0;
}

#flash-dialog #flash{
   text-align: left;
   color: #6A6A6C;
   font-weight: 200;
   position: absolute;
   top: 30px;
   left: 30px;
   font-size: 14pt;
   padding-right: 30px;
}

#flash-dialog #ok{
  position: absolute;
  bottom:  30px;
  right:   40px;
  width:   80px;
}

/*      DOWNLOAD DIALOG
 *********************************************************************/
#download-dialog{
    width:  400px;
    height: 230px;
	display: none;
    border: 0;
}

#download-dialog #msg{
   text-align: left;
   color: #6A6A6C;
   font-weight: 400;
   position: absolute;
   top: 30px;
   left: 30px;
   font-size: 14pt;
   padding-left: 10px;
   padding-right: 40px;
}

#download-dialog #msg #warning{
   text-align: left;
   font-weight: 200;
   font-size: 12pt;
}


#download-dialog #ok{
  position: absolute;
  bottom:  25px;
  right:   40px;
  width:   80px;
}

#download-dialog #dspin_here{
  position: relative;
  top:  195px;
}

 /*       NEW SQUARE DIALOG
  *********************************************************************/
.square-dialog-scrim {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('/images/dialog/transparent.png'); /* if you just use transparend color, then scrim on IE won't trap events */
    z-index: 99990;
}

.square-dialog {
    position: absolute;
    top:100px;
    left:100px;
    width: 600px;
    height: 100px;
    background-color: #fff;
}

.square-dialog .content {
    position: absolute;
    top:1px;
    left:1px;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
}

.square-dialog .close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    background: url('/images/dialog/close-button.png');
    cursor: pointer;
}

.square-dialog .tl-corner {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    left: -50px;
    background: url('/images/dialog/top-left-corner.png');
}

.square-dialog .tr-corner {
    position: absolute;
    height: 100px;
    width: 100px;
    top: -50px;
    right: -50px;
    background: url('/images/dialog/top-right-corner.png');
}

.square-dialog .bl-corner {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -50px;
    left: -50px;
    background: url('/images/dialog/bottom-left-corner.png');
}

.square-dialog .br-corner {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: -50px;
    right: -50px;
    background: url('/images/dialog/bottom-right-corner.png');
}

.square-dialog .t-side {
    position: absolute;
    height: 100px;
    top: -50px;
    left: 50px;
    right: 50px;
    background: url('/images/dialog/top-side.png');
}

.square-dialog .b-side {
    position: absolute;
    height: 100px;
    bottom: -50px;
    left: 50px;
    right: 50px;
    background: url('/images/dialog/bottom-side.png');
}

.square-dialog .r-side {
    position: absolute;
    width: 100px;
    top: 50px;
    right: -50px;
    bottom: 50px;
    background: url('/images/dialog/right-side.png');
}

.square-dialog .l-side {
    position: absolute;
    width: 100px;
    top: 50px;
    left: -50px;
    bottom: 50px;
    background: url('/images/dialog/left-side.png');
}



/* SOCIAL LIKE DIALOG
 * (Post your like in Facebook and/or Twitter? )
 *********************************************************************/
#social-like-dialog{
    width:  500px;
    height: 190px;
	display: none;
    border: 0;
}

#social-like-dialog div{
    position: absolute;
}

#social-like-dialog #ld-inner{
    top: 20px;
    left: 20px;
    width:  460px;
    height: 150px;
    text-align: left;
}
#ld-top{
    height:20px;
    font-size: 18px;
}
#ld-middle{
   top: 35px;
   width: 460px;
   height:65px;
}

#ld-middle textarea{
    width: 440px;
    height: 55px;
    border: 1px solid #c8c8c9;
    font-size: 14px;
    padding: 8px;
    vertical-align:text-top;
    -moz-box-shadow: 0px 0px 1px 1px  #fed33a;
    -webkit-box-shadow: 0px 0px 1px 1px  #fed33a;
    box-shadow: 0px 0px 1px 1px  #fed33a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#ld-dothis{
   bottom: 6px;
   font-size: 13px;
}

#ld-cancel{
   width: 90px;
   position: absolute;
   bottom: 0;
   right: 95px;

}

#ld-ok{
   width: 80px;
   position: absolute;
   bottom: 0;
   right: 0px;
}



/* REQUEST ACCESS/CONTRIBUTOR DIALOG
 *********************************************************************/
div.request_access#social-like-dialog{
    height: 220px;
}

div.request_access#social-like-dialog div#ld-inner{
    height: 190px;
}

.request_access #ld-top{
    font-size: 14px;
}

.request_access #ld-middle{
   top: 65px;
}

.request_access #ld-cancel{
   right: 125px;
}

.request_access #ld-ok{
   width: 100px;
}

/* NEW DIALOG
 * (signin, join, password resets)
 *********************************************************************/
.new-dialog{
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.new-dialog .frame{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:8px solid #d5d5d5;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity:0.6;
    filter: alpha(opacity = 60);

}

.new-dialog .background{
    position:absolute;
    top:7px;
    left:7px;
    right:7px;
    bottom:7px;
    background-color:#fff;
    opacity:0.9;
    filter: alpha(opacity = 90);
    border-radius: 10px;
}

.new-dialog .body{
    position:absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;

}