.album-cell{
    /*float:left;*/
    display:inline-block;
    height:230px;
    width:230px;
    position:relative;
}

.album-section-header{
    color: #666;
    font-size: 20px;
    font-weight: 300;
    text-align:left;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
    text-shadow: white 1px 1px 0px;
    margin-bottom:10px;

}

.albums-list{
    text-align:left;
    margin-left:30px;
    margin-right:30px;
    margin-top:30px;
    min-height:263px;
}


#inline-new-album-button{
    position: absolute;
    top: 26px;
    left: 140px;
}