/* IE7 hackshop - BZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ!!!!
----------------------------------------------------------------------------- */

nav ul#nav-left {
  width: 194px;
}

nav ul#nav-right {
  width: 224px;
}

header {
  clear:both;
}