.import-all .header{
    font-size: 23px;
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px
}

.import-all .sub-header{
    font-size: 15px;
    position: absolute;
    top: 62px;
    left: 0px;
    right: 0px
}


.import-all .select-service{
    display: block;
}

.import-all .select-service .services{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
}


.import-all .select-service .services .service{
    position:relative;
    display: inline-block;
    width:149px;
    height:128px;
    cursor: pointer;
    background: url(/images/import/stack.png) no-repeat scroll 0px 0px transparent;
    margin-left:20px;
    margin-top:20px;

}

.import-all .select-service .services .service div{
    opacity: 0.75;
    filter: alpha(opacity = 75); /* for ie */

}


.import-all .select-service .services .service:hover div{
    opacity: 1;
    filter: alpha(opacity = 100); /* for ie */

}


.import-all .select-service .services .service div{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}


.import-all .select-service .services .service.google div{
    background: url(/images/import/picasa.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.facebook div{
    background: url(/images/import/facebook.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.mobileme div{
    background: url(/images/import/mobileme.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.flickr div{
    background: url(/images/import/flickr.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.dropbox div{
    background: url(/images/import/dropbox.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.shutterfly div{
    background: url(/images/import/shutterfly.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.kodak div{
    background: url(/images/import/kodak.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.instagram div{
    background: url(/images/import/instagram.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.smugmug div{
    background: url(/images/import/smugmug.png) no-repeat center center transparent;
}

.import-all .select-service .services .service.photobucket div{
    background: url(/images/import/photobucket.png) no-repeat center center transparent;
}



/*.import-all .select-service .services .service:hover{*/
    /*text-decoration: underline*/
/*}*/



/*.import-all .select-service .services .service.google{*/
    /*background: url(/images/logos/google-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.flickr{*/
    /*background: url(/images/logos/flickr-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.facebook{*/
    /*background: url(/images/logos/facebook-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.smugmug{*/
    /*background: url(/images/logos/smugmug-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.photobucket{*/
    /*background: url(/images/logos/photobucket-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.instagram{*/
    /*background: url(/images/logos/instagram-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.dropbox{*/
    /*background: url(/images/logos/dropbox-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.mobileme{*/
    /*background: url(/images/logos/mobileme-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.shutterfly{*/
    /*background: url(/images/logos/shutterfly-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/

/*.import-all .select-service .services .service.kodak{*/
    /*background: url(/images/logos/kodak-sq.png) no-repeat scroll 0px 0px transparent;*/
/*}*/



.import-all .confirm-import{
    display: none;
}

.import-all .confirm-import .privacy-buttons{
    position: absolute;
    top: 125px;
    left: 50px;
    width: 770px;
    height: 143px;
}

.import-all .confirm-import .privacy-buttons .public-button{
    position:absolute;
    width: 228px;
    height:131px;
    left:19px;
    top:4px;
    background: url('/images/groups/public-button.png') no-repeat 0px -1px;
    cursor:pointer;
}

.import-all .confirm-import .privacy-buttons .public-button:hover{
    background: url('/images/groups/public-button.png') no-repeat 0px -132px;
}

.import-all .confirm-import .privacy-buttons .public-button.selected{
    background: url('/images/groups/public-button.png') no-repeat 0px -263px;
}




.import-all .confirm-import .privacy-buttons .hidden-button{
    position:absolute;
    width: 228px;
    height:131px;
    left:273px;
    top:4px;
    background: url('/images/groups/hidden-button.png') no-repeat 0px -1px;
    cursor:pointer;
}

.import-all .confirm-import .privacy-buttons .hidden-button:hover{
    background: url('/images/groups/hidden-button.png') no-repeat 0px -132px;
}

.import-all .confirm-import .privacy-buttons .hidden-button.selected{
    background: url('/images/groups/hidden-button.png') no-repeat 0px -263px;
}


.import-all .confirm-import .privacy-buttons .password-button{
    position:absolute;
    width: 228px;
    height:131px;
    left:527px;
    top:4px;
    background: url('/images/groups/password-button.png') no-repeat 0px -1px;
    cursor:pointer;
}

.import-all .confirm-import .privacy-buttons .password-button:hover{
    background: url('/images/groups/password-button.png') no-repeat 0px -132px;
}

.import-all .confirm-import .privacy-buttons .password-button.selected{
    background: url('/images/groups/password-button.png') no-repeat 0px -263px;
}








.import-all .confirm-import .import-all-button{
    position:absolute;
    bottom:40px;
    left:375px;
}



.import-all .import-progress{
    display: none;
}

.import-all .import-progress img.import-image {
    position: absolute;
    top: 175px;
    left: 67px;
    right: 0px;
    height: 150px;
    width: 463px;
}

.import-all .import-progress img.spinner {
    position: absolute;
    top: 399px;
    left: 288px;
    right: 0px;
    height: 23px;
    width: 23px;
}

.import-all .import-progress .message {
    font-size: 14px;
    position: absolute;
    top: 360px;
}


