.invitation-banner .message {
    margin: 8px auto;
    font-size: 16px;
    font-weight: 200;
    color: #0A0A0A;
    text-align: center;
}

.invitation-banner .message .bold{
    font-weight: 600;
}


.invitation-banner .buttons{
    width:230px;
    margin: 0 auto;
}
.invitation-banner .gray-button, .invitation-banner .green-button {
    width: 100px;
    display: inline-block;
}

.invitation-banner .green-button {
    margin-right: 10px;
}
