.invitation-banner{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}

.invitation-banner .invite-button{
    position: absolute;
    width:100px;
    right:10px;
}



.invitation-banner .message {
    position: absolute;
    top: 8px;
    left: 27px;
    right:0px;
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
    color: #0A0A0A;
    text-align: center;

}

.invitation-banner .message .bold{
    font-weight: 600;
}


.invitation-banner .invite-button{
    position: absolute;
    width: 100px;
    right: 310px;
    bottom: 9px;
}

.invitation-banner .no-thanks-button{
    position: absolute;
    width: 100px;
    left: 310px;
    bottom: 9px;
}

