.invitation-page {
    /*background: url("/images/invitation-landing/bg.png") no-repeat scroll center top;*/
}

.invitation-page .top-section {
    position: absolute;
    height: 345px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #fff;

}

.invitation-page .top-section .centered {
    width: 900px;
    height: 345px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.invitation-page .top-section .logo {
    position: absolute;
    top: 18px;
    width: 180px;
    height: 42px;
    background: url("/images/invitation-landing/logo.png") no-repeat scroll left top;
    left: 349px;

}

.invitation-page .top-section .title {
    position: relative;
    top: 111px;
    font-size: 30px;
    font-weight: bold;
    width: 560px;
}

.invitation-page .top-section .sub-title {
    position: relative;
    top: 116px;
    font-size: 30px;
    font-weight: normal;
    width: 560px;
}

.invitation-page .top-section .note {
    position: relative;
    top: 146px;
    font-size: 19px;
    font-weight: normal;
    width: 560px;

}

.invitation-page .top-section .join-form {
    position: absolute;
    right: 56px;
    top: 98px;
}

.invitation-page .top-section .join-form li {
    position: relative;
    margin-bottom: 5px;
}

.invitation-page .top-section .join-form li label {
    position: absolute;
    top: 12px;
    left: 11px;
    color: #999;
    font-size: 16px
}

.invitation-page .top-section .join-form li input {
    width: 200px;
    height: 25px;
    padding: 6px 9px;
    border: 1px solid #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 16px

}

.invitation-page .top-section .join-form li input.error {
    background-color: #fddbda;
    border-color: #fd514f;
}

.invitation-page .join-form li label.error {
    top: 2px;
    bottom: 42px;
    left: -134px;
    width: 185px;
    height: 22px;
    margin: 0 0 0 -78px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    min-height: 15px;
    opacity: 0.8;
    border: 1px solid white;
    background-color: black;
    box-shadow: black 0px 0px 10px;
    -webkit-box-shadow: black 0px 0px 10px;
    -moz-box-shadow: black 0px 0px 10px;
    border-image: initial;
}

.invitation-page .top-section .join-form .submit-button {
    width: 100px;
}

.invitation-page .bottom-section {
    position: absolute;
    top: 345px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #141414;
}

.invitation-page .next-prev-container{
    width:1004px;
    height:548px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    background: #141414 url('/images/invitation-landing/feature_glow.jpg') no-repeat 50% 50%;
}

.invitation-page .next-prev-container .next-button{
    position: absolute;
    top: 200px;
    right:0px;
    color:#fff;
    background: url('/images/invitation-landing/sprites.png') no-repeat -31px 0;
    cursor: pointer;
    width: 30px;
    height: 71px;
    display:none;
}

.invitation-page .next-prev-container .next-button:hover{
    background: url('/images/invitation-landing/sprites.png') no-repeat -31px -71px;
    display:block;

}



.invitation-page .next-prev-container .prev-button{
    position: absolute;
    top: 200px;
    left:0px;
    background: url('/images/invitation-landing/sprites.png') no-repeat 0 0;
    cursor: pointer;
    width: 30px;
    height: 71px;
    display:none;
}

.invitation-page .next-prev-container .prev-button:hover{
    background: url('/images/invitation-landing/sprites.png') no-repeat 0 -71px;
    display:block;
}

.invitation-page .next-prev-container .slide-dots{
    position: absolute;
    width: 124px;
    height: 44px;
    left: 491px;
    top: 439px;
}

.invitation-page .next-prev-container .slide-dots .dot{
    display:inline-block;
    vertical-align: top;
    background: url('/images/invitation-landing/sprites.png') no-repeat 0 -160px;
    width: 22px;
    height: 44px;
    cursor: pointer;
}

.invitation-page .next-prev-container .slide-dots .dot.selected{
    background: url('/images/invitation-landing/sprites.png') no-repeat 0 -194px;
}


.invitation-page .slide-container{
    width:906px;
    height:400px;
    position:relative;
    top:30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.invitation-page .slide-container .slide-clip{
    width:10000px;
    height:360px;
    text-align:left;
    position:absolute;
    top:0px;
    left:0px;
}

.invitation-page .slide-container .slide-clip .slide{
    display:inline-block;
    position:relative;
    height: 360px;
    width: 906px;
    /*border: 1px solid red;*/
    vertical-align: top;
}

.invitation-page .slide-container .slide-clip .slide .hero_content {
    position: absolute;
    right:0px;
    top:0px;
    width:350px;
}

.invitation-page .slide-container .slide-clip .slide .hero_content h1{
    font-family: 'HelveticaNeue-Bold','HelveticaNeue',sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 0 transparent, 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.invitation-page .slide-container .slide-clip .slide .hero_content h1:first-of-type{
    margin-top: 60px;
}


.invitation-page .slide-container .slide-clip .slide .hero_content h2{
    font-family: 'HelveticaNeue',sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 0 0 transparent, 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.invitation-page .slide-container .slide-clip .slide .hero_content h2:first-child{
    margin-top: 58px;
}


.invitation-page .slide-container .slide-clip .slide .hero_content p{
    font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif;
    font-size: 25px;
    color: #fff;
    margin-bottom: 29px;
    margin-top: 10px;
    line-height: 35px;
    text-shadow: 0 0 0 transparent, 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.invitation-page .slide-container .slide-clip .slide .hero_image {
    position: absolute;
    left:0px;
    top:0px;
}


.invitation-page .slide-container .slide-clip .slide.photo_sharing_redesigned .hero_image {
    top:0px;
}

.invitation-page .slide-container .slide-clip .slide.add_from_anywhere .hero_image {
    top:43px;
}

.invitation-page .slide-container .slide-clip .slide.group_photo_sharing .hero_image {
    top:0px;
}

.invitation-page .slide-container .slide-clip .slide.share_how_you_want .hero_image {
    top:0px;
}

.invitation-page .slide-container .slide-clip .slide.simply_beautiful .hero_image {
    top:0px;
}

