.joinpage {
	font-weight: 200;
}

.joinpage .title {
	margin: 0.8em auto 0;
	font-size: 36px;
	font-weight: bold;
}

.joinpage .message, .joinpage .afterform {
	margin: 0.8em auto;
	font-size: 24px;
	text-shadow: #FFF 1px 1px; /* TODO: */
	letter-spacing:1px; 
	color: #444;
}

.joinpage .afterform {
	margin: 1.6em auto;
}

.joinpage .flash-error {
	margin: 2em auto;
	font-size: 16px;
}

.joinpage .join-form li {
    position: relative;
    margin: 0 auto 10px;
    width: 330px;
}

.joinpage .join-form li label {
    position: absolute;
    top: 10px;
    left: 11px;
    color: #999;
    font-size: 16px
}


/* Undo styling from main.css */
.joinpage input[type=text], 
.joinpage input[type=password], 
.joinpage textarea{
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    border: 0;
    padding: 0;
}



.joinpage .join-form li input {
    padding: 6px 9px;
    width: 100%;
    height: 25px;   
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
    box-shadow: #AAA 0px -1px 0px;
    -webkit-box-shadow: #AAA 0px -1px 0px;
    -moz-box-shadow: #AAA 0px -1px 0px;
}

.joinpage .join-form li input.error {
    background-color: #fddbda;
    border-color: #fd514f;
}

.joinpage .join-form li label.error {
    top: 0px;
    left: 360px;
    width: 170px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    min-height: 30px;
    opacity: 0.8;
    color: #333;
	font-size:14px;
	border: 1px solid #FD514F;
	background-color: #FFF8DE;
	box-shadow: #666 0px 1px 1px;
	-webkit-box-shadow: #666 0px 1px 1px;
	-moz-box-shadow: #666 0px 1px 1px;
	text-align: left;
}

#submit {
	width: 350px;
	height: 36px;

	font-size: 16px;
	color: #fff;
	
	text-shadow: 0 0 0 transparent, 0px 1px 4px #000;
	background:#318e2c url('/images/btn-green-38.png') repeat-x 0 0px; /* TODO: */
	border: 1px solid #318e2c;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	
	box-shadow:inset 0 1px 0 #83c680;
	-webkit-box-shadow:inset 0 1px 0 #83c680;
	-moz-box-shadow:inset 0 1px 0 #83c680;

	cursor: pointer;
}


/* green hover */
#submit:hover {
	background-position: 0 -50px;
	border-color: #026404;
	box-shadow:inset 0 1px 0 #7ab478;
	-webkit-box-shadow:inset 0 1px 0 #7ab478;
	-moz-box-shadow:inset 0 1px 0 #7ab478;
}

/* green active */

#submit:active {
	box-shadow:inset 0 2px 2px #318e2c;
	-webkit-box-shadow:inset 0 2px 3px #026404;
	-moz-box-shadow:inset 0 2px 2px #318e2c;
}
