/*===================================== LIKE TAG =============================================*/
.zzlike{
    position: relative;

}
.zzlike div.zzlike-button{
    display: inline-block;
    position: relative;
    height:  18px;
}

div.zzlike-button .zzlike-icon{
    left: 0;
    width:  20px;
    height: 18px;
    background: url('/images/album_toolbar_love.png');
}

div.zzlike-button .zzlike-icon.thumbup  {  background-position:   1px -54px; }
div.zzlike-button .zzlike-icon.thumbdown{  background-position:   1px -18px; }
div.zzlike-button .zzlike-icon.thumbup:hover  { background-position: 1px -36px; }
div.zzlike-button .zzlike-icon.thumbdown:hover{ background-position: 1px 0px;     }

div.zzlike-button div.zzlike-count{
    position: absolute;
    top: 7px;
    left: 11px;
    border: solid 1px #999999;
    background: #ffffff;
    color:#111111;
    text-align: right;
    text-shadow: 0 .5px 1px #666666;
    padding: .5px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
}
div.zzlike-count.empty{
    display:none;
}

.zzlike-toolbar{
    background: url("/images/embed/toolbars/btn-footer-love.png");
}

.zzlike-toolbar.thumbup  {  background-position:      0 -110px; }
.zzlike-toolbar.thumbdown{  background-position:      0    0; }
.zzlike-toolbar.thumbup:hover  { background-position: 0 -165px; }
.zzlike-toolbar.thumbdown:hover{ background-position: 0  -55px;     }

.zzlike-toolbar div.zzlike-count{
    position: absolute;
    top: 22px;
    left: 31px;
    border: solid 1px #888888;
    background: #cccccc;
    color:#111111;
    text-align: right;
    text-shadow: 0 .5px 1px #666666;
    padding: 0 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    /*
    -moz-box-shadow:inset 0 0 1px #111111;
    -webkit-box-shadow:inset 0 0 1px #111111;
    box-shadow:inset 0 0 1px #111111;
    */
}

.ua-ie .zzlike-toolbar div.zzlike-count{
    border: solid 1px #999999;
}

.zzlike-follow{
    width:  70px;
    height: 20px;
    background-repeat: no-repeat;
}
.zzlike-follow.thumbup  {     background: url("/images/embed/toolbars/btn-header-follow.png") 0 0; }
.zzlike-follow.thumbdown{     background: url("/images/embed/toolbars/btn-header-follow.png") 0  -40px; }
.zzlike-follow.thumbup:hover{ background: url("/images/embed/toolbars/btn-header-follow.png") 0 -20px;  }

/*.zzlike-follow.thumbdown:hover{ background-position: 0     }*/






/* ============================ Social Like Dialog (Post your like in Facebook and/or Twitter? ) ======*/
#social-like-dialog{
    width:  500px;
    height: 190px;
	display: none;
    border: 0;
}

#social-like-dialog div{
    position: absolute;
}

#social-like-dialog #ld-inner{
    top: 20px;
    left: 20px;
    width:  460px;
    height: 150px;
    text-align: left;
}
#ld-top{
    height:20px;
    font-size: 18px;
}
#ld-middle{
   top: 35px;
   width: 460px;
   height:65px;
}

#ld-middle textarea{
    width: 440px;
    height: 55px;
    border: 1px solid #c8c8c9;
    font-size: 14px;
    padding: 8px;
    vertical-align:text-top;
    -moz-box-shadow: 0px 0px 1px 1px  #fed33a;
    -webkit-box-shadow: 0px 0px 1px 1px  #fed33a;
    box-shadow: 0px 0px 1px 1px  #fed33a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#ld-dothis{
   bottom: 6px;
   font-size: 13px;
}

#ld-cancel{
   width: 90px;
   position: absolute;
   bottom: 0;
   right: 95px;

}

#ld-ok{
   width: 80px;
   position: absolute;
   bottom: 0;
   right: 0px;
}
