/*===================================== LIKE TAG =============================================*/
div.zzlike{
    position: relative;
}

div.zzlike div.zzlike-button{
     display: inline-block;
    position: relative;
    width:   25px;
    height:  20px;
    line-height: 20px;
    border: solid 1px black;
    background: #ffce00;
    text-align: left;
    padding: 0 5px 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 11px;

}
div.zzlike span.zzlike-vader{
    position: absolute;
    top: 1px;
    left: 3px;
    width:  14px;
    height: 18px;
    background: url('/images/zangvader.png') scroll no-repeat   left 0;
}

div.zzlike span.zzlike-thumbup{
    position: absolute;
    top: 1px;
    left: 3px;
    width:  13px;
    height: 18px;
    background: url('/images/icon-like-off.png') scroll no-repeat   left 0;
}


div.zzlike div.zzlike-count{
    display: inline-block;
    position: absolute;
    top:1px;
    left: 52px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0 0 0 5px;
    background: url('/images/like-countbox.png') scroll no-repeat;
}


/* ============================ Social Like Dialog (Post your like in Facebook and/or Twitter? ) ======*/
#social-like-dialog{
    width:  500px;
    height: 190px;
	display: none;
    border: 0;
}

#social-like-dialog div{
    position: absolute;
}

#social-like-dialog #ld-inner{
    top: 20px;
    left: 20px;
    width:  460px;
    height: 150px;
    text-align: left;
}
#ld-top{
    height:20px;
    font-size: 18px;
}
#ld-middle{
   top: 35px;
   width: 460px;
   height:65px;
}

#ld-middle textarea{
    width: 440px;
    height: 55px;
    border: 1px solid #c8c8c9;
    font-size: 14px;
    padding: 8px;
    vertical-align:text-top;
    -moz-box-shadow: 0px 0px 1px 1px  #fed33a;
    -webkit-box-shadow: 0px 0px 1px 1px  #fed33a;
    box-shadow: 0px 0px 1px 1px  #fed33a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#ld-dothis{
   bottom: 6px;
   font-size: 13px;
}

#ld-cancel{
   width: 90px;
   position: absolute;
   bottom: 0;
   right: 95px;

}

#ld-ok{
   width: 80px;
   position: absolute;
   bottom: 0;
   right: 0px;
}
