/* Body, headers, text
----------------------------------------------------------------------------- */

html {overflow-y: scroll;}


body { 
  width: 98%;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #0a0a0a;
  /* the following fixes that annoying tell-tale js animation flicker */
  /*opacity: 0.99999; */
  /*-moz-opacity: 0.99999; */
  /*-html-opacity: 0.99999;*/
  /*filter: alpha(opacity=99);*/
  text-align: center;
}

h2 {
  margin-bottom: 6px;
  font-size: 2.0em;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
}

/* Fixed Header and Footer
----------------------------------------------------------------------------- */

div#container {
  width: 950px;
  margin: 0 auto;
} /* allows the fixed-position elements to be in the center w/o js hacks */

nav {
  position: fixed;
  width: 950px;
  height: 55px;
  padding: 0;
  bottom: 0px;
  background-image: url("/images/bg-bottom-bar.png");
  background-repeat: no-repeat;
  z-index: 10;
}


ul#bottom-nav li {
  float: left;
  white-space:nowrap;
}

ul#bottom-nav li#play-btn {
  width: 40px;
  padding: 10px 5px;
}

ul#bottom-nav li#left-half, ul#bottom-nav li#right-half {
  width: 430px;
}

ul#bottom-nav li#left-half {
  margin-right: 20px;
}

ul#bottom-nav li#right-half {
  margin-left: 20px;
}

ul#bottom-nav li ul#owner-nav {
  width: 420px;
  margin-left: 10px;
}

ul#bottom-nav li ul#owner-nav li {
  float: left;
  width: 70px;
  margin-left: 12px;
  background-position: center 15%;
  background-repeat: no-repeat;
  padding-top: 40px;
  cursor: pointer;
  color: #a4a4a4;
  font-size: 1.2em;
}

ul#bottom-nav li ul#viewer-nav {
  width: 420px;
  margin-right: 10px;
}

ul#bottom-nav li ul#viewer-nav li {
  float: right;
  width: 50px;
  margin-left: 12px;
  background-position: center 15%;
  background-repeat: no-repeat;
  padding-top: 40px;
  cursor: pointer;
  color: #a4a4a4;
  font-size: 1.2em;}

ul#bottom-nav li ul#owner-nav li:hover {
  color: #0a0a0a;
}

ul#bottom-nav li ul#owner-nav  li#nav-status {
  background-position: center 25%;
}

li#nav-new-album {
  background-image: url("/images/bg-new-album-off.png");
}

li#nav-new-album:hover {
  background-image: url("/images/bg-new-album-on.png");
}

li#nav-edit-album {
  background-image: url("/images/bg-edit-album-off.png");
}

li#nav-edit-album:hover {
  background-image: url("/images/bg-edit-album-on.png");
}

li#nav-help {
  background-image: url("/images/bg-help-off.png");
}

li#nav-help:hover {
  background-image: url("/images/bg-help-on.png");
}

li#nav-add-photo {
  background-image: url("/images/bg-add-photo-off.png");
}

li#nav-add-photo:hover {
  background-image: url("/images/bg-add-photo-on.png");
}

li#nav-share {
  background-image: url("/images/bg-share-off.png");
}

li#nav-share:hover {
  background-image: url("/images/bg-share-on.png");
}

li#nav-like {
  background-image: url("/images/bg-like-off.png");
}

li#nav-like:hover {
  background-image: url("/images/bg-like-on.png");
}

li#nav-buy {
  background-image: url("/images/bg-buy-off.png");
}

li#nav-buy:hover {
  background-image: url("/images/bg-buy-on.png");
}

header {
  position: fixed;
  width: 950px;
  height: 60px;
  top: 0px;
  background-image: url("/images/bg-top-bar-oct.png");
  background-repeat: no-repeat;
  z-index: 10;
}

header ul#top-nav li {
  float: left;
  margin-right: 15px;
}

li#nav-home {
  width: 140px;
  height: 60px;
  cursor: pointer;
}

li#nav-back {
  padding: 15px 0;
  text-align: center;
  width: 100px;
  height: 40px;
}

li#nav-main {
  width: 410px;
}

li#nav-main ul li h2 {
  margin-top: 3px;
}

li#nav-views {
  width: 165px;
  padding: 12px 0;
}

header ul#top-nav li ul#view-swap li {
  float: left;
  margin: 0 0 0 0;
}

header ul#top-nav li#nav-account {
  width: 58px;
  margin-right: 0px;
  padding: 6px 0 4px 12px;
  font-size: 1.1em;
  text-align: left;
  float: right;
}

li#nav-account img {
  float: left;
  margin: 0 2px 4px 0;
}

header ul#top-nav li#nav-sign-in {
  width: 45px;
  padding: 34px 12px 0;
  color: #a4a4a4;
  background-image: url(/images/btn-sign-in-off.png);
  background-position: center 40%;
  background-repeat: no-repeat;
  font-size: 1.2em;
  line-height: 0.5em;
  margin-right: 0px;
  text-align: center;
  cursor: pointer;
  float:right;
}

header ul#top-nav li#nav-sign-in:hover {
  background-image: url(/images/btn-sign-in-on.png);
  color: #0a0a0a;
  float:right;
}

header ul#user-info, header ul#album-info {
  margin: 6px auto;
}


header ul#user-info li, header ul#album-info li, header ul#new-info li {
  float: left;
  text-align: left;
}


ul#user-info li#user-icon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

ul#album-info li#user-icon, ul#new-info li#user-icon {
  width: 72px;
  height: 40px;
  margin-right: 6px;
}

header ul#view-swap {
  float: right;
  margin: 0;
}

header ul#view-swap li {
  float: right;
}


/* Forms
----------------------------------------------------------------------------- */

input[type=text], input[type=password], input[type=checkbox] , textarea{
  text-align: left;
  font-size: 1.8em;
  background-color: #fff;
  border: solid 1px #afafaf;
  padding: 5px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
}

input[type=text]:focus, input[type=password]:focus, input[type=checkbox]:focus , textarea:focus{
    border: solid 1px #FDD042;
    outline: none;
    box-shadow: 0px 0px 10px #FDD042;
    -webkit-box-shadow: 0px 0px 10px #FDD042;
    -moz-box-shadow: 0px 0px 10px #FDD042;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);
}


input[type=text].error, input[type=password].error, input[type=checkbox].error , textarea.error {
  border: solid 1px #ff0000;
}

textarea{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}


.focus{
    border: solid 1px #FDD042;
    box-shadow: 0px 0px 10px #FDD042;
    -webkit-box-shadow: 0px 0px 10px #FDD042;
    -moz-box-shadow: 0px 0px 10px #FDD042;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);
}

/* Content (Article)
----------------------------------------------------------------------------- */

article {
  min-width: 930px;
  margin: 10px;
}

body.drawer article {
  margin-top: 100px;

}




/* Drawer
----------------------------------------------------------------------------- */

div#drawer {
  position: fixed;
  width: 906px;
  height: 0px;
  margin: 0 24px 0 20px;
  padding: 0 0 26px 4px;
  top: 10px;
  background-image: url("/images/bg-drawer-bottom-cap.png");
  background-repeat: no-repeat;
  background-position: 100% bottom;
  z-index: 9;
}

div#small-drawer {
  position: fixed;
  width: 453px;
  height: 0px;
  margin: 0 250px;
  padding: 0 0 26px;
  top: 28px;
  background-image: url("/images/bg-small-drawer-bottom-cap.png");
  background-repeat: no-repeat;
  background-position: 100% bottom;
  z-index: 9;
  overflow: hidden;
}

div#drawer div.body {
  background-image: url("/images/bg-bottom-repeat.png");
  background-repeat: repeat-y;
  width: 906px;
}

div#small-drawer div.body {
  background-image: url("/images/bg-small-bottom-repeat.png");
  background-repeat: repeat-y;
  width: 453px;
  height: 446px;
  overflow: hidden;
}

div#drawer div#drawer-content {
  margin: 0 auto;
  height: 0px;
  width: 898px;
}



div#drawer div#drawer-tabs{
    margin: 0 auto;
    width: 898px;
    height: 36px;
}

div#drawer div#tab-content {
    margin: 0 auto;
    width: 898px;
}







/*  Small Drawer
---------------------------------------------------------------------------*/


ul#small-indicator {
  margin-left: 1px;
  width: 448px;
  overflow: hidden;
  height: 37px;
  z-index: 15;
  border-left: solid 1px gray;
}

ul#small-indicator li {
  float: left;
  width: 221px;
  height: 36px;
  border: none;
  border-right: solid 1px gray;
  border-left: solid 1px silver;
  border-bottom: solid 1px gray;
}

ul#small-indicator li#step-sign-in-on {
  background-image: url("/images/bg-sign-in-on.png");
}

ul#small-indicator li#step-sign-in-off {
  background-image: url("/images/bg-sign-in-off.png");
  cursor: pointer;
}

ul#small-indicator li#step-sign-in-off:hover {
  background-image: url("/images/bg-sign-in-off-over.png");
  cursor: pointer;
}

ul#small-indicator li#step-join-on {
  background-image: url("/images/bg-join-on.png");
}

ul#small-indicator li#step-join-off {
  background-image: url("/images/bg-join-off.png");
  cursor: pointer;
}

ul#small-indicator li#step-join-off:hover {
  background-image: url("/images/bg-join-off-over.png");
  cursor: pointer;
}



div#small-top {
  margin: 15px auto 15px;
  width: 350px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}


div#small-drawer h2 {
  font-size: 1.9em;
  font-weight: 500;
  color: #0a0a0a;
}

div#small-drawer h3 {
  font-size: 1.4em;
  font-weight: 500;
  color: #0a0a0a;
}

.flash-notice {
    display: none;
    font-size: 1.3em;
    text-align: center;
    height: 18px;
    color: green;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#small-drawer p.error-notice, .error-notice {
  display: none;
  font-size: 1.3em;
  text-align: center;
  color: #ff0000;
  font-weight: 700;
  text-transform: capitalize;
}

div#sign-up p.error-notice, .error-notice {
  margin-top: 10px;
}

div#small-drawer dl {
  width: 380px;
  margin: 10px auto;
}

div#small-drawer dl dt, div#small-drawer dl dd {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

div#small-drawer dl dd {
  position: relative;
}

div#small-drawer dl dt {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 5px;
}

div#small-drawer dl input[type=text], div#small-drawer dl input[type=password] {
  width: 370px;
  /*padding: 5px;*/
  /*text-align: left;*/
  /*font-size: 1.8em;*/
  /*background-color: #fff;*/
  /*border: solid 1px #afafaf;*/
}

/*div#small-drawer dl input[type=text].error, div#small-drawer dl input[type=password].error {*/
  /*border: solid 1px #ff0000;*/
/*}*/

div#small-drawer dl dd label.error {
  color: pink;
  font-size: 1.2em;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 5px;
  right:5px;
  width: 400px;
}

div#small-drawer dl dt.button {
  float: left;
  width: 50%;
  padding-top: 8px;
}

div#small-drawer dl dt.button a {
  color: #0a0a0a;
}

div#small-drawer dl dd.button {
  float: right;
  text-align: right;
  width: 40%
}

div#small-drawer dl dt.full-t {
  width: 90%;
  color: #646464;
  margin-bottom: 25px;
}

div#small-drawer dl dd.full-t {
  width: 10%;
}




