/* Body, headers, text
----------------------------------------------------------------------------- */

/* reset */
html{}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

html {
    overflow: hidden;
    height:100%;
}


body {
    width: 100%;
    height:100%;
    margin: 0 auto;
    background-color: #f9f9fa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #0a0a0a;
    text-align: center;
}

body.impersonation {
    background-color: #FF9999
}

a, a:visited{
    color: #466faa;
    text-decoration:none;
    cursor:pointer;
}

a:hover, a:active{
    color: #333;
    text-decoration: underline;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 13px;
    font-weight: 400;
}

.relative {
    position:relative;
}


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}

/* Clearfix
*********************************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.clear-fix {
    clear: both;
    height: 0;
    visibility: hidden;
}


/* For placeholder plugin
 ********************************************************/

.placeholder{
    color: #999999;
}


/* Fixed Header and Footer
----------------------------------------------------------------------------- */

div#container {
    width: 950px;
    margin: 0 auto;
    height:100%;
}


/* join banner off header
 -----------------------------------------------------------------------------*/
#header-join-banner {
  	position: absolute;
  	top: 57px; /* 60px header - 2px header top - 1px header shadow */
    width: 845px;
    height:75px;
    
    background-color: #fff8de;
    border: 1px solid #e2d6b5;
    
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}


#header-join-banner .close-button{
    position:absolute;
    right:10px;
    top:7px;
    height:21px;
    width:21px;
    background: url("/images/btn-close-join-banner.png") no-repeat scroll top right;
    cursor:pointer;
}


#header-join-banner .field {
	position: relative;
	display: inline-block;
	margin: 0 10px 0 0;
}

#header-join-banner .ie7 .field {
	display:inline;
}

#header-join-banner form .field label {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #999;
}

#header-join-banner form input {
		width: 136px;  /*for 4 fields */
		padding: 8px 10px 9px;
		border: 1px solid #000;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius: 5px;
	}
	
#header-join-banner form input.error {
		background-color:#fddbda;
		border-color:#fd514f;
	}
	
#header-join-banner form button {
		vertical-align:middle;
		min-width: 88px;
	}


	
#header-join-banner form .field label.error {
	top:41px;
	bottom:42px;
	left:50%;
	width: 136px;
	height: 34px;
	margin:0 0 0 -78px;
	padding:8px 10px;
	color: white;
	font-size:14px;
	font-weight: 200;
	min-height: 15px;
	opacity: 0.8;
	border: 1px solid white;
	background-color: black;
	box-shadow: black 0px 0px 10px;
	-webkit-box-shadow: black 0px 0px 10px;
	-moz-box-shadow: black 0px 0px 10px;
}



/* system message banner
 -----------------------------------------------------------------------------*/
.show-system-message-banner #system-message-banner{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 38px;
    background-color: #333;
    display:block;
}

body.impersonation.show-system-message-banner #system-message-banner #banner-text {
    color: red;
    text-decoration: blink;
}



#system-message-banner #banner-text{
    position:relative;
    top:10px;
    font-size:14px;
    color:#fff;
}

#system-message-banner{
    display:none;
}

#system-message-banner #close-button{
    position:absolute;
    right:10px;
    top:7px;
    height:21px;
    width:21px;
    background: url("/images/btn-close-join-banner.png") no-repeat scroll top right;
    cursor:pointer;
}


#system-message-banner #close-button:hover{
    background: url("/images/btn-close-join-banner.png") no-repeat scroll right -21px;
}



#page-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}



.show-join-banner #page-wrapper{
    top:40px;
}

.show-system-message-banner #page-wrapper{
    top:40px;
}





/* Forms
----------------------------------------------------------------------------- */


.form_label{
/*font-size: 120%;*/
    line-height: 1;
    font-weight: bold;
    text-align: left;
}

.form_label_small{
    text-align: left;
/*font-size:  110%;*/
    line-height: 1;
    font-weight: 400;
    font-style: italic;
}

.cancel-button{
/*font-size:  120%;*/
    font-weight: 700;
    color: #646464;
    text-decoration: underline;
    text-align: left;
    margin: 0 10px;
    vertical-align: middle;
}

input[type=text], input[type=password],  textarea{
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    border: solid 1px #afafaf;
    padding: 5px;
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;*/
  /*font-family:Arial;*/
}


input[type=checkbox]{
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin-right: 5px;
}

.ua-ie input[type=checkbox]{
    margin-right: 0px;
}


input[type=text]:focus, input[type=password]:focus, input[type=checkbox]:focus , textarea:focus{
    /*border: solid 1px #FDD042;*/
    outline: none;
    /*box-shadow: 0px 0px 10px #FDD042;*/
    /*-webkit-box-shadow: 0px 0px 10px #FDD042;*/
    /*-moz-box-shadow: 0px 0px 10px #FDD042;*/
    /*filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);*/
}


input[type=text].error, input[type=password].error, input[type=checkbox].error , textarea.error {
    border: solid 1px #ff0000;
}

textarea{
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;*/
  /*font-family:Arial;*/

    font-weight: 400;
  font-size: 14px;
}


.focus{
    border: solid 1px #FDD042;
    box-shadow: 0px 0px 10px #FDD042;
    -webkit-box-shadow: 0px 0px 10px #FDD042;
    -moz-box-shadow: 0px 0px 10px #FDD042;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);
}


div#headline {
    padding-top: 30px;
}


/* Content 
----------------------------------------------------------------------------- */

#article {
    overflow-y:auto;
    overflow-x:hidden;
    position: absolute;
    top:57px;
    left:0px;
    bottom:60px;
    right:0px;
}

#article .spacer {
	height: 75px;
}
