/* Body, headers, text
----------------------------------------------------------------------------- */

body { 
  width: 98%;
  margin: 0 auto;
  background-color: #f3f3f3;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #0a0a0a;
  /* the following fixes that annoying tell-tale js animation flicker */
  opacity: 0.99999; 
  -moz-opacity: 0.99999; 
  -khtml-opacity: 0.99999; 
  filter: alpha(opacity=99);
  text-align: center;
}

h2 {
  margin-bottom: 6px;
  font-size: 2.0em;
}

h3 {
  font-size: 1.3em;
}

/* Fixed Header and Footer 
----------------------------------------------------------------------------- */

div#container {
  width: 950px;
  margin: 0 auto;
} /* allows the fixed-position elements to be in the center w/o js hacks */

nav {
  position: fixed;
  width: 946px;
  height: 51px;
  padding: 7px 0 0 4px;
  bottom: 0px;
  background-image: url("/images/bg-bottom-bar.png");
  background-repeat: no-repeat;
  z-index: 10;
}

nav h1 {
  float: left;
  width: 124px;
  height: 52px;
  margin-right: 16px;
  cursor: pointer;
  background-image: url("/images/logo-zangzing.png");
  background-repeat: no-repeat;
}

nav ul#nav-left {
  float: left;
  margin-top: 4px;
}

nav ul#nav-left li {
  float: left;
  min-width: 40px;
  margin-right: 16px;
  padding-top: 30px;
  color: #a4a4a4;
  font-weight: 400;  
  background-position: center; 
  background-repeat: no-repeat;
  font-size: 1.3em;
}

nav ul#nav-left li:hover {
  color: #0a0a0a;
  cursor: pointer;
}

li#nav-new-album {
  background-image: url("/images/icon-new-album.png");
}

li#nav-new-album:hover {
  background-image: url("/images/icon-new-album-hover.png");
}

li#nav-find {
  background-image: url("/images/icon-find.png");
}

li#nav-find:hover {
  background-image: url("/images/icon-find-hover.png");
}

li#nav-sign-in {
  background-image: url("/images/icon-sign-in.png");
}

li#nav-sign-in:hover {
  background-image: url("/images/icon-sign-in-hover.png");
}

nav ul#nav-right {
  float: right;
  margin-top: 4px;
  margin-right: 20px;
}

nav ul#nav-right li {
  float: right;
  min-width: 40px;
  margin-left: 16px;
  padding-top: 30px;
  color: #a4a4a4;
  font-size: 1.3em;
  font-weight: 400;  
  background-position: center; 
  background-repeat: no-repeat;
}

nav ul#nav-right li:hover {
  color: #0a0a0a;
  cursor: pointer;
}

li#nav-new-photo {
  background-image: url("/images/icon-new-photo.png");
}

li#nav-new-photo:hover {
  background-image: url("/images/icon-new-photo-hover.png");
}

li#nav-share {
  background-image: url("/images/icon-share.png");
}

li#nav-share:hover {
  background-image: url("/images/icon-share-hover.png");
}

li#nav-like {
  background-image: url("/images/icon-like.png");
}

li#nav-like:hover {
  background-image: url("/images/icon-like-hover.png");
}

li#nav-buy {
  background-image: url("/images/icon-cart.png");
}

li#nav-buy:hover {
  background-image: url("/images/icon-cart-hover.png");
}

header {
  position: fixed;
  width: 946px;
  height: 52px;
  padding: 0 0 7px 4px;
  top: 0px;
  background-image: url("/images/bg-top-bar.png");
  background-repeat: no-repeat;
  z-index: 10;
}

header ul#user-info, header ul#album-info {
  margin: 6px -145px 0 auto;
}

header ul#new-info {
  margin: 6px 0 0;
}

header ul#user-info, header ul#album-info, header ul#new-info {
  display: inline-block;
}

header ul#user-info li, header ul#album-info li, header ul#new-info li {
  float: left;
  text-align: left;
}

#album-header-icon {
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px #767676;
  -webkit-box-shadow: 0px 0px 3px #767676;
  -moz-box-shadow: 0px 0px 3px #767676;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#767676, offX=1, offY=1, positive=true);
}

ul#user-info li#user-icon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

ul#album-info li#user-icon, ul#new-info li#user-icon {
  width: 58px;
  height: 40px;
  margin-right: 6px;
}

header ul#view-swap {
  float: right;
  margin: 10px 30px 0 0;
}

header ul#view-swap li {
  float: right;
}

/* Drawer
----------------------------------------------------------------------------- */

div#drawer {
  position: fixed;
  width: 906px;
  height: 0px;
  margin: 0 24px 0 20px;
  padding: 0 0 26px 4px;
  top: 10px;
  background-image: url("/images/bg-drawer-bottom-cap.png");
  background-repeat: no-repeat;
  background-position: 100% bottom;
  z-index: 9;
}

div#small-drawer {
  position: fixed;
  width: 453px;
  height: 0px;
  margin: 0 250px;
  padding: 0 0 26px;
  top: 28px;
  background-image: url("/images/bg-small-drawer-bottom-cap.png");
  background-repeat: no-repeat;
  background-position: 100% bottom;
  z-index: 9;
  overflow: hidden;
}

div#drawer div.body {
  background-image: url("/images/bg-bottom-repeat.png");
  background-repeat: repeat-y;
  width: 906px;
}

div#small-drawer div.body {
  background-image: url("/images/bg-small-bottom-repeat.png");
  background-repeat: repeat-y;
  width: 453px;
  height: 446px;
  overflow: hidden;
}

div#drawer div.body div#drawer-content {
  margin: 0 auto;
  height: 0px;
  width: 898px;
}

ul#added-pictures-tray {
  position: absolute;
  display: none;
  width: 878px;
  height: 40px;
  background-image: url('/images/bg-picture-tray.png');
  background-repeat: no-repeat;
  z-index: 100;
  padding: 17px 10px 3px;
  margin-right: 2px;
  bottom: 5px;
  left: 7px;
}

ul#added-pictures-tray li {
  float: left;
  margin-top: 7px;
  /*margin-right: 2px;*/
  width: 30px;
  height: 30px;
}

ul#added-pictures-tray li div {
  position: relative;
  height: 30px;
  width: 30px;
}

ul#added-pictures-tray li img.trayed-up {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  /*border: 2px solid #e1e1e1;*/
  /*box-shadow: 0px 0px 5px #e1e1e1;*/
  /*-webkit-box-shadow: 0px 0px 5px #e1e1e1;*/
  /*-moz-box-shadow: 0px 0px 5px #e1e1e1;*/
  /*filter: progid:DXImageTransform.Microsoft.dropShadow(color=#e1e1e1, offX=2, offY=2, positive=true);*/
}

ul#added-pictures-tray li:hover img.trayed-up {
  bottom: 0;
  left: 0;
  z-index: 105;
}

ul#added-pictures-tray li .hover-thumbnail {
  display: none;
  position: absolute; 
  z-index: 102; 
  border: 4px solid #fff; 
  top: -120px; 
  left: -45px;
  box-shadow: 0px 0px 8px #FDD042;
  -webkit-box-shadow: 0px 0px 8px #FDD042;
  -moz-box-shadow: 0px 0px 8px #FDD042;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);

}

ul#added-pictures-tray li:hover .hover-thumbnail {
  display: block;
}


ul#added-pictures-tray li img.delete {
  display: none;
  position: absolute; 
  z-index: 9999;
  cursor: pointer;
}

ul#added-pictures-tray li:hover img.delete {
  display: block;
}

ul#clone-indicator {
  display: none;
}

ul#indicator-4, ul#indicator-5, ul#indicator-6 {
  width: 898px;
  height: 36px;
  margin-top: 4px; 
  padding-left: 14px;
}

ul#indicator-6 {
  padding-left: 10px;
}

ul.step-1-4 {
  background-image: url("/images/bg-4step-strip-1.png");
  background-repeat: no-repeat;
}

ul.step-2-4 {
  background-image: url("/images/bg-4step-strip-2.png");
  background-repeat: no-repeat;
}

ul.step-3-4 {
  background-image: url("/images/bg-4step-strip-3.png");
  background-repeat: no-repeat;
}

ul.step-4-4 {
  background-image: url("/images/bg-4step-strip-4.png");
  background-repeat: no-repeat;
}

ul.edit-1-4 {
  background-image: url("/images/bg-4step-strip-1.png");
  background-repeat: no-repeat;
}

ul.edit-2-4 {
  background-image: url("/images/bg-4step-strip-2.png");
  background-repeat: no-repeat;
}

ul.edit-3-4 {
  background-image: url("/images/bg-4step-strip-3.png");
  background-repeat: no-repeat;
}

ul.edit-4-4 {
  background-image: url("/images/bg-4step-strip-4.png");
  background-repeat: no-repeat;
}


ul.step-1-5 {
  background-image: url("/images/bg-5step-strip-1.png");
  background-repeat: no-repeat;
}

ul.step-2-5 {
  background-image: url("/images/bg-5step-strip-2.png");
  background-repeat: no-repeat;
}

ul.step-3-5 {
  background-image: url("/images/bg-5step-strip-3.png");
  background-repeat: no-repeat;
}

ul.step-4-5 {
  background-image: url("/images/bg-5step-strip-4.png");
  background-repeat: no-repeat;
}

ul.step-5-5 {
  background-image: url("/images/bg-5step-strip-5.png");
  background-repeat: no-repeat;
}

ul.edit-1-5 {
  background-image: url("/images/bg-5step-edit-1.png");
  background-repeat: no-repeat;
}

ul.edit-2-5 {
  background-image: url("/images/bg-5step-edit-2.png");
  background-repeat: no-repeat;
}

ul.edit-3-5 {
  background-image: url("/images/bg-5step-edit-3.png");
  background-repeat: no-repeat;
}

ul.edit-4-5 {
  background-image: url("/images/bg-5step-edit-4.png");
  background-repeat: no-repeat;
}

ul.edit-5-5 {
  background-image: url("/images/bg-5step-edit-5.png");
  background-repeat: no-repeat;
}

ul.step-1-6 {
  background-image: url("/images/bg-6step-strip-1.png");
  background-repeat: no-repeat;
}

ul.step-2-6 {
  background-image: url("/images/bg-6step-strip-2.png");
  background-repeat: no-repeat;
}

ul.step-3-6 {
  background-image: url("/images/bg-6step-strip-3.png");
  background-repeat: no-repeat;
}

ul.step-4-6 {
  background-image: url("/images/bg-6step-strip-4.png");
  background-repeat: no-repeat;
}

ul.step-5-6 {
  background-image: url("/images/bg-6step-strip-5.png");
  background-repeat: no-repeat;
}

ul.step-6-6 {
  background-image: url("/images/bg-6step-strip-6.png");
  background-repeat: no-repeat;
}

ul.edit-1-6 {
  background-image: url("/images/bg-6step-edit-1.png");
  background-repeat: no-repeat;
}

ul.edit-2-6 {
  background-image: url("/images/bg-6step-edit-2.png");
  background-repeat: no-repeat;
}

ul.edit-3-6 {
  background-image: url("/images/bg-6step-edit-3.png");
  background-repeat: no-repeat;
}

ul.edit-4-6 {
  background-image: url("/images/bg-6step-edit-4.png");
  background-repeat: no-repeat;
}

ul.edit-5-6 {
  background-image: url("/images/bg-6step-edit-5.png");
  background-repeat: no-repeat;
}

ul.edit-6-6 {
  background-image: url("/images/bg-6step-edit-6.png");
  background-repeat: no-repeat;
}

ul#indicator-4 li {
  float: left;
  padding: 8px 19px 0 0;
  width: 179px;
  font-size: 1.3em;
  font-weight: 400;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  height: 19px;
}


ul#indicator-5 li {
  float: left;
  padding: 8px 19px 0 0;
  width: 139px;
  font-size: 1.3em;
  font-weight: 400;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  height: 19px;
}

ul#indicator-6 li {
  float: left;
  padding: 8px 18px 0 0;
  width: 115px;
  font-size: 1.2em;
  font-weight: 400;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  height: 19px;
}


ul#indicator-4 li img.num, ul#indicator-5 li img.num, ul#indicator-6 li img.num {
  vertical-align: -40%;
}

ul#indicator-4 li a, ul#indicator-5 li a, ul#indicator-6 li a {
  color: #646464;
  text-decoration: none;
}

ul#indicator-4 li.on a, ul#indicator-5 li.on a, ul#indicator-6 li.on a {
  color: #fff;
}

ul#indicator-4 li#step-btn, ul#indicator-5 li#step-btn, ul#indicator-6 li#step-btn {
  width: 66px;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
  height: 34px;
}

ul#indicator-4 li.on, ul#indicator-5 li.on, ul#indicator-6 li.on {
  color: #fff;
}

#next-step {
  cursor: pointer;
  padding: 1px;
}


ul#indicator-6 #next-step {
  padding: 0;
}

ul#small-indicator {
  margin-left: 1px;
  width: 448px;
  overflow: hidden;
  height: 37px;
  z-index: 15;
  border-left: solid 1px gray; 
}

ul#small-indicator li {
  float: left;
  width: 221px;
  height: 36px;
  border: none;
  border-right: solid 1px gray;
  border-left: solid 1px silver;
  border-bottom: solid 1px gray;
}

ul#small-indicator li#step-sign-in-on {
  background-image: url("/images/bg-sign-in-on.png");
}

ul#small-indicator li#step-sign-in-off {
  background-image: url("/images/bg-sign-in-off.png");
  cursor: pointer;
}

ul#small-indicator li#step-sign-in-off:hover {
  background-image: url("/images/bg-sign-in-off-over.png");
  cursor: pointer;
}

ul#small-indicator li#step-join-on {
  background-image: url("/images/bg-join-on.png");
}

ul#small-indicator li#step-join-off {
  background-image: url("/images/bg-join-off.png");
  cursor: pointer;
}

ul#small-indicator li#step-join-off:hover {
  background-image: url("/images/bg-join-off-over.png");
  cursor: pointer;
}

div#small-top {
  margin: 15px auto 15px; 
  width: 350px; 
  text-align: center; 
  padding-bottom: 15px; 
  border-bottom: 1px solid #ccc;
}

div#small-drawer h2 {
  font-size: 1.9em;
  font-weight: 500;
  color: #0a0a0a;
}

div#small-drawer h3 {
  font-size: 1.4em;
  font-weight: 500;
  color: #0a0a0a;
}

div#small-drawer p.error-notice {
  display: none;
  font-size: 1.3em;
  text-align: center;
  color: #ff0000;
  font-weight: 700;
  text-transform: capitalize;
}

div#sign-up p.error-notice {
  margin-top: 10px;
}

div#small-drawer dl {
  width: 380px;
  margin: 10px auto;
}

div#small-drawer dl dt, div#small-drawer dl dd {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

div#small-drawer dl dd {
  position: relative;
}

div#small-drawer dl dt {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 5px;
}

div#small-drawer dl input[type=text], div#small-drawer dl input[type=password] {
  width: 370px;
  padding: 5px;
  text-align: left;
  font-size: 1.8em;
  background-color: #fff;
  border: solid 1px #afafaf;
}

div#small-drawer dl input[type=text].error, div#small-drawer dl input[type=password].error {
  border: solid 1px #ff0000;
}

div#small-drawer dl dd label.error {
  color: pink;
  font-size: 1.2em;
  font-weight: 700;
  text-align: right;
  position: absolute;
  bottom: 5px;
  right:5px;
  width: 400px;
}

div#small-drawer dl dt.button {
  float: left;
  width: 50%;
  padding-top: 8px;
}

div#small-drawer dl dt.button a {
  color: #0a0a0a;
}

div#small-drawer dl dd.button {
  float: right;
  text-align: right;
  width: 40%
}

div#small-drawer dl dt.full-t {
  width: 90%;
  color: #646464;
  margin-bottom: 25px;
}

div#small-drawer dl dd.full-t {
  width: 10%;
}


/* Create Album
----------------------------------------------------------------------------- */
div#drawer-content div#top-section {
  padding: 0px 10px;
  width: 840px;
  margin: 15px 0 5px;
  height: 75px;
}

div#drawer-content div#scroll-body {
  overflow-y: auto;  
  height: 0px; 
}

div#top-section #filechooser-back-button {
  float: left;
  width: 120px;
  cursor: pointer;
  font-size: 1.3em;
  color: #efefef;
  background-color: #fff;
  border: none;
  background-image: url(/images/bg-back-button.png);
  background-repeat: none;
  height: 25px;
  width: 120px;
  padding-bottom: 4px;
}

div#top-section #equalizer {
  width: 91px;
  float: right;
}

div#drawer-content ul#folders, ul#filechooser {
  margin: 20px 15px 20px;
}

div#drawer-content ul#folders li, ul#filechooser li {
  background-image: url("/images/folders/blank.png");
  background-repeat: no-repeat;
  background-position: center top;
  float: left;
  width: 128px;
  padding: 0px 20px 15px;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 700;
  overflow: hidden;
  height: 135px;
}

div#drawer-content ul#folders li.photo, ul#filechooser li.photo {
  padding: 15px 20px;
  height: 135px;
  overflow: hidden;
  cursor: pointer;
  background-image: none;
}

div#drawer-content ul#folders li.photo, ul#filechooser li.photo img {
  max-height: 115px;
  max-width: 115px;
  border: #fff solid 5px;
  box-shadow: 0px 0px 5px #767676;
  -webkit-box-shadow: 0px 0px 5px #767676;
  -moz-box-shadow: 0px 0px 5px #767676;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#767676, offX=2, offY=2, positive=true);
}

div#drawer-content ul#folders li.f_iphoto, ul#filechooser li.f_iphoto {
  background-image: url("/images/folders/apple_off.png");
}
div#drawer-content ul#folders li.f_facebook, ul#filechooser li.f_facebook {
  background-image: url("/images/folders/facebook_off.png");
}
div#drawer-content ul#folders li.f_flickr, ul#filechooser li.f_flickr {
  background-image: url("/images/folders/flickr_off.png");
}
div#drawer-content ul#folders li.f_home, ul#filechooser li.f_home {
  background-image: url("/images/folders/myhome_off.png");
}
div#drawer-content ul#folders li.f_kodak, ul#filechooser li.f_kodak {
  background-image: url("/images/folders/kodak_off.png");
}
div#drawer-content ul#folders li.f_mycomputer, ul#filechooser li.f_mycomputer {
  background-image: url("/images/folders/mycomputer_off.png");
}
div#drawer-content ul#folders li.f_pictures, ul#filechooser li.f_pictures {
  background-image: url("/images/folders/mypictures_off.png");
}
div#drawer-content ul#folders li.f_picasa, ul#filechooser li.f_picasa {
  background-image: url("/images/folders/picasa_off.png");
}
div#drawer-content ul#folders li.f_shutterfly, ul#filechooser li.f_shutterfly {
  background-image: url("/images/folders/shutterfly_off.png");
}
div#drawer-content ul#folders li.f_snapfish, ul#filechooser li.f_snapfish {
  background-image: url("/images/folders/snapfish_off.png");
}
div#drawer-content ul#folders li.f_smugmug, ul#filechooser li.f_smugmug {
  background-image: url("/images/folders/smugmug_off.png");
}
div#drawer-content ul#folders li.f_zangzing, ul#filechooser li.f_zangzing {
  background-image: url("/images/folders/zangzing_off.png");
}

div#drawer-content ul#folders li.f_iphoto:hover, ul#filechooser li.f_iphoto:hover {
  background-image: url("/images/folders/apple.png");
}
div#drawer-content ul#folders li.f_facebook:hover, ul#filechooser li.f_facebook:hover {
  background-image: url("/images/folders/facebook.png");
}
div#drawer-content ul#folders li.f_flickr:hover, ul#filechooser li.f_flickr:hover {
  background-image: url("/images/folders/flickr.png");
}
div#drawer-content ul#folders li.f_home:hover, ul#filechooser li.f_home:hover {
  background-image: url("/images/folders/myhome.png");
}
div#drawer-content ul#folders li.f_kodak:hover, ul#filechooser li.f_kodak:hover {
  background-image: url("/images/folders/kodak.png");
}
div#drawer-content ul#folders li.f_mycomputer:hover, ul#filechooser li.f_mycomputer:hover {
  background-image: url("/images/folders/mycomputer.png");
}
div#drawer-content ul#folders li.f_pictures:hover, ul#filechooser li.f_pictures:hover {
  background-image: url("/images/folders/mypictures.png");
}
div#drawer-content ul#folders li.f_picasa:hover, ul#filechooser li.f_picasa:hover {
  background-image: url("/images/folders/picasa.png");
}
div#drawer-content ul#folders li.f_shutterfly:hover, ul#filechooser li.f_shutterfly:hover {
  background-image: url("/images/folders/shutterfly.png");
}
div#drawer-content ul#folders li.f_snapfish:hover, ul#filechooser li.f_snapfish:hover {
  background-image: url("/images/folders/snapfish.png");
}
div#drawer-content ul#folders li.f_smugmug:hover, ul#filechooser li.f_smugmug:hover {
  background-image: url("/images/folders/smugmug.png");
}
div#drawer-content ul#folders li.f_zangzing:hover, ul#filechooser li.f_zangzing:hover {
  background-image: url("/images/folders/zangzing.png");
}

div#drawer-content ul#folders li:hover, ul#filechooser li:hover {
  color: #FDD042;
}

ul#filechooser li.photo:hover img {
  border: 5px solid #FDD042;
  box-shadow: 0px 0px 5px #FDD042;
  -webkit-box-shadow: 0px 0px 5px #FDD042;
  -moz-box-shadow: 0px 0px 5px #FDD042;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);
}

div#headline {
  padding-top: 30px;
}

ul#filechooser li figure {
  display: none;
}

ul#filechooser li:hover figure {
  display: block;
  position: absolute;
  bottom: 24px;
  left: 2px;
  height: 15px;
  width: 97%;
  background-image: url("/images/bg-blk-75.png");
  color: #fff;
  font-weight: 500;
  padding: 2px 0 7px;
  overflow: hidden;
  text-align: center;
  line-height: 1.5em;
}

ul#filechooser li .checkmark {
  display: none;
  position: absolute;
  background-image: url("/images/check-off.png");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  bottom: 14px;
  left: 0px;
  z-index: 10;
}

ul#filechooser li.in-tray .checkmark { 
  background-image: url("/images/check-on.png");
  background-repeat: no-repeat;
  display: block;
}

ul#filechooser li:hover .checkmark {
  display: block;
}


ul#filechooser li.photo div.relative {
  width: 128px;
  height: 135px;
}

ul#filechooser li.photo:hover figure {
  display: block;
  position: absolute;
  bottom: 24px;
  left: 2px;
  height: 15px;
  width: 97%;
  background-image: url("/images/bg-blk-75.png");
  color: #fff;
  font-weight: 500;
  padding: 2px 0 7px;
  overflow: hidden;
  text-align: center;
  line-height: 1.5em;
  z-index: 5;
}

ul#filechooser li.in-tray:hover figure {
  display: none;
}

ul#filechooser a {
  text-decoration: none;
  color: #0a0a0a;
}

ul#filechooser h4 a {
  color: #486faa;
  text-decoration: underline;
}

ul#choose-album-type {
  width: 830px;
  margin: 30px auto 0;
}

ul#choose-album-type li {
  float: left;
  width: 151px;
  height: 294px;
  background-image: url('/images/bg-album-type.png');
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 5px;
  padding: 40px 20px 0;
  color: #686868;
}

ul#choose-album-type li:hover {
  background-image: url('/images/bg-album-type-selected.png');
}

ul#choose-album-type li img {
  margin-bottom: 30px;
}

ul#choose-album-type li p {
  margin-bottom: 15px;
  line-height: 1.3em;
  line-height: 1.1em;
}

ul#choose-album-type li div {
  height: 90px;
  margin-bottom: 10px;
}

ul#privacy-menu {
  width: 660px;
  margin: 0 auto;
}

ul#privacy-menu li {
  float: left;
  width: 170px;
  height: 180px;
  padding: 110px 20px 10px;
  margin: 0 5px;
  color: #686868;
  cursor: pointer;
}

ul#privacy-menu li div {
  height: 100px;
}

ul#privacy-menu li p {
  margin-bottom: 20px;
  line-height: 1.5em;
  line-height: 1.3em;
}

ul#privacy-menu li#privacy-public {
  background: url(/images/bg-privacy-public-off.png) no-repeat;
}

ul#privacy-menu li#privacy-hidden {
  background: url(/images/bg-privacy-private-off.png) no-repeat;
}

ul#privacy-menu li#privacy-password {
  background: url(/images/bg-privacy-password-off.png) no-repeat;
}

div#drawer-content h3 {
  font-size: 1.7em;
  font-weight: 500;
  color: #0a0a0a;
}

div#drawer-content h4 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 15px;
  color: #0a0a0a;
}

span.h4 {
  font-size: 1.4em;
  font-weight: 500;
  color: #0a0a0a;
  line-height: 2.2em;
}

div#drawer-content .album-header {
  margin: 25px auto 45px;
  width: 600px;
  min-height: 75px;
  line-height: 1.4em;
  background-image: url('/images/faux-hr.png');
  background-position: bottom center;
  background-repeat: no-repeat;
}

div#drawer-content #top-section .album-header,
div#drawer-content #top-section .album-header-off {
  margin: 0 auto 0;
}

div#drawer-content .album-header-off h3, div#drawer-content .album-header-off h4,
div#drawer-content .album-header h3, div#drawer-content .album-header h4 {
  margin-bottom: 20px;
}

div#drawer-content .album-header-off {
  margin: 25px auto 25px;
  width: 600px;
  min-height: 50px;
  line-height: 1.4em;
  background-image: none;
}

div#drawer-content dl.form {
  width: 800px;
  margin: 0 auto 30px;
}

div#drawer-content dl.form dt {
  float: left;
  font-size: 1.8em;
  color: #0a0a0a;
  text-align: right;
  width: 180px;
  margin-right: 20px; 
  padding-top: 7px; 
}

div#drawer-content dl.form dd {
  float: left;
  width: 600px;
  text-align: left;
}

div#drawer-content dl.form dd input#album_name {
  width: 500px;
  padding: 5px;
  text-align: left;
  font-size: 1.8em;
  background-color: #fff;
  border: solid 2px #afafaf;
}

div#drawer-content dl.form dd input#album_name:focus {
  box-shadow: 0px 0px 10px #FDD042;
  -webkit-box-shadow: 0px 0px 10px #FDD042;
  -moz-box-shadow: 0px 0px 10px #FDD042;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);  
}

ul#share-pick {
  width: 410px;
  margin: 20px auto;
}

ul#share-pick li {
  float: left;
  width: 50%;
  height: 260px;
  text-align: center;
  font-size: 1.4em;
}

ul#share-pick li.social-share {
  background: url(/images/btn-share-by-post.png) center center no-repeat;
}

ul#share-pick li.social-share:hover {
  background: url(/images/btn-share-by-post-on.png) center center no-repeat;
}

ul#share-pick li.email-share {
  background: url(/images/btn-share-by-email.png) center center no-repeat;
}

ul#share-pick li.email-share:hover {
  background: url(/images/btn-share-by-email-on.png) center center no-repeat;
}

ul#share-pick li a {
  color: #646464;
}

ul#share-pick li img {
  margin-bottom: 10px;
}

div#form-container {
  width: 800px;
  margin: 20px auto;  
  font-size: 1.4em;
}

div#form-container-2 {
  width: 800px;
  margin: 0px auto;  
  font-size: 1.4em;
}

dl#social-form dt {
  float: left;
  width: 50px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

dl#social-form dt img {
  vertical-align: -30%;
}

dl#social-form dt#network {
  margin-left: 50px;
}

dl#social-form dd {
  text-align: left;
  float: left;
  margin-bottom: 10px;
}

dl#social-form dd#post-text {
  width: 690px;
}

dl#social-form dd#post-text textarea {
  width: 690px;
  padding: 5px;
  color: #646464;
}

dl#social-form dd#post-text textarea.error {
  border: 1px #ff0000 solid;

}

dd.button {
  font-size: 1.3em;
}

dd.button a {
  margin-right: 10px;
  color: #646464;
  text-decoration: underline;
}

#form-actions {
  float: right;
  margin: 15px 24px 0 0;
  color: #646464;
}

#form-actions a, dd.button a {
  color: #646464;
  text-decoration: underline;
}

#social-submit, #mail-submit {
  margin-left: 20px;
}

ul#email-sync {
  margin: 0 0 10px 78px;
  float: left;
}

ul#email-sync li {
  float: left;
  margin-right: 10px;
}

ul#email-sync li.title {
  padding: 10px;
  color: #646464;
}

dl#email-share-form dt {
  float: left;
  text-align: right;
  margin: 8px;
  width: 60px;
  color: #8c8c8c;
}

dl#email-share-form dd {
  float: left;
  text-align: right;
  margin-bottom: 10px;
}

dl#email-share-form dd input, dl#email-share-form dd textarea {
  width: 690px;
  padding: 5px;
  color: #8c8c8c;
  border: 1px #8c8c8c solid;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.05em;
}

dl#email-share-form dd input.error, dl#email-share-form dd textarea.error {
  border: 1px #ff0000 solid;
}

dl#email-share-form dd input {
  height: 20px;
  padding: 12px 5px;
}

dl#email-share-form dd#the-list {
  border: 1px #8c8c8c solid;
  min-height: 42px;
  padding: 0 5px;
  width: 690px;
}

ul#the-recipients {
  min-height: 36px;
  padding: 0 5px;
  width: 690px;
  color: #8c8c8c;
}

ul#the-recipients li {
  float: left;
  height: 16px;
  color: #0a0a0a;
  text-align: left;
  background-color: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb, #dcdcdc);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#dcdcdc));
  border: 1px #dcdcdc solid;
  padding: 4px 4px 4px 7px;  
  margin: 5px;
}

ul#the-recipients li.del {
  border: 1px #ff0000 solid;
  background: -moz-linear-gradient(top, #fbfbfb, pink);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(pink));}

ul#the-recipients li img.link {
  margin: 0 3px 0 5px;
  vertical-align: -30%;
}

ul#the-recipients li.rounded {
  display: none;
}

ul#the-recipients li.rounded input {
  display: none;
}

ul#the-recipients li#autocomplete {
  height: 36px;
  text-align: left;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

dl#email-share-form label.error {
  display: none;
}

dl#email-share-form dd input#you-complete-me {
  background-color: #fff;
  border: 1px #fff solid;
  width: 200px;
  height: 36px;
  padding: 0px 0px;
}

dl#email-share-form dd input#you-complete-me:focus {
  outline: none;
}

select.album_privacy {
  background-color: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb, #dcdcdc);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#dcdcdc));
  border: 1px #dcdcdc solid;
  font-size: 1.2em;
  font-weight: 400;
  color: #646464;
  padding: 4px;
  height: 28px;
  width: 80px;
  margin-right: 10px;
}

/* Grid View
----------------------------------------------------------------------------- */

article {
  min-width: 930px;
  margin: 10px;
}

body.drawer article {
  margin-top: 50px;

}

ul.grid-view {
  margin: 60px 0 45px;
}

ul.grid-view li {
  float: left;
  width: 150px;
  height: 150px;
}

ul.grid-view li.wide {
  height: 130px;
  padding-top: 20px;
}

ul.grid-view li img {
  border: #fff solid 5px;
  box-shadow: 0px 0px 5px #767676;
  -webkit-box-shadow: 0px 0px 5px #767676;
  -moz-box-shadow: 0px 0px 5px #767676;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#767676, offX=2, offY=2, positive=true);
  cursor: pointer;
}

ul#albums li img {
  border:none;
  box-shadow: 0px 0px 0px #767676;
  -webkit-box-shadow: 0px 0px 0px #767676;
  -moz-box-shadow: 0px 0px 0px #767676;
}

ul.grid-view li:hover img {
  border: 4px solid #FDD042;
  box-shadow: 0px 0px 5px #FDD042;
  -webkit-box-shadow: 0px 0px 5px #FDD042;
  -moz-box-shadow: 0px 0px 5px #FDD042;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#FDD042, offX=2, offY=2, positive=true);
}

ul#albums li:hover img {
  border:none;
  box-shadow: 0px 0px 0px #767676;
  -webkit-box-shadow: 0px 0px 0px #767676;
  -moz-box-shadow: 0px 0px 0px #767676;
}

ul.grid-view li figure {
  display: none;
}

ul.grid-view li:hover figure {
  display: block;
  position: absolute;
  height: 15px;
  background-image: url("/images/bg-blk-75.png");
  color: #fff;
  font-size: 1.3em;
  padding: 2px 5px 7px;
  overflow: hidden;
  text-align: left;
  line-height: 1.5em;
}

ul.grid-view a.delete img {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  border: none;
  box-shadow: 0 0 0 #000;
  -webkit-box-shadow: 0 0 0 #000;
  -moz-box-shadow: 0 0 0 #000;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=none, offX=0, offY=0, positive=true);
}

ul.grid-view li:hover a.delete img {
  display: block;
}

/* Timeline & People Views
----------------------------------------------------------------------------- */

ul#album-timeline, ul#following, ul#contributors  {
  width: 930px;
  margin-top: 70px;
}

ul#following,ul#contributors  {
  width: 930px;
  margin-top: 15px;
}

ul#album-timeline li, ul#following li, ul#contributors li {
  padding: 20px 10px;
  width: 900px;
  min-height: 50px;
  font-size: 1.4em;
  color: #0a0a0a;
  border-bottom: solid #cfcfcf 1px;
}

ul#contributors li {
  padding-top: 3px;
}

ul#following li,
ul#contributors li {
  border-bottom: none;
}

div.timeline-icon {
  float: left;
  width: 90px;
  margin-right: 20px;
}

div.timeline-icon img.icon {
  margin: 5px;
}

div.timeline-icon p {
  margin: 0;
  color: #232323;
  font-size: .8em;
}

div.timeline-action {
  width: 790px;
  float: left;
  text-align: left;
  padding-top: 10px;
}

div.timeline-action p {
  margin-bottom: 6px;
}

div.timeline-action p.timeline-when {
  color: #232323;
}

div.timeline-action p a {
  color: #486faa;
  text-decoration: underline;
}

div.timeline-action p.timeline-when {
  font-size: .85em;
  margin: 0;
}

div.timeline-action figure {
  width: 170px;
  text-align: center;
}

div.timeline-action figure img.timeline-picon {
  margin: 15px 10px 10px;
}

ul#album-timeline li div.timeline-action ul.timeline-grid, 
ul#contributors li div.timeline-action ul.timeline-grid {
  margin: 15px 10px 10px;
  width: 770px;
  overflow: hidden;
  height: 160px;
  padding: 0;
}

ul#contributors li div.timeline-action ul.timeline-grid {
  margin-top: 0;
}

ul.following-grid {
  margin: 0;
}

ul#album-timeline li div.timeline-action ul.timeline-grid li, 
ul#contributors li div.timeline-action ul.timeline-grid li {
  float: left;
  width: 130px;
  border-bottom: none;
  text-align: center;
}
ul#following li div.timeline-action {
  padding-top: 0;
  height: 180px;
}
ul#following li div.timeline-action ul.following-grid li {
  float: left;
  width: 150px;
  border-bottom: none;
  text-align: center;
  margin-right: 10px;
}

ul#following li div.timeline-action ul.following-grid li figure {
  font-size: .8em
}

ul#following li div.timeline-action img.timeline-picon {
  margin: 0;
}

ul#album-timeline li div.timeline-action ul.timeline-grid li img,
ul#contributors li div.timeline-action ul.timeline-grid li img {
  max-height: 120px;
  max-width: 120px;
  border: #fff solid 5px;
  box-shadow: 0px 0px 5px #767676;
  -webkit-box-shadow: 0px 0px 5px #767676;
  -moz-box-shadow: 0px 0px 5px #767676;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#767676, offX=2, offY=2, positive=true);
}

ul#liked-it {
  margin: 30px 0 60px 110px;
  width: 800px;
}

ul#liked-it li {
  float: left;
  width: 115px;
  height: 115px;
  font-size: 1.1em;
  margin-right: 15px;
}

h3.people {
  font-size: 1.4em;
  text-align: left;
  width: 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #0a0a0a;
}

h3.first {
  margin-top: 70px;
}