.zz_menu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	padding: 0px;
	margin: 0px;
	display: none;
	color: #FAFAFA;
}

.zz_menu ul{
	background: #333; /* For ie and other non css3 browsers */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #666,  #333); /* for firefox 3.6+ */
}

.zz_menu LI {
    list-style: none;
}

.zz_menu A {
	display: block;
	
	color: #FAFAFA;
	text-decoration: none;
	text-align: left;
	font-size:  12px;
	font-weight: 600;
	text-shadow: 0 1px black;
	line-height: 27px;
	
	height: 27px;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px 1px 35px;
}


.zz_menu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.zz_menu LI.hover.disabled A {
	background-color: transparent;

}

.zz_menu LI.separator {
	border-top: solid 1px #CCC;
}

.zz_menu LI.hover A {
	color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.1);;
}

.zz_menu .arrowtop    { 	background-image: url(/images/zzmenu-arrowtop.png);   padding-bottom: 15px;}
.zz_menu .flatbottom  {  	background-image: url(/images/zzmenu-flatbottom.png); padding-top: 5px;}

.zz_menu .flattop        { 	background-image: url(/images/zzmenu-flattop.png);     padding-bottom: 5px;}
.ua-ie .zz_menu .flattop { 	background-image: url(/images/zzmenu-flattop-333.png); padding-bottom: 5px;}
.zz_menu .arrowbottom    {  background-image: url(/images/zzmenu-arrowbottom.png); padding-top:    16px;}

.zz_menu LI.download A { background-image: url(/images/icn-download-white.png); background-position: 0 5px;}
.zz_menu LI.download A:hover { background-position: 0 -20px;}

.zz_menu LI.privacy A {background-image: url(/images/icn-rotatel-white.png); background-position: 0 5px;}
.zz_menu LI.privacy A:hover { background-position: 0 -20px;}

.zz_menu LI.delete A { background-image: url(/images/icn-delete-white.png); background-position: 3px 5px;}
.zz_menu LI.delete A:hover { background-position: 3px -20px;}

.zz_menu LI.setcover A { background-image: url(/images/icn-setcover-white.png); background-position: 5px 5px;}
.zz_menu LI.setcover A:hover { background-position: 5px -20px;}
.zz_menu LI.setcover.disabled A { background-position: 5px -20px;}

.zz_menu LI.rotater A { background-image: url(/images/icn-rotater-white.png); background-position: 0 5px;}
.zz_menu LI.rotater A:hover { background-position: 0 -20px;}

.zz_menu LI.rotatel A { background-image: url(/images/icn-rotatel-white.png); background-position: 0 5px;}
.zz_menu LI.rotatel A:hover { background-position: 0 -20px;}

.zz_menu LI.email A    { background-image: url(/images/share/email-icon.png); background-position: 7px 8px; }
.zz_menu LI.twitter A  { background-image: url(/images/share/twitter-icon.png); background-position: 6px 5px; }
.zz_menu LI.facebook A { background-image: url(/images/share/facebook-icon.png); background-position: 7px 6px; }