.new-dialog{
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.new-dialog .frame{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:8px solid #d5d5d5;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity:0.6;
    filter: alpha(opacity = 60);

}

.new-dialog .background{
    position:absolute;
    top:7px;
    left:7px;
    right:7px;
    bottom:7px;
    background-color:#fff;
    opacity:0.9;
    filter: alpha(opacity = 90);
    border-radius: 10px;
}

.new-dialog .body{
    position:absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;

}