.photogrid-container{
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:scroll;
    position:relative;

}




.photogrid-cell{
    position: absolute;
    /*border:1px solid black;*/
}

.photogrid-droppable{
    position: absolute;
    z-index:-1;
}

.photogrid-thumbscroller-vertical{
    border-left:1px solid #999999;
    background-color:#cccccc;
    position:absolute;
    height: 100%;
    width:20px;
    top:0px;
    right:0px;
    z-index:1000;
}

.photogrid-thumbscroller-horizontal{
    border-left:1px solid #999999;
    background-color:#cccccc;
    position:absolute;
    width: 100%;
    height:20px;
    bottom:0px;
    left:0px;
    z-index:1000;
}


.photo-droppable{
    position:absolute;
    background-color: transparent;
    z-index:-1;
}


.photo-droppable-marker{
    position:absolute;
    top:0px;
    left:48px;
    width:5px;
    background-color: #FDD042;
    height:100%;
    display:none;
}


.photo-border{
    /*box-shadow: 0px 0px 3px #e6e6e6;*/
    /*-webkit-box-shadow: 0px 0px 3px #e6e6e6;*/
    /*-moz-box-shadow: 0px 0px 3px #e6e6e6;*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#767676')";*/
    /*position:absolute;*/
    /*cursor: pointer;*/
    /*padding:0px;*/
    /*border:1px solid #d6d6d6*/

    box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    -moz-box-shadow: 0px 0px 3px #aaa;
    /*border-bottom:0px;*/
    padding-bottom:0px;
    display:inline-block;
    margin:0px;
    /*border: 1px #ccc solid;*/

    /*margin-left:auto;*/
    /*margin-right:auto;*/

}

.ua-ie .photo-border{
    padding: 1px;
    background-color: #e6e6e6;
    border: 1px #f4f4f4 solid;
}

.photo-border .bottom-shadow{
    position:absolute;
    left:0px;
    bottom:-9px;
    height:9px;
    width:100%;
}




.photogrid-cell.dragging .photo-border, .photo-border:hover, .photo-border.highlighted{
    box-shadow: 0px 0px 3px #FDD042;
    -webkit-box-shadow: 0px 0px 3px #FDD042;
    -moz-box-shadow: 0px 0px 3px #FDD042;
    /*border:1px solid #FDD042;*/
}

.ua-ie .photogrid-cell.dragging .photo-border, .photo-border:hover, .photo-border.highlighted{
    /*padding: 1px;*/
    /*background-color: #FDD042;*/
    /*border: 1px #FDD042 solid;*/
}


.photo-image{
    border: #fff solid 5px;
    margin: 0px;
}

.photo-undeveloped{
    border: #fff solid 5px;
    margin: 0px;
    background-color:#CCCCCC;

}


.photo-uploading-icon{
    position: absolute;
    bottom: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/icon-uploading.png");
    z-index:1000;
}

.photo-error-icon{
    position: absolute;
    bottom: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/icon-error.png");
    z-index:1000;
}

.photo-delete-button{
    position: absolute;
    top: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/btn-delete-photo.png");

}



.photo-border:hover .photo-delete-button{
    display:block;
    z-index:3000;
}

.photo-delete-button:hover {
    display:block;
}

.photo-caption{
    text-align: center;
    position:absolute;
    bottom:5px;
    left:5px;
    right:5px;
    /*background-image: url("/images/photo/bg-blk-75.png");*/
    display:block;
    padding:5px;
    height:15px;
    /*font-size:1.3em;*/
    /*font-size:14px;*/
    /*font-size:12px;*/
    /*color: #0A0A0A;*/
    /*color: #7A7A7A;*/
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font-family:Verdana;*/
    font-size:1.3em;
    color: #636363;


}

/*.photo-border:hover .photo-caption{*/
    /*display:block;*/
/*}*/

.photo-caption input{
    position:absolute;
    left:0px;
    right:0px;
    /*top:2px;*/

}
