.photochooser-container{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.photochooser{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    /*border:1px solid red;*/
    width:898px;
}

.photochooser .header{
    position:absolute;
    top:0px;
    height:50px;
    left:0px;
    right:0px;
    /*border:1px solid yellow;*/
}

.photochooser .header .back-button{
    position: absolute;
    top:8px;
}

/*.photochooser .header h3{*/
    /*font-size: 17px;*/
    /*font-weight: 500;*/
    /*color: #0A0A0A;*/
    /*margin-top:0px;*/
    /*margin-bottom:5px;*/

/*}*/

/*.photochooser .header h4{*/
    /*font-size: 14px;*/
    /*font-weight: 500;*/
    /*color: #0A0A0A;*/
    /*margin-top:0px;*/
    /*margin-bottom:0px;*/
/*}*/



.photochooser .body{
    position: absolute;
    top:50px;
    left:0px;
    right:0px;
    bottom:45px;
    /*border:1px solid blue;*/
}

.photochooser .body .progress-indicator{
    position: relative;
    top: 100px;
}

.photochooser .footer{
    position:absolute;
    bottom:0px;
    right:0px;
    left:0px;
    /*border:1px solid green;*/
    background-image:url(/images/bg-picture-tray.png);
    height:60px;
}


.photochooser .footer .added-pictures-tray{
    position: absolute;
    top:25px;
    display: block;
    height: 20px;
    left:5px;
    right:5px;

}

