.photogrid{
    top: 0px;
    left: 0px;
    right: 0px;
    height:100%;
    overflow-y:auto;
    overflow-x:scroll;
    position:absolute;

}


.photogrid .scroll-padding{
    position: absolute;
    height: 1px;
    width: 1px;
}

.photogrid-cell{
    position: absolute;
    /*border:1px solid black;*/
    text-align:left; /*use absolute position to center */
}

.photogrid-droppable{
    position: absolute;
    z-index:-1;

}

.photogrid-thumbscroller-vertical{
    border-left:1px solid #999999;
    background-color:#cccccc;
    position:absolute;
    height: 100%;
    width:20px;
    top:0px;
    right:0px;
    z-index:1000;
}

.photogrid-thumbscroller-horizontal{
    border-left:1px solid #999999;
    background-color:#cccccc;
    position:absolute;
    width: 100%;
    height:20px;
    bottom:0px;
    left:0px;
    z-index:1000;
}


.photogrid-hide-native-scroller-horizontal{
    background-color:#fff;
    position:absolute;
    width: 100%;
    height:20px;
    bottom:0px;
    left:0px;
}

.photogrid-hide-native-scroller-vertical{
    /*todo: need style here*/
}



.photo-droppable{
    position:absolute;
    background-color: transparent;
    z-index:-1;
}


.photo-droppable-marker{
    position:absolute;
    top:0px;
    left:48px;
    width:5px;
    background-color: #FDD042;
    height:100%;
    display:none;
}


.photo-border{
    position:relative;
    cursor: pointer;
    box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    -moz-box-shadow: 0px 0px 3px #aaa;
    padding-bottom:0px;
    display:inline-block;
    margin:0px;
}

.ua-ie .photo-border{
    /*padding: 1px;*/
    /*background-color: #e6e6e6;*/
    border-top: 1px #f4f4f4 solid;
    border-left: 1px #f4f4f4 solid;
    border-right: 1px #f4f4f4 solid;
    border-bottom: none;
    /*border-right: 0px #f4f4f4 solid;*/
}




.photo-border .bottom-shadow{
    position:absolute;
    left:-2px;
    bottom:-9px;
    height:9px;
    width:100%;
}


/*.photo-border:hover{*/
    /*box-shadow: 0px 0px 3px #FDD042;*/
        /*-webkit-box-shadow: 0px 0px 3px #FDD042;*/
    /*-moz-box-shadow: 0px 0px 3px #FDD042;*/
/*}*/


/* use the no-shadow class to turn of the photo shadow */
.photo-border.no-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.ua-ie .photo-border.no-shadow{
    padding: 0px;
    background-color: none;
    border: none;
}


.photo-border.no-shadow .bottom-shadow{
    visibility:hidden;
}

.photo-border.no-shadow:hover{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}







.photogrid-cell.dragging .photo-border, .photo-border.highlighted{
    box-shadow: 0px 0px 3px #FDD042;
    -webkit-box-shadow: 0px 0px 3px #FDD042;
    -moz-box-shadow: 0px 0px 3px #FDD042;
    /*border:1px solid #FDD042;*/
}

.ua-ie .photogrid-cell.dragging .photo-border, .photo-border:hover, .photo-border.highlighted{
    /*padding: 1px;*/
    /*background-color: #FDD042;*/
    /*border: 1px #FDD042 solid;*/
}


.photo-image{
    border: #fff solid 5px;
    border-bottom: #fff solid 2px;
    margin: 0px;
}

.ua-ie .photo-image{
    border: #fff solid 5px;
}



/*.photo-undeveloped{*/
    /*border: #fff solid 5px;*/
    /*margin: 0px;*/
    /*background-color:#CCCCCC;*/

/*}*/


/*.photo-uploading-icon{*/
    /*position: absolute;*/
    /*bottom: -16px;*/
    /*right: -16px;*/
    /*display:none;*/
    /*width:32px;*/
    /*height:32px;*/
    /*background-image: url("/images/photo/icon-uploading.png");*/
    /*z-index:1000;*/
/*}*/

/*.photo-error-icon{*/
    /*position: absolute;*/
    /*bottom: -16px;*/
    /*right: -16px;*/
    /*display:none;*/
    /*width:32px;*/
    /*height:32px;*/
    /*background-image: url("/images/photo/icon-error.png");*/
    /*z-index:1000;*/
/*}*/

.photo-status-scrim{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 28px;
    opacity: .7;
    filter: alpha(opacity = 70); /* for ie */
    background-color: white;
}

.photo-status-bar{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 28px;
    text-align: center;
}

.photo-status-bar .photo-status.uploading{
    line-height: 24px;
    font-weight: bold;
    color: #333;
    padding-left: 23px;
    background: url("/images/photo/icon-uploading.png") no-repeat 0px 2px;
    height: 28px;
    display: inline-block;
}

.photo-status-bar .photo-status.error{
    line-height: 24px;
    font-weight: bold;
    color: #333;
    padding-left: 23px;
    background: url("/images/photo/icon-error.png") no-repeat 0px 2px;
    height: 28px;
    display: inline-block;
}



.photo-like-icon{
    position: absolute;
    bottom: -18px;
    left: -18px;
    display: inline;
    width:32px;
    height:32px;
    z-index:1000;
}



.photo-delete-button{
    position: absolute;
    top: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/btn-delete-photo.png");

}

.photo-border .photo-add-button{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.photo-border .photo-add-button .scrim{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:none;
}


.photo-border .photo-add-button .icon{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:none;
}

.photo-border:hover .photo-add-button .scrim, .photo-border .photo-add-button.checked .scrim{
    background-color: #fff;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* for ie */
    display: block;
}

.photo-border:hover .photo-add-button .icon{
    background-image:url('/images/photo/btn-add-photo-small.png');
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
}


.photo-border .photo-add-button.checked .icon{
    background-image:url('/images/photo/photo-added-small.png');
    background-repeat:no-repeat;
    background-position:center center;
    display:block;

}


.photo-border .magnify-button{
    position:absolute;
    right:0px;
    bottom:0px;
    width:27px;
    height:27px;
    background-image:url('/images/photo/btn-magnify.png');
    display:none;

}

.photo-border:hover .magnify-button{
    display:block;
}







.photo-border:hover .photo-delete-button{
    display:block;
    /*z-index:3000;*/
}

.photo-delete-button:hover {
    display:block;
}

.photo-caption{
    text-align: center;
    position:absolute;
    bottom:3px;
    left:5px;
    right:5px;
    display:block;
    padding:5px;
    height:35px;
    font-size:13px;
    color: #636363;
    padding-left:10px;
    padding-right:10px;
    text-shadow: white 1px 1px 0px;
}

.photo-caption .caption-editor{
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.photo-caption .caption-editor-inner{
    position:relative;
    margin: 0 auto;
    width: 220px;
    height: 30px;
}

.photo-caption .edit-caption-border{
    position:absolute;
    top:0px;
    left:0px;
    height:30px;
    width:190px;
    background-image:url(/images/edit-caption-border.png);
    background-repeat:no-repeat;    
}

.photo-caption input{
    position:absolute;
    top:5px;
    left:3px;
    border:none;
    outline:none;
    height:12px;
    width:170px;
    padding-left:5px;
    padding-right:5px;
    padding-top:4px;
    font-size:12px;
    color: #636363;
    overflow:  hidden;
}

.ua-ie .photo-caption input{
    padding-top:4px;
    padding-right:10px;
}

.photo-caption input:focus{
    border:none;
    outline:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    filter: none;


}

.photo-caption .caption-ok-button{
    background: url(/images/edit-caption-ok-button.png) no-repeat scroll right top;
    width:30px;
    height:28px;
    display:inline-block;
    margin: 0;
    position:absolute;
    right:-29px;
    top:0px;
    cursor:pointer;
}


.photogrid-cell .photo-rollover-frame {
    position: absolute;
    width:231px;
    height:255px;
    top:0px;
    background-image:url('/images/photo/photo-frame-rollover.png?2');
}




.photogrid-cell .photo-rollover-frame .button-bar {
    position: absolute;
    bottom: 10px;
}

.photogrid-cell .photo-rollover-frame .button-bar .button{
    position: relative;
    width:20px;
    height:18px;
    cursor:pointer;
    margin:3px 0px;
    padding: 0px 6px;
    display: inline-block;
}


/*  Share Button
 *************************************/
.photogrid-cell .photo-rollover-frame .button-bar .share-button{
    background: url(/images/album_toolbar_share.png) no-repeat scroll 6px -19px transparent;
}

.photogrid-cell .photo-rollover-frame .button-bar .share-button:hover{
    background-position:  6px -1px;
}


/*  Like Button
 *************************************/
.photogrid-cell .photo-rollover-frame .button-bar .like-button{
     /*The like button is styled inside by like.css */
    top:-2px;
    width: auto;
}


/*  Comment Button
 *************************************/
.photogrid-cell .photo-rollover-frame .button-bar .comment-button{
    background: url(/images/album_toolbar_comments.png) no-repeat scroll 6px -18px transparent;
}


.photogrid-cell .photo-rollover-frame .button-bar .comment-button:hover{
    background-position:  6px 0px;
}

.photogrid-cell .photo-rollover-frame .button-bar .comment-button .count{
    position: absolute;
    top: 8px;
    left: 16px;
    border: solid 1px #999;
    background: white;
    color: #111;
    text-align: right;
    text-shadow: 0 .5px 1px #666;
    padding: .5px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
}




/*  Info Button
 *************************************/
.photogrid-cell .photo-rollover-frame .button-bar .info-button{
    top:0px;
    height:17px;
    background: url(/images/album_toolbar_info.png) no-repeat scroll 6px -19px transparent;
}

.photogrid-cell .photo-rollover-frame .button-bar .info-button:hover{
    background-position: 6px -1px;
}



/*  Buy Button
 *************************************/
.photogrid-cell .photo-rollover-frame .button-bar .buy-button{
    height:20px;
    top:0px;
    background: url(/images/album_toolbar_buy.png) no-repeat scroll 6px -19px transparent;
}

.photogrid-cell .photo-rollover-frame .button-bar .buy-button:hover{
    background-position:  6px 1px;
}


/* Add All Button
*************************************/
.photos #article .photogrid .photogrid-cell .add-all-button {
    position: absolute;
    left: 54px;
    top: 27px;
    cursor: pointer;
}
