.photogrid-container{
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:scroll;
    position:relative;
    /*top:0px;*/
    /*left:0px;*/
    /*bottom:0px;*/
    /*right:0px;*/
}




.photogrid-cell{
    position: absolute;
}

.photogrid-droppable{
    position: absolute;
    /*border:2px solid black;*/
    z-index:-1;
}

.photogrid-thumbscroller-vertical{
    border-left:1px solid #999999;
    background-color:#cccccc;
    position:absolute;
    height: 100%;
    width:20px;
    top:0px;
    right:0px;
    z-index:1000;
}

.photogrid-thumbscroller-horizontal{
    border-left:1px solid #999999;
    background-color:#cccccc;
    position:absolute;
    width: 100%;
    height:20px;
    bottom:0px;
    left:0px;
    z-index:1000;
}


.photo-droppable{
    position:absolute;
    /*left:-50px;*/
    /*height:100px;*/
    /*width:100px;*/
    background-color: transparent;
    z-index:-1;
    /*border:1px solid black;*/
}


.photo-droppable-marker{
    position:absolute;
    top:0px;
    left:48px;
    width:5px;
    background-color: #FDD042;
    height:100%;
    display:none;
}


.photo-border{
    box-shadow: 0px 0px 3px #e6e6e6;
    -webkit-box-shadow: 0px 0px 3px #e6e6e6;
    -moz-box-shadow: 0px 0px 3px #e6e6e6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#767676')";
    position:absolute;
    cursor: pointer;
    padding:0px;
    border:1px solid #d6d6d6
}



.photogrid-cell.dragging .photo-border, .photo-border:hover, .photo-border.highlighted{
    box-shadow: 0px 0px 2px #FDD042;
    -webkit-box-shadow: 0px 0px 2px #FDD042;
    -moz-box-shadow: 0px 0px 2px #FDD042;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#FDD042')";
    border:1px solid #FDD042;

}


.photo-image{
    border: #fff solid 5px;
    margin: 0px;
}

.photo-undeveloped{
    border: #fff solid 5px;
    margin: 0px;
    background-color:#CCCCCC;

}


.photo-uploading-icon{
    position: absolute;
    bottom: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/icon-uploading.png");
    z-index:1000;
}

.photo-error-icon{
    position: absolute;
    bottom: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/icon-error.png");
    z-index:1000;
}

.photo-delete-button{
    position: absolute;
    top: -16px;
    right: -16px;
    display:none;
    width:32px;
    height:32px;
    background-image: url("/images/photo/btn-delete-photo.png");

}



.photo-border:hover .photo-delete-button{
    display:block;
    z-index:3000;
}

.photo-delete-button:hover {
    display:block;
}

.photo-caption{
    font-family: Arial;
    color: #7a7a7a;
    text-align: center;
    position:absolute;
    bottom:5px;
    left:5px;
    right:5px;
    background-image: url("/images/photo/bg-blk-75.png");
    display:block;
    padding:5px;
    height:15px;
    font-size:.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*.photo-border:hover .photo-caption{*/
    /*display:block;*/
/*}*/

.photo-caption input{
    position:absolute;
    left:0px;
    right:0px;
    /*top:2px;*/

}
