.picon{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.picon .stacked-image{
    position:absolute;
    box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px #aaa;
    -moz-box-shadow: 0 0 3px #aaa;
    background-color:#fff;
    text-align:center;
}

.ua-ie .picon .stacked-image{
    border:1px solid #ccc;
}
.picon .stacked-image .cover-photo{
    border:5px solid #fff;
    cursor:pointer;
}

.picon .stacked-image .button-bar{
    position:absolute;
    left:0;
    right:0;
    bottom:15px;
    height:15px;
    display:none;
}

.picon .stacked-image .button-bar .buttons{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    height:20px;
    display:inline-block;
}

.picon .caption{
    position: absolute;
    bottom:25px;
    left:5px;
    right:5px;
    text-align:center;
    font-size:13px;
    color: #636363;
    text-shadow: white 1px 1px 0;
}

.picon .button{
    float:left;
    height:18px;
    width:20px;
    cursor:pointer;
    margin: 3px 0px;
    padding: 0px 6px;

}

.picon .stacked-image .button-bar .buttons .share-button{ background: url(/images/album_toolbar_share.png) no-repeat scroll 6px -19px transparent;}
.picon .stacked-image .button-bar .buttons .share-button:hover{ background-position: 6px -1px; }

.picon .stacked-image .button-bar .buttons .like-button{ width:auto;} /*The like button is styled inside by like.css */


.picon .stacked-image .button-bar .buttons .delete-button{ background: url(/images/album_toolbar_delete.png) no-repeat scroll 6px -19px transparent; }
.picon .stacked-image .button-bar .buttons .delete-button:hover{ background-position: 6px 0px; }


