.picon{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.picon .stacked-image{
    position:absolute;
    box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px #aaa;
    -moz-box-shadow: 0 0 3px #aaa;
    background-color:#fff;
    text-align:center;
    min-width: 100px;
}

.ua-ie .picon .stacked-image{
    border:1px solid #ccc;
}
.picon .stacked-image .cover-photo{
    border:5px solid #fff;
    cursor:pointer;
}

.picon .stacked-image .button-bar{
    position:absolute;
    left:0;
    right:0;
    bottom:15px;
    height:15px;
    display:none;
}

.picon .stacked-image .button-bar .buttons{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    height:20px;
    display:inline-block;
}

.picon .photo-caption{
    position: absolute;
    bottom: 0px;
    left:5px;
    right:5px;
    text-align:center;
    font-size:13px;
    color: #636363;
    text-shadow: white 1px 1px 0;
    padding: 0 0 0 0;
    height: 26px;
    /*width: 200px;*/
}

.picon .photo-caption .edit-caption-border{
    top:-2px;
}

.picon .photo-caption input{
}

.picon .photo-caption .caption-ok-button{
    width:30px;
    height:28px;
    background: url('/images/edit-caption-ok-button.png') no-repeat scroll right -30px;
    line-height: 31px;
    color:#ffffff ;
    text-align:center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size:  12px;
    text-shadow: 0 1px 3px #000000;
    font-weight: 700;
}





.picon .button{
    float:left;
    height:18px;
    width:20px;
    cursor:pointer;
    margin: 3px 0px;
    padding: 0px 6px;

}

.picon .stacked-image .button-bar .buttons .share-button{ background: url(/images/album_toolbar_share.png) no-repeat scroll 6px -19px transparent;}
.picon .stacked-image .button-bar .buttons .share-button:hover{ background-position: 6px -1px; }

.picon .stacked-image .button-bar .buttons .like-button{ width:auto;} /*The like button is styled inside by like.css */


.picon .stacked-image .button-bar .buttons .delete-button{ background: url(/images/album_toolbar_delete.png) no-repeat scroll 6px -19px transparent; }
.picon .stacked-image .button-bar .buttons .delete-button:hover{ background-position: 6px 0px; }

/*  Info Button
 *************************************/
.picon .stacked-image .button-bar .buttons .info-button{
    top:0px;
    height:17px;
    background: url(/images/album_toolbar_info.png) no-repeat scroll 6px -19px transparent;
}

.picon .stacked-image .button-bar .buttons .info-button:hover{
    background-position: 6px -1px;
}




