.share-menu{
    background: url("/images/share/share-menu.png") no-repeat scroll top right;
    width:120px;
    height:118px;
    position: absolute;
    cursor:pointer;
    z-index:1000;
}

.share-menu .menu-item{
    font-size: 12px;
    font-weight: 700;
    color: #FAFAFA;
    text-shadow: 0 1px black;
    text-align:left;
    padding-left:30px;
    position:relative;
    margin-top:2px;
    margin-left:0px;
    cursor:pointer;
    height:25px;
    width:90px;
    padding-top:6px;
}



.share-menu .menu-item.email{
    background: url("/images/share/email-icon.png") no-repeat scroll 3px 8px;
}

.share-menu .menu-item.twitter{
    background: url("/images/share/twitter-icon.png") no-repeat scroll 2px 6px;
}

.share-menu .menu-item.facebook{
    background: url("/images/share/facebook-icon.png") no-repeat scroll 3px 6px;
}


.share-menu .menu-item:hover{
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    cursor:pointer;
}

