.signin{
   background-color:#000;
}

.signin .bg{
	position:absolute;
	left:0;
	top:0;
	width:100%;
}

.user-session-dialog{
    top: 200px;
    width: 630px;
    height: 250px;
    color: #6A6A6C;
    text-shadow: 1px 1px white;
}

#join-dialog{
    height: 320px;
}

.user-session-dialog .logo{
    position: absolute;
    top:-1000px; /*hide it to start*/
    left:15px;
}

.user-session-dialog .logo img{
    width:195px;
    height:106px;
}


.user-session-dialog .content{
    position:absolute;
    top:0px;
    left:235px;
    right:0px;
    bottom:0px;
}

.user-session-dialog .content table{
    width:100%
}

.user-session-dialog .content table td{
    padding:3px;
    padding-left:0px;
}

.user-session-dialog .content table td.label{
    text-align:left;
    white-space:nowrap;
}

.user-session-dialog .content table td.field{
    text-align:right;
    height: 25px;
}



.user-session-dialog .content table td.field .field-wrapper{
    position:relative;
}




.user-session-dialog .content #flash-error{
    text-align:left;
    color:red;
    min-height:20px;
    margin-bottom:5px
}

.user-session-dialog form{
    text-align:right;
    font-size:14px;
}

.user-session-dialog input{
    width:200px;
    margin-left:10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*.user-session-dialog input.error{*/
    /*border: 2px solid red;*/
/*}*/


.user-session-dialog #back-to-signin-button{
    position:absolute;
    right:0px;
    top:0px;
    width:80px;
}

.user-session-dialog #submit-button{
    position:absolute;
    right:0px;
    bottom:0px;
    width:80px;
}

.user-session-dialog #ok-button{
    position:absolute;
    right:0px;
    bottom:0px;
    width:80px;
}

.user-session-dialog #header-hairline{
    margin-top:12px;
    margin-bottom:12px;
    left:0px;
    right:0px;
    border-bottom:1px solid #e2e3e8;
}

.user-session-dialog h1{
    font-size: 19px;
    text-align: left;
    position:relative;
    top:4px;
}

.user-session-dialog p{
    font-size:14px;
    text-align:left;
    position:relative;
    margin-top:10px;

}

.user-session-dialog #tos{
    font-size: 12px;
    text-align:left;
    margin-top:5px;
}

.user-session-dialog #forgot-password-link{
    margin-top:5px;
}

.user-session-dialog label.error{
    position: absolute;
    background-color: #000;
    opacity: .7;
    filter: alpha(opacity = 60);
    text-shadow: none;
    color: white;
    width: 230px;
    border: 1px solid white;
    text-align: left;
    padding: 4px 4px 4px 10px;
    right: -250px;
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    top: -1px;
    font-weight: 200;
}


