.stacked-badge{
  position: relative;
  height:40px;
}

.stacked-badge .sb-photo{
    position: absolute;
    width: 40px;
    height:40px;
}

.stacked-badge .sb-name{
  position: absolute;
  top: 1px;
  left: 50px;
  font-size: 16px;
  overflow: hidden;
  white-space:nowrap;
}
.stacked-badge .sb-name:active, .stacked-badge .sb-name:hover{
    text-decoration: underline;
    color: #333;
}

.stacked-badge .sb-name.no-follow{
    top:13px;
}
.stacked-badge .sb-follow{
  position: absolute;
  bottom: -3px;
  left: 50px;
}

