

.thumbtray-wrapper{
    position:relative
}

.thumbtray-thumbnails{
    z-index:0;
    position:absolute;
    left:0px;
    top:0px
}

.thumbtray-thumbnails img{
    float:left;
    display:inline;
}

.thumbtray-selection{
    display:none;
    position:absolute;
    border:solid 1px #FDD042
}

.thumbtray-selection.x{
    bottom:21px;
}

.thumbtray-selection.y{
    right:21px;
}


.thumbtray-selection img{
    border:3px solid #fff
}

.thumbtray-preview{
    display:none;
    position:absolute;
    border:solid 1px #FDD042
}

.thumbtray-preview.x{
    bottom:21px;
}

.thumbtray-preview.y{
    right:21px;
}


.thumbtray-preview img{
    border:3px solid #fff
}

.thumbtray-preview .thumbtray-delete-button{
    display:none;
    position:absolute;
    cursor: pointer;
    height:32px;
    width:32px;
    background-image: url("/images/btn-delete.png");
    background-repeat: no-repeat;
}

.thumbtray-preview.x .thumbtray-delete-button{
    right:-16px;
    top:-16px;
    /*z-index:1000;*/
}

.thumbtray-preview.y .thumbtray-delete-button{
    left:-16px;
    top:-16px;
}

.thumbtray-loading-indicator{
    position:absolute;
    display:none;
    width:20px;
    height:20px;
}

.thumbtray-current-index-indicator{
    display:none;
    position:absolute;
    width:10px;
    height:10px;
    border:3px solid #000000;
}

.thumbtray-scrim{
    z-index:0;
    position:absolute;
    left:0px;
    top:0px;
    opacity:.5;
    filter:alpha(opacity=50);
    background-color:#fff
}
