/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100% !important;
    width: 100%;
    /*border: 1px solid #afafaf;*/
    cursor: text;
    font-size: 14px;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list-facebook {
    list-style-type: none;
}


/*ul.token-input-list-facebook li input {
    border: 0;
    width: 160px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
}
*/
/*li.token-input-token-facebook {*/
    /*overflow: hidden; */
    /*height: auto !important; */
    /*height: 1%;*/
    /*margin: 3px;*/
    /*padding: 1px 3px;*/
    /*background-color: #eff2f7;*/
    /*color: #000;*/
    /*cursor: default;*/
    /*border: 1px solid #ccd5e4;*/
    /*font-size: 11px;*/
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*float: left;*/
/*}*/
li.token-input-token-facebook {
    overflow: hidden;
    height: auto!important;
    height: 1%;
    margin: 1px;
    padding: 3px 5px 5px 5px;
    background-color: #EFF2F7;
    color: black;
    cursor: default;
    border: 1px solid #CCD5E4;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}

li.token-input-token-facebook.error{
    /*background-color: #ff3333;*/
    /*border-color: #A44F1C;*/
    border: 2px solid #A44F1C;
    padding: 2px 4px 4px 4px;

}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;

}

li.token-input-input-token-facebook {
    float: left;
    width: 30%;
}

li.token-input-input-token-facebook input {
    border:none;
    height:20px;
    padding: 3px;
    font-size: 13px;
}

/*div.token-input-dropdown-facebook {*/
    /*position: absolute;*/
    /*width: 400px;*/
    /*background-color: #fff;*/
    /*overflow: hidden;*/
    /*border-left: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    /*cursor: default;*/
    /*font-size: 11px;*/
    /*font-family: Verdana;*/
    /*z-index: 1;*/
    /*max-height:150px;*/
    /*overflow-y:auto;*/
/*}*/


div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
    max-height:250px;
    overflow-y:auto;
    margin-left:-2px;

    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;

    text-align: left;

}


div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: normal;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: none;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}

