/*  Top Tool Bar
*********************************************************************/
#header {
  position: absolute;
  height: 60px;
  top: -2px;
  left:10px;
  right:10px;
  z-index: 300;
}

#header-left{
    position:absolute;
    background: url("/images/embed/toolbars/bg-header-left.png") no-repeat;
    width:173px;
    height:59px;
    left:0px;
}

#header-middle{
    position:absolute;
    background: url("/images/embed/toolbars/bg-header-middle.png") repeat-x;
    height:59px;
    left:172px;     /* need overlap here to prevent gaps on iOS */
    right:173px;    /* need overlap here to prevent gaps on iOS */
    
}

#header-right{
    position:absolute;
    background: url("/images/embed/toolbars/bg-header-right.png") no-repeat;
    width:174px;
    height:59px;
    right:0px;
}

.header-button-label{
    position:absolute;
    bottom: 5px;
    width:100%;
    font-size: 12px;
    text-align:center;
    text-shadow: #EEE 1px 1px 0px;
}

#header #home-button{
    position: absolute;
    top: 1px;
    left: 4px;
    width: 115px;
    height: 55px;
    cursor: pointer;
}

#header #top-breadcrumb{
    position: absolute;
    left: 140px;
    top: 14px;
}
#top-breadcrumb #back-button{
    display: inline-block;
}

#top-breadcrumb #top-add-photos-button{
    display: inline-block;
    margin-right: 10px;
}

#header #inline-new-album-button{
    position: absolute;
    left: 140px;
    top: 14px;
}

#header #album-info{
    position:relative;
    top:6px;
    width:490px;
    margin-left:auto;
    margin-right:auto;
}

#header #album-info #album-cover-border{
    box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    -moz-box-shadow: 0px 0px 3px #aaa;
    padding-bottom:0px;
    display:inline-block;
    margin:0px;
    position:relative;
    height:44px;
}

#header #album-info #album-cover-border img.album-cover{
    border: #fff solid 2px;
    margin: 0px;
}

#header #album-info #album-cover-border img.bottom-shadow{
    height:5px;
    position:absolute;
    left:0px;
    bottom:-5px;
}

#header #album-info #album-name-and-owner {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 5px;
}

#album-header-title{
    max-width: 300px;
    height: 30px;
}

#album-name-and-owner #edit-album-title{
    position: absolute;
    top: -2px;
    left: 0;
    min-width: 235px;
    height: 28px;
}

#album-name-and-owner .album-title-input#album-title-input {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 6px 3px 3px;
    min-width: 203px;
    height: 20px;
    font-size: 17px;
    font-weight: normal;        
    outline: none;
    border-color: #fed33a;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 1px 0 10px rgba(254,211,58,.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 1px 0 10px rgba(254,211,58,.6);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 1px 0 10px rgba(254,211,58,.6);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#album-name-and-owner .title-ok-button{
    display: inline-block;
    background:url(/images/edit-caption-ok-button-lrg.png) scroll no-repeat right -32px;
    width:33px;
    height:33px;
    margin: 0;
    position:absolute;
    right:-6px;
    top: -2px;
    cursor:pointer;

    line-height: 32px;
    color:#ffffff ;
    text-align:center;
    font-family: Arial, sans-serif;
    font-size:  14px;
    text-shadow: 0 1px 3px #000000;
    font-weight: 600;

}



#album-info #owner-follow{
    position: relative;
    top: -1px;
    display: inline-block;
    margin: 0 0 0 10px;
}

#header #album-info #album-name-and-owner h2{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color:#2c2c2c;
    white-space: nowrap;
    overflow: hidden;
    height: 24px;
}
#header #album-info #album-name-and-owner h3{
    display: inline-block;
    vertical-align:top;
    line-height: 20px;
    color:#7a7a7a
}

#header #user-info{
    position: relative;
    top: 7px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    display: block;
    text-align: center;
}

#user-info #user-info-picture{
    height: 40px;
    width: 40px;
    vertical-align: bottom;
    display: inline-block;
}

#user-info #user-name {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    height: 100%;
    padding-left: 5px;
}

#user-info-picture .defaultprofilepic {
    cursor: pointer;
}

#user-name h2{
    vertical-align: top;
    position: relative;
    top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #2C2C2C;
}

#user-name h2.with-follow{
    top: 0;
}

#user-name #owner-follow{
    position: relative;
    top: 3px;
}

#header #admin-info{
    position: relative;
    display: inline-block;
    text-align: center;
}

#header #admin-info .green-button{
    border: 1px solid red;
}



/* For all disabled buttons
******************************************/
#header .disabled, #footer .disabled{
    cursor:default;
    opacity:0.5;
    filter: alpha(opacity = 50); /* for ie */
}


/*   View Buttons
 ******************************************/
#header #view-buttons{
    position:absolute;
    right:150px;
    top:14px;
}

#grid-view-button{
    float:left;
    width:37px;
    height:32px;
    background: url("/images/embed/toolbars/btn-header-grid-view.png") no-repeat scroll 0px 0px transparent;
    cursor:pointer;
}
#grid-view-button:hover{    background-position: 0 -32px;  }
#grid-view-button.selected{ background-position: 0 -64px;  }
#grid-view-button.disabled{ background-position: 0 0;}

#people-view-button{
    float:left;
    width:32px;
    height:32px;
    background: url("/images/embed/toolbars/btn-header-people-view.png") no-repeat scroll 0px 0px transparent;
    cursor:pointer;
}
#people-view-button:hover{     background-position: 0 -32px; }
#people-view-button.selected{  background-position: 0 -64px; }
#people-view-button.disabled{  background-position: 0 0;}

#activities-view-button{
    float:left;
    width:37px;
    height:32px;
    background: url("/images/embed/toolbars/btn-header-activitites-view.png") no-repeat scroll 0px 0px transparent;
    cursor:pointer;
}
#activities-view-button:hover{    background-position: 0 -32px;  }
#activities-view-button.selected{ background-position: 0  -64px; }
#activities-view-button.disabled{ background-position: 0 0;}

#header-right-gradient {
    position: absolute;
    top: 1px;
    right: 116px;
    width: 44px;
    height: 55px;
    background: url("/images/embed/toolbars/bg-header-rightgradient.png") no-repeat scroll 0px 0px transparent;	
}

#help-button{
    position: absolute;
    top: 1px;
    right: 58px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-header-help.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#help-button:hover{     background-position: 0  -55px;   }
#help-button.selected{  background-position: 0 -110px;   }
#help-button.disabled{  background-position: 0 0;}

#admin-button{
    text-decoration: none;
    position: absolute;
    top: 1px;
    right: 58px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-header-admin.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#admin-button:hover{     background-position: 0  -109px;   }
#admin-button.disabled{  background-position: 0 0;}
#admin-button .header-button-label{
    color: black;
    text-decoration: none;
}



#header #sign-in-button{
    position: absolute;
    top: 1px;
    right: 0px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-header-sign-in.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#header #sign-in-button:hover{    background-position: 0 -55px;  }
#header #sign-in-button.selected{ background-position: 0 -110px; }
#header #sign-in-button.disabled{ background-position: 0  0; }

#header #account-badge {
  position:absolute;
  right:0px;
  top:1px;
  width:58px;
  height:55px;
  cursor: pointer;
  background: url("/images/embed/toolbars/btn-header-account-settings.png") no-repeat scroll 0px 0px transparent;
}
#header #account-badge:hover {   background-position: 0 -55px; }
#header #account-badge.selected{ background-position: 0  -110px; }
#header #account-badge.disabled{ background-position: 0  0; }


#header #account-badge.admin-badge {
  background: url("/images/embed/toolbars/btn-header-account-settings.png") no-repeat scroll 0px -110px transparent;
}


#header #account-badge div#account-image {
    position:absolute;
    top:8px;
    left:4px;
    height: 25px;
    width: 25px;
}

#header #account-badge img#arrow-image {
    position:absolute;
    top:8px;
    right:4px;
}

#acct-dropdown{
    width:109px;
    right:7px;
    top:57px;
}


/*  Footer
 **************************************************************************************/
#footer {
  position: absolute;
  height: 59px;
  bottom: -2px;
  z-index: 10;
  left:10px;
  right:10px;
}

#footer-left{
    position:absolute;
    background: url("/images/embed/toolbars/bg-footer-left.png") no-repeat;
    width:18px;
    height:59px;
    left:0px;
}

#footer-middle{
    position:absolute;
    background: url("/images/embed/toolbars/bg-footer-middle.png") repeat-x;
    height:59px;
    left:18px;
    right:18px;
}

#footer-right{
    position:absolute;
    background: url("/images/embed/toolbars/bg-footer-right.png") no-repeat;
    width:18px;
    height:59px;
    right:0px;
}

.footer-button-label{
    position:relative;
    top: 38px;
    width:100%;
    font-size: 12px;
    text-shadow: #EEE 1px 1px 0px;
}

/*           New Album Button
 ***************************************************/
#footer #new-album-button{
    position:relative;
    float:left;
    width: 58px;
    height: 55px;
    top:1px;
    background: url("/images/embed/toolbars/btn-footer-new-album.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #new-album-button:hover    { background-position: 0 -55px;  }
#footer #new-album-button.selected { background-position: 0 -110px; }
#footer #new-album-button.disabled { background-position: 0 0; }

/*           Import Button
 ***************************************************/
#footer #import-button{
    position:relative;
    width: 58px;
    height: 55px;
    float:left;
    top:1px;
    background: url("/images/embed/toolbars/btn-footer-import.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    display: none;
}
#footer #import-button:hover    { background-position: 0 -55px;  }
#footer #import-button.selected { background-position: 0 -110px; }
#footer #import-button.disabled { background-position: 0 0; }




/*           Edit Album Button
 ***************************************************/
#footer #edit-album-button{
    position:relative;
    width: 58px;
    height: 55px;
    float:left;
    top:1px;
    background: url("/images/embed/toolbars/btn-footer-edit-album.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #edit-album-button:hover    { background-position: 0 -55px; }
#footer #edit-album-button.selected { background-position: 0 -110px; cursor: default; }
#footer #edit-album-button.disabled { background-position: 0 0; }

/*           Add Photos Button
 ***************************************************/
#footer #add-photos-button{
    position:relative;
    width: 58px;
    height: 55px;
    float:left;
    top:1px;
    background: url("/images/embed/toolbars/btn-footer-add-photos.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #add-photos-button:hover    { background-position: 0 -55px;  }
#footer #add-photos-button.selected { background-position: 0 -110px; }
#footer #add-photos-button.disabled { background-position: 0 0; }

/*           Control Buttons
 ***************************************************/
#footer #control-buttons{
    position:relative;
    top: 6px;
    height:44px;
    width:160px;
    margin-left:auto;
    margin-right:auto;
}

/*           Prev Button
 ***************************************************/
#footer #prev-button{
    position: absolute;
    width: 44px;
    height: 44px;
    left:0px;
    top:0px;
    background: url("/images/embed/toolbars/btn-footer-prev.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    display:none;
}
#footer #prev-button:hover   {    background-position: 0 -44px; }
#footer #prev-button:active  {   background-position: 0 -88px; }
#footer #prev-button.disabled{   background-position: 0 0;     }

/*           Play Button
 ***************************************************/
#footer #play-button{
    position: relative;
    width: 44px;
    height: 44px;
    top:0px;
    background: url("/images/embed/toolbars/btn-footer-play.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#footer #play-button:hover    { background-position: 0 -44px; }
#footer #play-button:active   { background-position: 0 -88px; }
#footer #play-button.disabled { background-position: 0 0; }

/*           Next Button
 ***************************************************/
#footer #next-button{
    position: absolute;
    width: 44px;
    height: 44px;
    right:0px;
    top:0px;
    background: url("/images/embed/toolbars/btn-footer-next.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    display:none;
}
#footer #next-button:hover   { background-position: 0 -44px; }
#footer #next-button:active  { background-position: 0 -88px; }
#footer #next-button.disabled{ background-position: 0 0; }


/*           Share Button
 ***************************************************/
#footer #share-button{
    position: absolute;
    top: 1px;
    right: 174px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-footer-share.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #share-button:hover   { background-position: 0  -55px; }
#footer #share-button.selected{ background-position: 0 -110px; }
#footer #share-button.disabled{ background-position: 0 0; }

/*           Comments Button
 ***************************************************/
#footer #comments-button{
    position: absolute;
    top: 1px;
    right: 232px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-footer-comments.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    display: none;
}
#footer #comments-button:hover   { background-position: 0  -55px; }
#footer #comments-button.selected{ background-position: 0 -110px; }
#footer #comments-button.disabled{ background-position: 0 0; }


#footer #comments-button .comment-count{
    position: absolute;
    top: 22px;
    left: 32px;
    border: solid 1px #999999;
    background: #ccc;
    color:#111111;
    text-align: right;
    text-shadow: 0 .5px 1px #666666;
    padding: .5px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
}
#footer #comments-button .comment-count.empty{
    display:none;
}


/*           Like Button
 ***************************************************/
#footer #like-button{
    position: absolute;
    top: 1px;
    right: 116px;
    width: 58px;
    height: 55px;
    cursor: pointer;
}
#footer #like-button.disabled { background-position: 0 0; }

/*           Cart Button
 ***************************************************/
#footer #cart-button{
    position: absolute;
    top: 1px;
    right: 58px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-footer-cart.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #cart-button:hover    { background-position: 0 -55px;  }
#footer #cart-button.selected { background-position: 0 -110px; }
#footer #cart-button.disabled { background-position: 0 0; }

#footer #cart-button .cart-count{
    position: absolute;
    top: 4px;
    left: 30px;
    border: solid 1px #999999;
    background: #ffffff;
    color:#111111;
    text-align: right;
    text-shadow: 0 .5px 1px #666666;
    padding: .5px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
}
#footer #cart-button .cart-count.empty{
    display:none;
}



/*           Buy Button
 ***************************************************/
#footer #buy-button{
    position: absolute;
    top: 1px;
    right: 0px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-footer-buy.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #buy-button:hover    { background-position: 0 -55px;  }
#footer #buy-button.selected { background-position: 0 -110px; }
#footer #buy-button.disabled { background-position: 0 0; }

/*           Info Button
 ***************************************************/
#footer #more-button{
    position: absolute;
    display: none;
    top: 1px;
    right: 290px;
    width: 58px;
    height: 55px;
    background: url("/images/embed/toolbars/btn-footer-more.png") no-repeat scroll 0px 0px transparent;
    cursor: pointer;
}
#footer #more-button:hover   { background-position: 0  -55px; }
#footer #more-button.selected{ background-position: 0 -110px; }
#footer #more-button.disabled{ background-position: 0 0; }
