ul.albums-grid-view {
    margin: 60px 0 45px;
}

ul.albums-grid-view li {
    float: left;
    width: 180px;
    height: 180px;
    font-size: 1.3em;
    font-weight: 400;
    overflow: hidden;

}

ul.albums-grid-view li td {
    vertical-align:middle;
    text-align:center;
    height:160px;
    width:180px
}



/*======================================LIKE - CONTEXT MENU =====================================*/
#like-popup{
    background: url("/images/bg-like-popup.png") no-repeat scroll 0 0 transparent;
    width:92px;
    height: 107px;
    z-index:1000;
}

#like-popup li{
    background-image: url("/images/btn-like.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 11px 12px 9px 34px;
    cursor:pointer;
}
#like-person{  background-position: 0 0; }
#like-album {  background-position: 0 -30px; }
#like-photo {  background-position: 0 -60px; }
#like-person:hover{  background-position: 0 -98px; }
#like-album:hover {  background-position: 0 -128px; }
#like-photo:hover {   background-position: 0 -158px; }



/*========================================= CONTEXT MENU ========================================*/
ul.context_menu {
    background:none repeat scroll 0 0 #121212;
    clear:both;
    position:absolute;
    display: none;
    z-index:0;
    font-size: 1.2em;
    text-align: left;
}
ul.context_menu  li {
    width: 100%;
    clear:both;
    float: none;
    display:block;
    margin: 0;
    padding:6px 15px;
    color: #BABABA;
}
ul.context_menu li:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:#FFFFFF;
}

ul.dropdown{
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.6);
}
ul.dropdown ul li:last-child {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
}

ul.popup{
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-box-shadow:0 2px -2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:0 2px -2px rgba(0, 0, 0, 0.6);
}

ul.popup ul li:first-child {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
}

/* EOF ACCOUNT BADGE =================*/


/*ul#albums li img {*/
/*border:none;*/
/*box-shadow: 0px 0px 0px #767676;*/
/*-webkit-box-shadow: 0px 0px 0px #767676;*/
/*-moz-box-shadow: 0px 0px 0px #767676;*/
/*}*/


/*ul#albums li:hover img {*/
/*border:none;*/
/*box-shadow: 0px 0px 0px #767676;*/
/*-webkit-box-shadow: 0px 0px 0px #767676;*/
/*-moz-box-shadow: 0px 0px 0px #767676;*/
/*}*/


