/*
    Viewlist styles are used for peopleview and timeline view based on Kevin's designs of 2/23/2011
*/

/* ---------- fonts --------------*/
.viewlist{
  color: #666666;
}
.viewlist .header{
  font-size: 20px;
  font-weight: 300;
}

.viewlist .bartabheader{
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  padding: 16px 0 10px 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #CCCCCC;
}


.viewlist .title{
  color: #333333;
  font-size: 14px;
}

.viewlist .tagline{
   margin-top:2px;
   font-size: 12px;
   font-weight:  normal;
}

/* -------------------- elements ----------------*/
.viewlist{
  margin: 30px 70px;
  text-align: left;
}

.viewlist ul{}

/* the size of the user profile-picture-name badge mostly the peopleview*/
.viewlist .badge{
    display: inline-block;
    height: 55px;
    width: 25%;
}
/* the size of the user profile-picture in timeline view activities */
.viewlist .profile-photo{
    display: inline-block;
    height: 45px;
    width:  45px;
    vertical-align: middle;
}
/* the size and position of user name and time in timeline view activities */
.viewlist .profile-name{
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* Each of the activity items */
.viewlist .item{
    position: relative;
    margin-bottom: 10px;
}
/*each item has a title div and a content div */
.viewlist .item .title{
    height:  45px;
    margin-top: 6px;
}
.viewlist .item .indented{
    margin-left: 20px;
}
/* The items with a hanging tab, add this class plus add like,share,add to choose which icon to display */
.viewlist .item.tab{
 position: relative;
 left: -45px;
 width: 100%;
 padding: 7px 0 0 45px;
}

.viewlist .item.tab.add{
    background: url('/images/tab-activity-add.png')    no-repeat scroll  0 0;
}

.viewlist .item.tab.follow{
    background: url('/images/tab-activity-follow.png') no-repeat scroll  0 0;
}

.viewlist .item.tab.like{
    background: url('/images/tab-activity-like.png')   no-repeat scroll  0 0;
}

.viewlist .item.tab.share{
    background: url('/images/tab-activity-share.png')  no-repeat scroll  0 0;
}

.viewlist .item.tab.comment{
    background: url('/images/tab-activity-comment.png')  no-repeat scroll  0 0;
}

.viewlist .item.tab.buy{
    background: url('/images/tab-activity-comment.png')  no-repeat scroll  0 0;
}

.viewlist .item .description{
    font-size: 12px;
    color: #888;
    margin: 10px 2px;
    width: 400px;
}



.viewlist .tab-centered{
    margin:13px 0;
}

/*add this to any item and it will get a bottom bar */
.viewlist .bar{
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
}

.viewlist .content{
    position: relative;
}

.viewlist .timeline-grid { /* this positions the photo grid for upload activities in both views */
  position: relative;
  left: 0px;
  width: 100%;
  overflow: hidden;
  height: 230px;
}

.viewlist .timeline-comment{
    position: absolute;
    top: 0px;
    left: 240px;
    bottom: 30px;
    width:200px;
}

.viewlist .timeline-comment span{
    /* this get center aligned vertically by javascript */
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
}

.viewlist .more {
    position: absolute;
    /*left: 764px;*/
    right: 5px;
    top: -35px;
}
.viewlist .more.higher {
    top: -15px;
}

.viewlist .slit-right{
    width:43px;
    position: absolute;
    top: -22px;
    left: -1px;
    height: 69px;
    background: url('/images/tab-slit-right.png')   no-repeat scroll  0 0;
}

.viewlist .more-less-btn{
    display: inline-block;
    padding-left: 22px;
    line-height: 25px;
    height: 25px;
    width: 118px;
    margin: 0 0 0 auto;
    background: #dddee3 url('/images/bg-right-down-arrow.png')   no-repeat scroll  8px 6px;
}
.viewlist .more-less-btn.open{  background: #dddee3 url('/images/bg-right-down-arrow.png')   no-repeat scroll  6px -30px;}


/*--------------------- Follow ------------------*/
/*
.follow-info{
    width: 160px;
    position:relative;
    vertical-align: top;    
    margin: 10px 5px;
}
.follow-info .follow-picture{
    display: block;
    margin: 0 auto;
    width:  40px;
    height: 40px;
}

.follow-info .follow-name {
    display:  block;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    position: relative;
    top: 5px;
    left: 3px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.follow-name .follow-fname,.follow-name .follow-lname{
    max-height: 16px;
    overflow: hidden;
}

.follow-name .follow-lname{
    position: relative;
    top: -1px;
}
*/

#you{
 margin: 30px 0px 20px 50px;
 width: 100%;
}

#you .follow-picture{
    height: 60px;
    width: 60px;
}

#you .follow-name{
    top: 0px;
    left: 65px;
}

#you .follow-name a.no-follow{
    top: 20px;
}

#you .follow-name a.with-follow{
    top: 8px;
}

#you .follow-info .follow-button {
    top: 18px;
}

.follow-info{
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 18px 0;
    text-align: left;
}

.follow-info .follow-picture{
    height: 40px;
    width: 40px;
    vertical-align: top;
    display: inline-block;
}

.follow-info .follow-name {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    height: 100%;
    padding-left: 10px;
    white-space: nowrap;
}

.follow-name{
    position: absolute;
    left: 45px;
    top: 1px;
}

.follow-name a{
    vertical-align: top;
    position: relative;
    font-size: 16px;
    top: -2px;
}

.follow-name a .full-name{
  color: #666666;
}

.follow-name a .user-name{
}

.follow-info .follow-button {
    position: relative;
    top: 3px;
}

.follow-info .zzlike-follow{}

.two-col{
  margin: 50px;
  float: left;
  width: 30%;
  white-space: nowrap;
}