/*
 *  Main Screen
 */

.group-editor{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    height:95%;
    width:798px;
    /*background-image:url('/images/groups/guide.png');*/
    border: 1px solid #ffffff; 
    color: #56585c;
    overflow:auto;
}

.group-editor .who-can-access-header{
    text-align: left;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 19px;
}

.group-editor .privacy-buttons{
    position:relative;
    height:133px;
    margin-top:10px;
}

.group-editor .privacy-buttons .public-button{
    position:absolute;
    width: 228px;
    height:131px;
    left:19px;
    top:4px;
    background: url('/images/groups/public-button.png') no-repeat 0px -1px;
    cursor:pointer;
}

.group-editor .privacy-buttons .public-button:hover{
    background: url('/images/groups/public-button.png') no-repeat 0px -132px;
}

.group-editor .privacy-buttons .public-button.selected{
    background: url('/images/groups/public-button.png') no-repeat 0px -263px;
}







.group-editor .privacy-buttons .hidden-button{
    position:absolute;
    width: 228px;
    height:131px;
    left:273px;
    top:4px;
    background: url('/images/groups/hidden-button.png') no-repeat 0px -1px;
    cursor:pointer;
}

.group-editor .privacy-buttons .hidden-button:hover{
    background: url('/images/groups/hidden-button.png') no-repeat 0px -132px;
}

.group-editor .privacy-buttons .hidden-button.selected{
    background: url('/images/groups/hidden-button.png') no-repeat 0px -263px;
}


.group-editor .privacy-buttons .password-button{
    position:absolute;
    width: 228px;
    height:131px;
    left:527px;
    top:4px;
    background: url('/images/groups/password-button.png') no-repeat 0px -1px;
    cursor:pointer;
}

.group-editor .privacy-buttons .password-button:hover{
    background: url('/images/groups/password-button.png') no-repeat 0px -132px;
}

.group-editor .privacy-buttons .password-button.selected{
    background: url('/images/groups/password-button.png') no-repeat 0px -263px;
}






.group-editor .divider-line{
    position:relative;
    height:2px;
    border-bottom: 2px solid #d5d5d5;
    margin-top:8px;
    margin-left:20px;
    margin-right:20px;
}

.group-editor .create-group-header{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 19px;
}

.group-editor .people-list{
    margin-left:20px;
    margin-right:20px;
    height: 126px;
    overflow-y:auto;
    margin-top:10px;
    border: 1px solid #D5D5D5;
    display:none;
}


.group-editor .people-list .person{
    position:relative;
    height:32px;
    border-bottom: 1px solid #D5D5D5;
}

.group-editor .people-list .person img.profile{
    position:absolute;
    width:20px;
    height:20px;
    top:4px;
    left:11px;
}

.group-editor .people-list .person .name{
    position: absolute;
    width: 500px;
    height: 20px;
    top: 8px;
    left: 35px;
    text-align: left;
}

.group-editor .people-list .person select.permission{
    position:absolute;
    top:4px;
    right:45px;
}

.group-editor .people-list .person .delete-button{
    position:absolute;
    top:6px;
    right:6px;
    background: url(/images/groups/delete-button.png) no-repeat scroll 0px 0px transparent;
    width: 20px;
    height: 18px;
    cursor: pointer;
}


.group-editor .people-list .person .delete-button:hover{
    background: url(/images/groups/delete-button.png) no-repeat scroll 0px -19px transparent;
}






.group-editor .add-people-section{
    position: relative;
    margin-top:6px;
    font-size:14px;
    height:110px;
}

.group-editor .add-people-section .add-people-button{
    position:absolute;
    left:20px;
    width: 137px;
    height: 39px;
    top:3px;
    background: url('/images/groups/add-people-button.png') no-repeat 0px 0px;
    cursor: pointer;
}

.group-editor .add-people-section .add-people-button:hover{
    background: url('/images/groups/add-people-button.png') no-repeat 0px -39px;
}

.group-editor .add-people-section .add-people-button:active{
    background: url('/images/groups/add-people-button.png') no-repeat 0px -78px;
}

.group-editor .add-people-section .add-people-button.create-group{
    background: url('/images/groups/add-group-button.png') no-repeat 0px 0px;
}

.group-editor .add-people-section .add-people-button.create-group:hover{
    background: url('/images/groups/add-group-button.png') no-repeat 0px -39px;
}

.group-editor .add-people-section .add-people-button.create-group:active{
    background: url('/images/groups/add-group-button.png') no-repeat 0px -78px;
}




.group-editor .add-people-section .stream-to-email{
    position: absolute;
    left: 172px;
    top: 15px;
    display:none;
}

.group-editor .add-people-section .stream-to-email input{
    margin-right: 8px;
}

.group-editor .add-people-section .who-can-upload{
    position: absolute;
    top: 51px;
    left: 20px;
}

.group-editor .add-people-section .who-can-upload select{
    width: 136px;
    margin-right: 15px;
}


.group-editor .add-people-section .who-can-download{
    position: absolute;
    top: 81px;
    left: 20px;
}

.group-editor .add-people-section .who-can-download select{
    width: 136px;
    margin-right: 15px;
}

.group-editor .share-header{
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 19px;
}

.group-editor .share-section{
    position: relative;
    margin-top:15px;
    font-size:14px;
    height:110px;
}

.group-editor .share-section .facebook-button{
    position:absolute;
    left:20px;
    width: 137px;
    height: 39px;
    top:0px;
    background: url('/images/groups/facebook-share-button.png') no-repeat 0px 0px;
    cursor: pointer;
}

.group-editor .share-section .facebook-button:hover{
    background: url('/images/groups/facebook-share-button.png') no-repeat 0px -39px;
}

.group-editor .share-section .facebook-button:active{
    background: url('/images/groups/facebook-share-button.png') no-repeat 0px -78px;
}

.group-editor .share-section .stream-to-facebook{
    position: absolute;
    left: 172px;
    top: 10px;
    display:none;

}

.group-editor .share-section .stream-to-facebook input{
    margin-right: 8px;
}


.group-editor .share-section .twitter-button{
    position:absolute;
    left:20px;
    width: 137px;
    height: 39px;
    top:60px;
    background: url('/images/groups/twitter-share-button.png') no-repeat 0px 0px;
    cursor: pointer;
}

.group-editor .share-section .twitter-button:hover{
    background: url('/images/groups/twitter-share-button.png') no-repeat 0px -39px;
}

.group-editor .share-section .twitter-button:active{
    background: url('/images/groups/twitter-share-button.png') no-repeat 0px -78px;
}

.group-editor .share-section .stream-to-twitter{
    position: absolute;
    left: 172px;
    top: 70px;
    display:none;
    
}

.group-editor .share-section .stream-to-twitter input{
    margin-right: 8px;
}



/*
 * Facebook Dialog
 */

.facebook-dialog{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align:left;
}


.facebook-dialog .header{
    height: 30px;
    text-align: left;
    background: url('/images/groups/facebook-logo.png') no-repeat 8px 8px;
    background-color: #6D84B4;
}

.facebook-dialog .header .title{
    color: white;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-top:5px;
    margin-left: 30px;
}

.facebook-dialog textarea.message{
    resize:none;
    position:absolute;
    top: 50px;
    left: 20px;
    /*right: 20px;  does not work on IE*/
    width: 598px;
    height: 30px;
    color: black;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}


.facebook-dialog .detail .photo {
    position:absolute;
    left:20px;
    top:100px;
    width:100px;
}

.facebook-dialog .detail .title {
    position: absolute;
    top: 100px;
    left: 130px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 275px;
    overflow: hidden;

}


.facebook-dialog .detail .url {
    position: absolute;
    top: 120px;
    left: 130px;
    color: #666;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    width: 500px;
    overflow: hidden;
}

.facebook-dialog .detail .description {
    position: absolute;
    top: 140px;
    left: 130px;
    color: black;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    width: 275px;

}


.facebook-dialog .footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0px;
    left:0px;
    right:0px;
    height: 45px;
    border-top: 1px solid #ccc;
}

.facebook-dialog .footer .submit-button{
    position: absolute;
    top:10px;
    right:80px;
    width:52px;
    height:25px;
    background: url('/images/groups/facebook-submit-button.png') no-repeat 0px 0px;
    cursor:pointer;
}

.facebook-dialog .footer .submit-button:hover{
    background: url('/images/groups/facebook-submit-button.png') no-repeat 0px -25px;
}

.facebook-dialog .footer .submit-button:active{
    background: url('/images/groups/facebook-submit-button.png') no-repeat 0px -50px;
}

.facebook-dialog .footer .cancel-button{
    position: absolute;
    top:10px;
    right:0px;
    width:59px;
    height:25px;
    background: url('/images/groups/facebook-cancel-button.png') no-repeat 0px 0px;
    cursor:pointer;
}

.facebook-dialog .footer .cancel-button:hover{
    background: url('/images/groups/facebook-cancel-button.png') no-repeat 0px -25px;
}

.facebook-dialog .footer .cancel-button:active{
    background: url('/images/groups/facebook-cancel-button.png') no-repeat 0px -50px;
}

.facebook-dialog .footer .stream-to-facebook{
    position: absolute;
    left: 20px;
    top: 15px;
}

.facebook-dialog .footer .stream-to-facebook input{
    margin-right:10px;
}





/*
 * Twitter Dialog
 */

.twitter-dialog{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align:left;
    background: url('/images/groups/twitter-background.png') repeat-x;
}


.twitter-dialog .header{
    height: 30px;
    text-align: left;
    background: url('/images/groups/twitter-logo.png') no-repeat 16px 2px;
}

.twitter-dialog .share-with-followers{
    position: absolute;
    top:70px;
    left:25px;
    color: #666;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-shadow: white 0px 1px 0px;

}

.twitter-dialog textarea.message{
    position:absolute;
    left:25px;
    top:110px;
    height: 65px;
    /*right:25px; doesn't work on IE*/
    width:600px;
    resize:none;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #CCC;
    font-family: sans-serif;
    color: #333;
}

.twitter-dialog .stream-to-twitter{
    position: absolute;
    left:25px;
    top: 208px;
}

.twitter-dialog .stream-to-twitter input{
    margin-right: 8px;
}

.twitter-dialog .chars-left{
    position: absolute;
    top: 205px;
    right: 90px;
    font-size: 14px
}

.twitter-dialog .submit-button{
    position: absolute;
    top:200px;
    right:25px;
    width:52px;
    height:27px;
    background: url('/images/groups/twitter-submit-button.png') no-repeat 0px 0px;
    cursor:pointer;
}

.twitter-dialog .submit-button:hover{
    background: url('/images/groups/twitter-submit-button.png') no-repeat 0px -27px;
}

.twitter-dialog .submit-button:active{
    background: url('/images/groups/twitter-submit-button.png') no-repeat 0px -54px;
}

/*
 * Add People Dialog
 */


.add-people-dialog{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align:left;
    /*background: url('/images/groups/add-people-guide.png') no-repeat;*/
}

.add-people-dialog .header{
    position:relative;
    height:60px;
    border-bottom: 1px solid #D5D5D5;
}

.add-people-dialog .header .title{
    position:absolute;
    top: 20px;
    left: 20px;
    font-size: 19px;
}

.add-people-dialog .header .import{
    position: absolute;
    top: 20px;
    left: 300px;
    font-size: 14px;
}


.add-people-dialog .to{
    position:absolute;
    left: 20px;
    right: 20px;
    top: 80px;
    height: 55px;
    border: 2px solid #D5D5D5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.add-people-dialog .message{
    position:absolute;
    left: 20px;
    right: 20px;
    top:150px;
    height:80px;
    border: 2px solid #D5D5D5;
    resize:none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}




.add-people-dialog .permission{
    position: absolute;
    left: 20px;
    bottom: 23px;
}




.add-people-dialog .submit-button{
    position:absolute;
    right:20px;
    bottom:20px;
    width:80px;
}

.add-people-dialog .cancel-button{
    position:absolute;
    right:115px;
    bottom:20px;
    width:80px;
}
