/* Drawer/Wizard Tabs
----------------------------------------------------------------------------- */

ul#clone-indicator {
  display: none;
}

#next-step {
    float:left;
}


ul#indicator-4{
  width: 884px;
  height: 36px;
  margin-top: 4px;
  margin-left: -1px;
  padding-left: 14px;
}

ul#indicator-6 {
  padding-left: 15px;
}

ul.edit-1-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px 0px;
}

ul.edit-2-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px -37px;
}

ul.edit-3-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px -74px;
}
ul.edit-4-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px -111px;
}

ul.step-1-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px 0px;
}

ul.step-2-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px -37px;
}

ul.step-3-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px -74px;
}

ul.step-4-4 {
  background: url("/images/bg-4step-edit.png") no-repeat scroll 0px -111px;
}

ul#indicator-4 li.tab {
  float: left;
  padding: 8px 19px 0 0;
  width: 179px;
  font-size: 11px;
  font-weight: 400;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  height: 19px;
}

ul#indicator-4 li.tab img.num {
  vertical-align: -40%;
}

ul#indicator-4 li.tab a{
  color: #646464;
  text-decoration: none;
}

ul#indicator-4 li.tab.on a {
  color: #fff;
}

ul#indicator-4 li.next-done {
  text-align: center;
  padding-top: 3px;
  padding-left: 2px;
  height: 34px;
  cursor: pointer;
}

ul#indicator-4 li.next-done a.green-button {
    width:60px;
    margin-left:6px;
}

ul#indicator-4 li.next-done a.next-button {
    width:60px;
    margin-left:2px;
}

ul#indicator-4 li.tab.on{
    color: #ffffff;
    font-weight: 400;
    cursor:pointer;
}


/* 3 Step Wizard
-----------------------------------------------------------------------------*/
ul#indicator-3{
  width: 884px;
  height: 36px;
  margin-top: 4px;
  margin-left: -1px;
  padding-left: 14px;
}

ul.edit-1-3 {
  background: url("/images/bg-3step-edit.png") no-repeat scroll 0px 0px;
}

ul.edit-2-3 {
  background: url("/images/bg-3step-edit.png") no-repeat scroll 0px -37px;
}

ul.edit-3-3 {
  background: url("/images/bg-3step-edit.png") no-repeat scroll 0px -74px;
}

ul.step-1-3 {
  background: url("/images/bg-3step-edit.png") no-repeat scroll 0px 0px;
}

ul.step-2-3 {
  background: url("/images/bg-3step-edit.png") no-repeat scroll 0px -37px;
}

ul.step-3-3 {
  background: url("/images/bg-3step-edit.png") no-repeat scroll 0px -74px;
}

ul#indicator-3 li.tab {
  float: left;
  padding: 8px 19px 0 0;
  width: 245px;
  font-size: 11px;
  font-weight: 400;
  color: #646464;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  height: 19px;
}

ul#indicator-3 li.tab img.num {
  vertical-align: -40%;
}

ul#indicator-3 li.tab a{
  color: #646464;
  text-decoration: none;
}

ul#indicator-3 li.tab.on a {
  color: #fff;
}

ul#indicator-3 li.next-done {
  text-align: center;
  padding-top: 3px;
  padding-left: 2px;
  height: 34px;
  cursor: pointer;
}

ul#indicator-3 li.next-done a.green-button {
    width:60px;
    margin-left:6px;
}

ul#indicator-3 li.next-done a.next-button {
    width:60px;
    margin-left:2px;
}

ul#indicator-3 li.tab.on{
    color: #ffffff;
    font-weight: 400;
    cursor:pointer;
}

/* Create Album
----------------------------------------------------------------------------- */
div#drawer-content div#top-section {
  padding: 0px 10px;
  /*width: 840px;*/
  margin: 15px 0 5px;
  height: 50px;
}

div#drawer-content div#scroll-body {
  overflow-y: auto;
  height: 100%;
  width: 898px;
}

div#top-section #equalizer {
  width: 91px;
  float: right;
}






/* Album Type
-----------------------------------------------------------------------------*/

ul#choose-album-type {
  width: 415px;
  margin: 30px auto 0;
}

ul#choose-album-type li {
  float: left;
  width: 151px;
  height: 294px;
  background-image: url('/images/bg-album-type.png');
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 5px;
  padding: 40px 20px 0;
  color: #686868;
}

ul#choose-album-type li:hover {
  background-image: url('/images/bg-album-type-selected.png');
}

ul#choose-album-type li img {
  margin-bottom: 30px;
}

ul#choose-album-type li p {
  margin-bottom: 15px;
  line-height: 11px;
}

ul#choose-album-type li div {
  height: 90px;
  margin-bottom: 10px;
}



/* Album Privacy
---------------------------------------------------------------------*/



ul#privacy-menu {
  width: 660px;
  margin: 0 auto;
  background-color:#ffffff;

}

ul#privacy-menu li {
  float: left;
  width: 170px;
  height: 168px;
  padding: 110px 20px 10px;
  margin: 0 5px;
  color: #686868;
  cursor: pointer;
  background-color:#ffffff;
}

ul#privacy-menu li div {
  height: 100px;
  background-color:#ffffff;

}

ul#privacy-menu li p {
    margin-bottom: 20px;
    line-height: 15px;
    font-size: 12px;
}


ul#privacy-menu li#privacy-public {
  background: url(/images/bg-privacy-public.png) no-repeat scroll 0px 0px;
}

ul#privacy-menu li#privacy-public:hover {
    background: url(/images/bg-privacy-public.png) no-repeat scroll 0px -288px;
}


ul#privacy-menu li#privacy-hidden {
  background: url(/images/bg-privacy-private.png) no-repeat  scroll 0px 0px;
}

ul#privacy-menu li#privacy-hidden:hover {
  background: url(/images/bg-privacy-private.png) no-repeat  scroll 0px -288px;
}


ul#privacy-menu li#privacy-password {
  background: url(/images/bg-privacy-password.png) no-repeat  scroll 0px 0px;
}

ul#privacy-menu li#privacy-password:hover {
  background: url(/images/bg-privacy-password.png) no-repeat  scroll 0px -288px;
}








div#drawer-content h3 {
  /*font-size: 17px;*/
  /*font-weight: 500;*/
  /*color: #0a0a0a;*/
  /*margin-top:20px;*/
  /*margin-bottom:5px;*/
    font-size: 20px;
    font-weight: 500;
    color: #2C2C2C;
    margin-top: 20px;
    margin-bottom: 5px;

}

div#drawer-content h4 {
  /*font-size: 14px;*/
  /*font-weight: 500;*/
  /*margin-bottom: 15px;*/
  /*color: #0a0a0a;*/
    font-size: 14px;
    font-weight: 400;
    font-weight: 400;
    margin-bottom: 15px;
    color: #2C2C2C;
}

span.h4 {
  font-size: 14px;
  font-weight: 500;
  color: #0a0a0a;
  line-height: 22px;
}



div#drawer-content #top-section .album-header,
div#drawer-content #top-section .album-header-off {
  margin: 0 auto 0;
}



div#drawer-content .album-header-off {
  margin: 25px auto 25px;
  width: 600px;
  min-height: 50px;
  line-height: 14px;
  background-image: none;
}

div#drawer-content dl.form {
  width: 800px;
  margin: 0 auto 30px;
}

div#drawer-content dl.form dt {
  float: left;
  font-size: 14px;
  color: #0a0a0a;
  font-weight:normal;
  text-align: right;
  width: 180px;
  margin-right: 20px;
  padding-top: 7px;
}

div#drawer-content dl.form dd {
  float: left;
  width: 600px;
  text-align: left;
}


/*
 ******* Name Album **************/

table#name_album_form{

  font-size: 14px;
  color:#000;
  text-align:left;
  width:600px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  overflow: visible;
}

table#name_album_form td{
    padding-right:20px;
    padding-top:5px;
    padding-bottom:10px;
}

table#name_album_form #album_name{
    width:390px;
}

table#name_album_form td.label{
    text-align:right
}



#album-cover-picker {
    border: 1px solid #8C8C8C;
    height: 20px;
    /*position: absolute;*/
    /*top: 400px;*/
    width: 400px;
    /*left:75px;*/
    /*bottom: 80px;*/
    /*display:inline-block;*/
    margin-bottom:10px;
}



div#drawer-content input#album_email {
  margin_top: 50px;
  width: 500px;
  /*padding: 5px;*/
  /*text-align: left;*/
  /*font-size: 1.8em;*/
  /*font-weight: bold;*/
  /*background-color: #fff;*/
  color: #a4a4a4;
  border: none;
}



ul#share-pick {
  width: 410px;
  margin: 20px auto;
}

ul#share-pick li {
  float: left;
  width: 50%;
  height: 260px;
  text-align: center;
  font-size: 14px;
}

ul#share-pick li.social-share {
  background: url(/images/btn-share-by-post.png) 0px 0px no-repeat;
  background-color:#ffffff;
  cursor:pointer;
}

ul#share-pick li.social-share:hover {
  background: url(/images/btn-share-by-post.png) 0px -254px no-repeat;
    background-color:#ffffff;
}

ul#share-pick li.email-share {
  background: url(/images/btn-share-by-email.png) 0px 0px no-repeat;
  background-color:#ffffff;
  cursor:pointer;
}

ul#share-pick li.email-share:hover {
  background: url(/images/btn-share-by-email.png) 0px -254px no-repeat;
    background-color:#ffffff;
}





div#form-container {
  width: 800px;
  margin: 20px auto;
  /*font-size: 1.4em;*/
}



div#form-container-2 {
  width: 800px;
  margin: 0px auto;
}

#social-form{
  font-size: 14px;
  text-align:left;
}


#social-form  {
    margin-left:auto;
    margin-right:auto;




}

#social-form td {
   padding-top:10px;

}



#social-form #character-count {
  float:right;
  font-size:14px;
}

#social-form .share-on-facebook-and-twitter{
    font-size:18px;
}

#social-form .share-on-facebook-and-twitter .facebook{
    color:#365896;
    font-weight: 700;
}

#social-form .share-on-facebook-and-twitter .twitter{
    color:#3fc0fd;
    font-weight: 700;
}



#social-form textarea#post_share_message {
  width: 690px;
}

#social-form #post_share_button{
    float:right;
    margin-right:5px;
}

#social-form #cancel-share{
    float:right;
}




#form-actions {
  float: right;
  margin: 15px 24px 0 0;
  /*color: #646464;*/
}



/*====================== Email Share ===============================*/
/*====================== Email Share ===============================*/



ul#email-sync {
  margin: 0 0 10px 78px;
  float: left;
  font-size:14px;
  width: 800px;
}

ul#email-sync li {
  float: left;
  margin-right: 10px;
  background-color:#ffffff;
}

ul#email-sync li.title {
  padding: 10px;
  color: #646464;
}

table#email-share-form{
  font-size: 14px;
  text-align:left;
}

table#email-share-form td{
    padding-right:20px;
    padding-top:5px;
    padding-bottom:10px;
}

table#email-share-form td.to{
    vertical-align:top;
    text-align:right;
}

table#email-share-form .contact-list-wrapper{
    border: solid 1px #AFAFAF;
    height: 85px;
    width:690px;
}

table#email-share-form .contact-list-wrapper div.token-input-dropdown-facebook{
    width:690px;
    margin-left:-1px;
}


table#email-share-form td.message{
    vertical-align:top;
    text-align:right;
}


table#email-share-form td.import{
    text-align:left;
    color: #000000
}

table#email-share-form textarea#email_share_message{
    width:680px;
}

table#email-share-form .token-input-list-facebook{
    min-height:29px;
}



table#email-share-form #cancel-share{
    float:right;
    margin-left:5px;
}

table#email-share-form #mail-submit{
    float:right;
}


table#email-share-form #cancel-new-contributors{
    float:right;
    margin-left:5px;
}

table#email-share-form #submit-new-contributors{
    float:right;
}




table#email-share-form input{
    border:none;
    outline:none;
    font-size:13px;
}

table#email-share-form input:focus{
    border:none;
    outline:none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    filter: none;

}

#contributors-body ul.token-input-list-facebook{
    height:100% !important;
}


#contributors-body #add-contributors-btn{
    float:right;
}

#contributors-body table{
    margin-left:auto;
    margin-right:auto;
}

#contributors-body table td{
    padding-top:10px;
}



#add-photos-dialog{
    position: absolute;
    top: 0px;
    left: -1px;
    right: -1px;
    bottom: 0px;
}

/*-------------- Settings Drawer -----------------------------------------*/
.settings-buttons{
   padding: 10px 80px;
   float: right;
    bottom: 20px;
    left: 600px;
    position: absolute;
}