<div class="timeline-icon">
      <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
      <h4><%=user.name%></h4>
      <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
</div>
