<div class="stacked-badge">
      <!-- <img src="<%=user.avatar_url%>" width="54" height="54" class="rounded" /> -->
      <div class="avatar" style="background-image:   url('<%=user.avatar_url%>');"></div>
      <%=user.name%>
      <p><img src="/images/icon-star-12px.png" />  Following  <img src="/images/icon-down-arrow-10px.png" /></p>
</div>