<div class="stacked-badge">
      <div class="profile-picture" style="background-image:   url('<%=user.profile_photo_url%>');"></div>
      <%=user.name%>
      <p><img src="/images/icon-star-12px.png" />  Following  <img src="/images/icon-down-arrow-10px.png" /></p>
</div>