<div class="stacked-badge">
      <div style="position: relative;">
      <a href="<%=user_path(user)%>">
        <div class="sb-photo">
            <%= render :partial => 'users/profile_photo', :locals => { :user => user }    %>
        </div>
        <div class="sb-name"><%=user.name%></div>
      </a>
      <!--
      <div class="sb-like">
        <span>Like</span> <input type="checkbox" />
      </div>
      -->
      </div>
</div>
