 <div class="timeline-icon">
      <img src="<%=user.avatar_url%>" width="54" height="54" class="roundground" />
      <p><img src="/images/icon-star-12px.png" />  Following  <img src="/images/icon-down-arrow-10px.png" /></p>
   <%=user.name%>
</div>