
<div class="settings-buttons">
              <a     id="cancel_profile_button" href="javascript:void(0);" class="cancel-button">Cancel</a>
              <input id="ok_profile_button" type="image" name="submit" src=<%=image_path("btn-wizard-done.png")%>>
</div>