<style type="text/css">

    #profile_form {
        float: left;
        width: 45%;
        padding: 20px 40px 0 20px;

    }

    #profile_form dl dt{
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    #profile_form input[type=text],
    #profile_form input[type=password]{
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }
    #firstname{
        width: 48%;
        float: left;
    }
    #lastname{
        width: 48%;
        float:right;
    }
    #username_full{
        padding-left: 10px;
    }
    #username_path{
        color: green;
    }

    #profile_photo{
        float: right;
        padding: 20px 120px;
    }

    #profile_photo div{
        width: 100%;
    }

    #profile_photo div{
        margin-bottom: 15px;
    }

</style>
<div id="scroll-body">
  <div id="profile_form">
    <form id="actual_profile_form" method="post" action="/users/cbH05Jgi5cUBUAOD-XQ3W2"  >
      <dl>
      <div class="entry_area" id="firstname":>
          <dt><label for="user_first_name"> First Name</label></dt>
          <dd><input id="user_first_name" name="user[first_name]" size="30" type="text" value="Odell" /></dd>
      </div>
      <div class="entry_area" id="lastname">
          <dt><label for="user_last_name">Last Name</label></dt>
          <dd><input id="user_last_name" name="user[last_name]" size="30" type="text" value="Kautzer" /></dd>
      </div>

        <dt>
          <label for="user_username">Username</label>
          <span class="form_label_small" id = "username_full">
            <span id="username_host">www.zangzing.com/</span><span id="username_path">toothless</span>
          </span>
        </dt>
        <dd><input id="user_username" name="user[username]" size="30" type="text" value="toothless" /></dd>
        <dt><label for="user_email">Email</label></dt>
        <dd><input id="user_email" name="user[email]" size="30" type="text" value="user3@test.zangzing.com" /></dd>
        <dt><label for="user_oldpassword">Old Password</label></dt>
        <dd><input id="user_oldpassword" name="user[oldpassword]" size="30" type="password" /></dd>
        <dt><label for="user_password">New Password</label></dt>
        <dd><input id="user_password" name="user[password]" size="30" type="password" /></dd>
        <input name="_method" type="hidden" value="put" />
        <input type="image" src="/images/btn-send.png" name="submit" id="mail-submit" />
      </dl>
    </form>
  </div>

    <div id="profile_photo">
        <span><div class="form_label" id="profile_photo_label">Profile Photo</div></span>
        <div><img src="/images/bg-profile-photo.png"></div>
        <div><img src="/images/btn-upload-photo.png"></div>
    </div>
</div>
<div class="flash-box"><div class="flash-notice" id="flashes-notice">Flashes Here</div></div>
    <div class="settings-buttons">
    <dd class="button">
              <a href="javascript:void(0);" class="cancel-mini">Cancel</a>
              <input type="image" name="submit" src="/images/btn-wizard-done.png">
    </dd>
    </div>









