<style type="text/css">

    #profile_form {
        float: left;
        width: 45%;
        padding: 15px 40px 0 20px;

    }

    #profile_form dl dt{
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    #profile_form input[type=text],
    #profile_form input[type=password]{
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }
    #firstname{
        width: 48%;
        float: left;
    }
    #lastname{
        width: 48%;
        float:right;
    }
    #username_full{
        padding-left: 10px;
    }
    #username_path{
        color: green;
    }

    #profile_photo{
        float: right;
        padding: 15px 120px;
    }

    #profile_photo div{
        width: 100%;
    }

    #profile_photo div{
        margin-bottom: 15px;
    }
    
    .profile_message_box{
        margin: 0;
        padding: 10px 0 0 0;
    }

</style>
<div class="flash-box profile_message_box"><div class="error-notice" id="error-notice"></div><div class="flash-notice" id="flashes-notice"></div></div>
<div id="scroll-body">
  <div id="profile_form">
    <% form_for @user, {:id=>"actual_profile_form"} do | f|  %>
      <dl class="clearfix" >
        <%= render :partial => 'fields', :locals =>{:f => f, :user => @user }%>
        <%= image_submit_tag "/images/btn-send.png", {:name => 'submit'} %>
      </dl>
    <% end %>
  </div>

    <div id="profile_photo">
        <span><div class="form_label" id="profile_photo_label">Profile Photo</div></span>
        <div><img src="/images/bg-profile-photo.png"></div>
        <div><img src="/images/btn-upload-photo.png"></div>
    </div>
</div>
    <div class="settings-buttons">
    <dd class="button">
              <a href="javascript:void(0);" class="cancel-mini">Cancel</a>
              <input type="image" name="submit" src="/images/btn-wizard-done.png">
    </dd>
    </div>









