<style type="text/css">

    #profile-form {
        float: left;
        width: 45%;
        padding: 15px 40px 0 20px;

    }

    #profile-form dl dt{
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    #profile-form input[type=text],
    #profile-form input[type=password]{
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    #firstname{
        width: 48%;
        float: left;
    }
    #lastname{
        width: 48%;
        float:right;
    }
    #username-full{
        padding-left: 10px;
    }
    #username-path{
        color: green;
    }

    #profile-photo{
        float: right;
        padding: 15px 150px 0 0;
    }

    #profile-photo-label{
        padding: 0 0 10px 38px;
    }
    #profile-photo-button{
        float: left;
        padding: 0 55px 5px 0;
    }

    #profile-photo div{
        width: 100%;
        margin-bottom: 15px;
    }
    #profile-photo div#profile-photo-picker {
        float: right;    
        height: 220px;
        width:  20px;
        border: 1px solid #8C8C8C;
    }

div#profile-photo-picker div.thumbtray-wrapper div.thumbtray-selection{
    right:  160px;
    top: 50px;
}

div#profile-photo div#profile-photo-picker div.thumbtray-wrapper div.thumbtray-preview{    
    left:  30px;
}

    .profile-message-box{
         margin: 0;
         padding: 10px 0 0 0;
     }

</style>
<script type="text/javascript"> <%= (@user.profile_album ? 'zz.album_id=\''+@user.profile_album.id+'\';' : '')%></script>
<div class="flash-box profile-message-box"><div class="error-notice" id="error-notice"></div><div class="flash-notice" id="flashes-notice"></div></div>
<div id="scroll-body">
  <div id="profile-form">
    <%= form_for @user, {:id=>"actual_profile_form"} do | f|  %>
      <dl class="clearfix" >
        <%= render :partial => 'fields', :locals =>{:f => f, :user => @user }%>
        <input name="submit" alt="" type="image" style="visibility:hidden;" />        
      </dl>
    <% end %>
  </div>


    <div id="profile-photo">
        <span><div class="form_label" id="profile-photo-label">Profile Photo</div></span>
            <!--<div id><img src="/images/bg-profile-photo.png"></div>-->
            <div id="profile-photo-picker"></div>
        <div id="profile-photo-button"><img src="/images/btn-upload-photo.png"></div>
    </div>

</div>
    <div class="settings-buttons">
              <a     id="cancel-profile-button" href="javascript:void(0);" class="cancel-button">Cancel</a>
              <input id="ok-profile-button" type="image" name="submit" src="/images/btn-wizard-done.png">
    </div>









