<% content_for :page_title do %>Join<% end %>

<div class="joinpage">
	<div class="title">Welcome to ZangZing!</div>
	<div class="message"><%= @message ? @message : "Join for free and share your photos." %></div>
	<% if flash[:error] %>
	<div class="flash-error">
		<%= flash[:error] %>
	</div>
	<% end %>
	<div class="formcontainer">
    <form class="join-form">
      <input style="visibility:hidden" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <ul>
        <li>
          <label for="user_email">Email address</label>
          <input type="text" name="user[email]" id="user_email" value="<%=(@new_user ? @new_user.email: '')%>" />
        </li>
        <li>
          <label for="user_password">Password</label>
          <input type="password" name="user[password]" id="user_password" value="" maxlength="40" />
        </li>
        <li>
			<input type="button" id="submit" value="Join for Free" />
        </li>
        <li>
          By joining you accept and agree to <a target="_blank" href="/terms">the terms of service</a>.
        </li>
      </ul>
    </form>
   </div>

	<div class="afterform">
		Not Sure? <a href="/">Learn More</a>
	</div>
	
</div>

<% content_for :zz_js_document_ready do %>
	zz.toolbars.hide_bottom_toolbar();

    zz.local_storage.clear();
	
    var validator = zz.joinform.add_validation( $('.join-form') );

	$('.join-form li label').inFieldLabels();

    $('#submit').click(function(){
        zz.joinform.submit_form($(".join-form"), validator, "join.joinpage");
        return false;
    });

    $('.join-form').bind('keypress', function(e){
        if ( e.keyCode == 13 ) {
            zz.joinform.submit_form($(".join-form"), validator, "join.joinpage");
            return false;
        }
    });

    $('#user_email').focus();

    ZZAt.track('page.join.visit');
<%end%>

<% content_for :page_javascript do %>
<script type="text/javascript">
// Crazy Egg
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/8539.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<% end %>