<div class="offset" >
  <% @user.errors.each do | key, value| %>
    <%= key %>:  <%=value %>
  <%end %>
</div>
<% content_for :page_javascript do  # this places our page-specific js with the rest of the js at the bottom of the html -%>
<script>
  (function($) {
<%    if @user && @user.errors -%>
      $('#sign-up p.error-notice').show();
<%    end -%>
      $('#sign-up').show();
      $('#sign-in').hide();  
      $('#small-drawer').animate({height: '480px', top: '56px'});
      zz.drawer_state = zz.DRAWER_OPEN ;
   })(jQuery);
</script>
<% end %>