<table class="profile">
  <tr>
    <td class="main">
      <h2 class="album">
        <%= h @user.name %>
      </h2>
      <table class="albums">
    	<% unless @user.albums.empty? %>
	        <%= render @albums %>
	    <% end %>
      </table>
      <%= will_paginate @albums %>
      <%= button_to "Create New Album", new_user_album_path( current_user ), :method => :get %>
      
	</td>
    
  </tr>
</table>
