<% if body.multipart?%>

    <%= render :partial => "email_body", :locals => { :body => body.parts[1].body, :sub_type =>body.parts[1].sub_type } %>
    <%= render :partial => "email_body", :locals => { :body => body.parts[0].body, :sub_type => body.parts[0].sub_type } %>
 
<%else%>
    <% if sub_type == 'plain' %>
        <div style="background: white;">
        <pre><%=body%></pre>
        </div>
    <%else%>
        <div>
        <%= raw body%>
        </div>
    <%end%>
    <hr>
<%end%>