<h1>New Email Template</h1>

<%=form_for @email_template  do | f |%>
    <%= render :partial => 'fields', :object => f.object, :locals =>{:f => f }%>
    <div style="float: left;">
        <%= f.submit%>
    </div>
<%end%>
<div style="float:left;">
        <%= button_to "Cancel", email_templates_url, :method => 'get' %>
</div>
