html{
    height: 100%;
}
.checkout-body{
    min-height: 100%;
    background-color: #EEEEEE;
}
.checkout-header{
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}
.checkout-message{
   text-align: center;
}
.checkout-footer{
}

.checkout-content{
    background-color: white;
}

