<%= error_messages_for :client_application %>
<div class="field">
  <label for="client_application_name">Agent ID</label><br/>
  <%= f.text_field :id %>
</div>
<div class="field">
  <label for="client_application_url">Agent URL</label><br/>
  <%= f.text_field :url %>
</div>
