<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h2 class="album">
         <%= h current_user.name %>'s Albums</h2>
   	 	 <%= render 'pages/album' %>
         <%= button_to "Create New Album", new_user_album_path( current_user ), :method => :get %>

      </td>
      
    </tr>
  </table>
<% else %>
	
	<%= link_to "Sign up now!",
	signup_path, :class => "signup_button round" %>
<%end%>