<%= render :partial =>  'admin/admin_screens/adminmenu' %>
<div id="main-container">
  <ul class="viewlist" style="width: 800px;">

    <li class="item">
          <div class="header bar">
            System Logs
          </div>
          <div class="content">
            <table frame="box" width="800px" border="0"  cellspacing="10" align="left" style="text-align: left;">
              <% @logs.each do |logname|  %>
                  <tr><td><%= link_to logname.gsub('.log', ''),  log_retrieve_path(Base64.encode64(logname)),  :target=> "_blank"  %></td></tr>
              <%end%>
            </table>
          </div>
        </li>
        
    <li class="item">
      <div class="header bar">
        Request Headers
       </div>
      <div class="header">
        <br>
      </div>
      <div class="content">
        <table border="1">
          <% request.env.each do |header|%>
              <tr>
                <td><%=header[0]%></td><td><%=header[1]%></td>
              </tr>
          <% end %>
        </table>
      </div>
    </li>


  </ul>
</div>



