  <li>
    <table>
      <tr>
        <td>
          <a href="<%=url_for(album)%>">
            <img src="<%=album.picon_url%>" />
          </a>
        </td>
      </tr>
    </table>
    <%= h album.name%>
  </li>
