  <li>
<%  if album.photos.empty? -%>
    <img src="/images/album_no_pics.png" />
<%  else -%>
    <a href="<%=url_for(album)%>">
      <img class="albumcellshow"  src="/images/album_pics.png" />                  
<%
#      <img class="albumcellphotoicon"  src="<%=album.photos.first.thumb_url" />
%>
    </a>
<%  end 

    if current_user?(album.user) -%>

  <%= link_to image_tag( "/images/delete.png" ), album, { :method => :delete, 
      :confirm => "Are you sure you want to delete the album?\n\tThis operation cannot be undone",
      :class => 'albumcelldeleteicon'} %>

<%  end -%>
    <div class="albumcellcaption">
      <%= h album.name%>
    </div>
  </li>
