    <div class="albumcell" >
        <% if album.photos.empty? %>
            <%= link_to image_tag( "/images/album.png"), album %>
        <% else %>
            <%= link_to image_tag( album.photos.first.thumb_url ), album %>
        <% end %>
        <div class="albumcellcaption">
        <%= h album.name%>
        <% if current_user?(album.user) %>
            <%= link_to "delete", album, :method => :delete,:confirm => "You sure?" %>
        <% end %>
        </div>
    </div>
