    <div class="albumcell" >

                <a href="<%=url_for(album)%>">

                <div class="albumcellphoto" >

                <% if album.photos.empty? %>
                    <img class="albumcellshow"  src="/images/album_no_pics.png" />
                <% else %>
                   <img class="albumcellshow"  src="/images/album_pics.png" />                  
                   <img class="albumcellphotoicon"  src="<%=album.photos.first.thumb_url%>" />
                 <% end %>
                   <% if current_user?(album.user) %>
                      <%= link_to image_tag( "/images/delete.png" ), album, { :method => :delete,
                                                                           :confirm => "Are you sure you want to delete the album?\n\tThis operation cannot be undone",
                                                                           :class => 'albumcelldeleteicon'} %>
                    <% end %>
                    <!-- %= link_to image_tag( album.photos.first.thumb_url ), album %-->
                </div>
                </a>


        <div class="albumcellcaption">
        <%= h album.name%>
        <!--% if current_user?(album.user) %-->
            <!--%= link_to "delete", album, :method => :delete,:confirm => "Are you sure you want to delete the album?" %-->
        <!--% end %-->
        </div>
    </div>
