  <li>
    <a href="<%=url_for(album)%>">
      <img class="albumcellshow"  src="<%=album.picon_url%>" />                  
    </a>
    <div class="albumcellcaption">
      <%= h album.name%>
    </div>
  </li>
