<%= f.error_messages %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Album Cover Selection Should Go Here
    <!-- TODO: Album cover selection code -->
  </div>