<div id="top-section" class="clearfix">
  <a id="filechooser-back-button" class="back-button"><span></span></a>
  <div id="choose-header" class="album-header">
    <h3 id="filechooser-title"></h3>
    <h4>Choose pictures from folders on your computer or other photo sites.</h4>
  </div>
</div>

<div id="scroll-body">
  <ul id="filechooser"></ul>
</div>

<div id="added-pictures-tray-container">
    <div id="added-pictures-tray"></div>
</div>