<ul id="clone-indicator" class="clearfix">
  <li></li>
</ul>

<div id="top-section" class="clearfix">
  <button src="/images/bg-back-button.png" id="filechooser-back-button">Back</button>
  <div id="choose-header" class="album-header">
    <h3 id="filechooser-title"></h3>
    <h4>Choose pictures from folders on your computer or other photo sites.</h4>
  </div>
  <div id="equalizer">&nbsp;</div>
</div>

<div id="scroll-body">
  <ul id="filechooser"></ul>
</div>

<ul id="added-pictures-tray">
  <li id="here">&nbsp;</li>
</ul>