<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<% @albums.each do |album|  %>
    <div class="album-cell">
        <a href="<%=url_for(album)%>">
            <div class="picon">
                <div class="mask">
                    <img class="wide" src="<%= album.cover ? album.cover.thumb_url : '' %>">
                </div>
            </div>
        </a>
        <div class="album-name"><%= truncate(h(album.name), :length => 100) %></div>
    </div>
<% end %>

