<% if @albums.empty? %>
  <!-- %= h @user.name %> Has No Albums</h2> -->
<% else %>
  <!-- <%= h @user.name %>'s Albums -->
  <ul class="albums-grid-view clearfix">	 
    <%= render :partial => 'album', :collection => @albums %>
  </ul>
<% end %>
<%if current_user?(@user)%>
  <%#= button_to "Create New Album", new_user_album_path( current_user ), :method => :get %>
<%end%>