<% content_for :meta_tags do %>
    <%= render :partial => "facebook/user_opengraph_tags" %>
<% end %>

<div id="my-albums" class="albums-list">
  <div class="album-section-header">
         My Albums
  </div>
</div>

<div id="liked-albums" class="albums-list">
  <div class="album-section-header">
         Albums I Like
  </div>
</div>



<% content_for :page_javascript do %>
<script>

  var my_albums_path = '<%= @my_albums_path %>';
  var liked_albums_path ='<%= @liked_albums_path %>';
  var liked_users_albums_path = '<%= @liked_users_albums_path %>';


  $(document).ready(function(){
      var cell = $('<div class="album-cell"></div>');


      var render_albums = function(container, json){

            _.each(json, function(album){

                var clone = cell.clone();
                container.append(clone);

                clone.zz_picon({
                    caption: album.name,
                    coverUrl: album.c_url,
                    onClick: function(){
                      $('#article').css({overflow:'hidden'}).animate({left: -1 * $('#article').width()},500,'easeOutQuart');
                      document.location.href='/albums/' + album.id;
                    },
                    onShare: function(){
                        pages.share.share_in_dialog('album', album.id);
                    },
                    onLike: function(){
                        alert('This feature is still under construction. It will allow you to like an album.')
                    },
                    onDelete: function(){
                        if(confirm("Are you sure you want to delete this album?")){
                            clone.find('.picon').hide("scale", {}, 300, function(){
                                clone.remove();
                            });
                            albums.deleteAlbum(album.id);
                        };

                    },
                    //allowDelete: < %= album.user == current_user && album.type != 'ProfileAlbum' %>
                });



            });

      }


      $.get(my_albums_path, {}, function(my_albums){
          render_albums($('#my-albums'), my_albums);
      });

      //todo: make these calls in parallel
      $.get(liked_albums_path, {}, function(liked_albums){
          $.get(liked_users_albums_path, {}, function(liked_users_albums){
             var merged = liked_albums.concat(liked_users_albums);
             merged = _.sortBy(merged, function(album){
                 return -1 * album.updated_at;
             })
          });
      });


  });


</script>
<% end %>
