<div class="album-header">
  <h3>Name Album</h3>
  <h4>Name the album and choose an album cover photo</h4>
</div>

<div id="scroll-body">
<%= form_for @album do | f|  %>
  <%= f.error_messages %>
  <dl class="form clearfix">
    <dt><label for="album_name">Album Name:</label></dt>
    <dd><input type="text" name="album[name]" id="album_name" value="<%=@album.name%>"></dd>
    <dt><label for="album_email">Album Email:</label></dt>
    <dd><input id="album_email" type="text" name="album[email]" readonly="readonly" value="<%= @album.short_email %>"></dd>
  </dl>
                                                                
  <div class="field">
    Album Cover Selection Should Go Here
    <!-- TODO: Album cover selection code -->
  </div>
<% end %>
</div>
