<div class="album-header">
  <h3>Name Album</h3>
  <h4>Name the album and choose an album cover photo</h4>
</div>

<% form_for @album do | f|  %>
  <%= f.error_messages %>
  <dl class="form clearfix">

    <dt><label for="album_name">Album Name:</label></dt>
    <dd><input type="text" name="album[name]" id="album_name" value="<%=@album.name%>"></dd>
  </dl>
  
  <div class="field">
    Album Cover Selection Should Go Here
    <!-- TODO: Album cover selection code -->
  </div>
<% end %>



