<%form_for [current_user, @album], :url => user_albums_path(current_user)  do |f| %>
    <!-- %= render :partial => 'fields', :locals =>{:f => f }% = -->
	<div class="actions">
		<%= f.submit "Create Album"%>
	</div>
<% end %>