<div id="headline">
  <h3>Choose Album Type</h3>
</div>

<div id="scroll-body">
  <ul id="choose-album-type" class="clearfix">
    <li>
      <img src="/images/stack-group.png" />
      <div>
        <h4>Group Album</h4>
        <p>An album in which you and your friends can add and share all your photos in one place.</p>
      </div> 
      <img id="group_album_link" src="/images/btn-type-group.png" class="link" />
    </li>
    <li>
      <img src="/images/stack-personal.png" />  
      <div>
        <h4>Personal Album</h4>
        <p>An album in which you are the only one that can add photos. Friends can only view the album.</p>
      </div> 
      <img id="personal_album_link" src="/images/btn-type-personal.png" class="link" />
    </li>
  </ul>
</div>