  <div class="offset">
      <div id="filechooser-back-button" style="float:left"></div>
      <div id="filechooser-title"       style="float:right;width:350px"></div>
  </div>

  <ul id="filechooser"></ul>
  <div id="added-pictures-tray"></div>