<ul class="viewlist" id="unsubscribe">
  <li class="item">
    <div class="header bar" style="margin-top: 5px;">
      Email Preferences
      <div class="tagline" style="margin-top: 0;"> Control how often we send you email to: <b style="color: #888888;"><%=@up.email%></b></div>

    </div>

  </li>
  <li class="item">

    <div class="indented content">
    <%=render :partial=> 'email_preferences_form', :locals=> { :up => @up } %>
    </div>
  </li>
</ul>

