.hidden {
    display: none;
}

html{
    height: 100%;
}

#logo{
    width: 123px;
    margin: 6px 0;
}
#logo_secure_lock{
   padding: 5px 0 0 30px;
   font-size: 12px;
}

#logo_secure_lock img{
    vertical-align: text-bottom;
}

#page_title{
    font-size: 19px;
    font-weight: 500;
    margin-top: 20px;
    color: #333333;
    text-shadow: 1px 1px 1px white;
}

.checkout-body{
    min-height: 100%;
    background-color: #EEEEEE;
}
.checkout-header{
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
}

.checkout-navbar{
    margin-bottom: 0 !important;
}

.checkout-message{
   text-align: center;
}
.checkout-footer{
}
.checkout-content{
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius:         10px;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
}
.checkout-next-button{
    margin: 18px 0 0 0;
    float: right;
    min-width: 130px;
}

.checkout-back-button{
    margin: 18px 0 0 0;
    float: left;
    text-align:left;
}

.newgreen-button,
.next-button,
.back-button{
    text-decoration: none !important;
    color: white !important;
}

.gray-button{
    text-decoration: none !important;
    color: gray !important;
}

.checkout-summary{
    padding:  15px;
    background-color: #CCFFCC;
    border: 2px solid #666666;
}
.grey-border{
    border: 2px solid #CCCCCC;
}
.address_label{
    color:#404040;
    font-weight: 700;
    font-size: 110%;
}

/*----------------- Progress Bar ------------------- */
.progress-bar{
    margin: 10px 0 0 0;
}
.progress-steps td{
    padding: 0;
    border:  none;
    background: url('/images/store/progress/black_bullet.png') scroll no-repeat 0 0;
}

.progress-steps td div.state{
    position: relative;
    height: 50px;
}

.progress-steps td div.state div.state_name{
    position: absolute;
    text-align: center;
    width: 80px;
    top: 38px;
    left: -22px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #666
}

.progress-steps td.current{
    background: url('/images/store/progress/yellow_bullet.png') scroll no-repeat 0 0;
}

.progress-steps td.current div.state div.state_name{
    font-weight: 700;
    color: black;
}

.progress-steps td.current div.state div.state_index{
    top: 9px;
    left: 13px;
    font-weight: 600;
}

.ua-chrome .progress-steps td.current div.state div.state_index{
    top: 9px;
}


.progress-steps td.completed{
    background: url('/images/store/progress/black_bullet.png') scroll no-repeat 0 0;
    cursor: pointer;
}

.progress-steps td div.state div.state_index{
    position:absolute;
    color: white;
    font-weight: 400;
    top: 9px;
    left: 14px;
}
.ua-chrome .progress-steps td div.state div.state_index{
    top: 10px;
    left:13px;
}

.progress-steps td div.state div.state_name a{
    text-decoration: none;
    color: gray;
}


/*------------- Forms --------------------*/
form.edit_order{
    margin-bottom: 0;
}
fieldset.address{
        margin-bottom: 0;
}
form p.field{
     width: 100%;
     position:relative
}
form p.field label{
    width: auto;
    padding-left: 5px;
    position:absolute; top:0; left:0
}
form p.field input{
        width: 90%;
        display: inline-block;
}
 form p.field select {
        width: 93%;
        display: inline-block;
}
form p.field span.req {
    display:inline-block;
    float: none;
}

form p.field#fname{
    width: 40%;
    display: inline-block;
}
form p.field#lname{
    width: 55%;
    display: inline-block;
}


form p.field#state{
    width: 53%;
    display: inline-block;
}
form p.field#zip{
    width: 40%;
    display: inline-block;
}

/* --------------------- shipping -------------------------*/

#ship-address{
    margin-left: 305px;
}

p#ship_as_bill label{
    display:block;
    width: 100%;
    text-align: left;
    padding:  0 0 9px 0;
}

/* --------------------- payment --------------------------*/



#payment_creditcard{ /*left half of screen*/
    display: inline-block;
    vertical-align:top;
    width: 350px;
    padding-left: 55px;
}

#payment_bill_address{ /*right half of screen */
    width: 430px;
    border-right: 1px solid #CCCCCC;
    min-height: 400px;
    display:inline-block;
    padding: 0 30px 18px 55px;
}


form div.wallet input{
    margin: 0 5px;
}

form div.wallet label{
    width: 100%;
    display: block;
    text-align: left;
}
.wallet .cclogo{
    width: 40px;
    height: 24px;
    vertical-align:middle;
    margin-right: 5px;
}


form p.field#secure_lock img{
    vertical-align: text-top;
}
form p#secure_lock{
    padding-left: 5px;
}
div#cc{
    width: 100%;
}
form p.field#ccnumber{
    width: 50%;
    display: inline-block;
}
form p.field#ccv{
    width: 20%;
    display: inline-block;
}
a.field_question{
    width: auto;
    display: inline-block;
}
a.field_question img{
    margin-left: 4px;
    vertical-align: middle;
}
div#expires{
    width: 100%;
    margin-bottom: 12px;
}

label#expire_label{
  text-align: left;
  position: relative;
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
select#expire_month{
    width: 15%;
    display: inline-block;
}
select#expire_year{
    width: 20%;
    display: inline-block;
    
}

p.field#order_email input{
    width: 355px;
}

/* --------------------------------- confirm ------------------- */
#confirm{
    margin-bottom: 0;
}
#confirm h5{
  line-height: 16px;
}
#left_side{
 float: left;
 width: 685px;
 border-right: solid 1px gray;
}
#right_side{
  float: right;
  width: 250px;
}

#order_info{
    padding: 20px 0 20px 20px;
    border-bottom: solid 1px gray;
}

#ship_address{
 float: left;
 margin-right: 50px;
 min-width: 300px;
}

#ship_address select{
   width: 250px;
}



#bill_address{
 float: left;
}

#bill_address div{
    display: inline-block;
}
#cclogo{
    vertical-align: text-bottom;
}

#promo{
  margin: 20px 0 0 20px;
  display: inline-block;
  width: 150px;
}

#apply_promo{
 display: inline-block;
}

#order_items{
 
}

#order_summary{
}

#place_order{
    width: 65%;
    margin: auto;
}

#place_order #logo_secure_lock{
   margin: auto;
   text-align: center;
   padding: 10px 0 0 0;
}
/*---------------------------- Review ------------------ */
#subtotal{
    margin: 0;
    height: 75px;
    border-top: solid 1px #dddddd;
}

div#amount{
    display: inline-block;
    float: right;
    margin: 20px 5px;
}

div#spin_here{
    display: inline-block;
    min-width: 20px;
    float: right;
    margin: 28px 5px 0 0;
}

div#go_shop{
    display: inline-block;
    float: left;
    margin: 20px 50px;
}
tr.line_item td{
    vertical-align: top;
    line-height: 36px;
}
.line_item div.quantity{
    line-height: 18px;
}
.line_item div.quantity input{
    width: 25px;
}
table#cart-detail{
    margin: 0;
}

a#continue-shopping-greenbutton{
    width: 150px;
    margin:  50px auto;
}

/*--------------------- Registration ----------------------*/
.half{
    padding-top: 20px;
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.centered{
    margin: 0 auto;
    text-align: center;
}

.right-border{
    border-right: 1px solid #CCCCCC;
}

.buttons{
    position: relative;
    height: 41px;
    padding-right:  23px;
    float: right;
    text-align: right;
}

#signin-form{
    width: 65%;
    margin:  0 auto;
}

#user-signin .buttons{
width: 100%;
}

#submit-button{
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 100px;
}

#forgot-password-link{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 25px;
}

#guest-checkout-button{
    width: 150px;
    margin: 38px auto 0 auto;
}

#guest-blurb{
    font-size: 14px;
    width: 50%;
    margin: 18px auto 0 auto;
}


/*-------------------- thank you ----------------*/

div.checkout_thankyou{
    min-height: 300px;
}
div.user_topty{
    margin: 140px auto;
}

div.guest_topty{
    margin-top: 60px;
}

div#top_ty{
    text-align: center;
    font-weight: 200;
}
div#big_ty{
    font-size: 46px;
    color:black;
    line-height: 50px;
    margin-bottom: 10px;
}
div.sub_top_ty{
    font-size: 18px;
    line-height: 26px;
}

div#want_to_share{
    line-height: 45px;
    font-size: 34px;
    margin: 80px 0;
}

div#useraction_ty{
    margin: 50px 0;
}
a#goback_btn{
    margin: 0 auto;
    width: 190px;
}

div#guestaction_ty{
    width: 600px;
    margin: 0 auto 60px auto;
}

form p.field#username,
form p.field#password
{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.blue{
    color: blue;
}

#username_display{
    display:none;
    padding-left: 15px;
}

form p.field#submit_button{
    display: inline-block;
    width: 15%;
}

#join-btn{
   width: 100px;
}

/*----------------------------- cart -------------------*/
#cart #subtotal{
    background-color: #EEEEEE;
    text-shadow: 1px 1px 1px white;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*------------------------ order status -------------------*/
#order #cclogo img{
    vertical-align: middle;
}

#order #total{
    background-color: #EEEEEE;
    border-top: solid 2px #dddddd;
    text-shadow: 1px 1px 1px white;
}
div#order_items,
#order_items table.index{
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}


#order #total .variant_description{
    color: #404040;
}

#order #tracking{
    float: right;
    margin-right: 50px;
    min-width: 200px;
}

a.change,
a.delete,
a.details {
    color: #336699;
}