<h1>Follow Someone Will You?</h1>
<ul class="users">
  <% @users.each  do | user | %>
     <li>
     <% form_for @follow, :url => { :action => "create" } do |f| %>
        <%=hidden_field( :follow, :followed_id, :value => user.id) %>
        <%= link_to h(user.name), user %> |
        <%= link_to h(user.username), user %> |   
        <%= f.submit "Follow" %>
     <%end%>
     </li>
 <%end%>
</ul>
