
<div class="gridcellbox" >
  <a href="<%=album_photos_path(photo.album)%>?size=screenres&photoid=<%=photo.id%>">
     <div class="gridcell" >
        <div class="gridcellphoto">
            <img class="gridcellphotoshow" src="SET BY JAVASCRIPT ON BROWSER" id="photoid<%=photo.id%>">
             <% if current_user?(photo.album.user) %>
                <%= link_to image_tag( "/images/delete.png" ), photo, { :method => :delete, :class => 'gridcellphotoicon'} %>
             <% end %>
        </div>
      </div>
  </a>
</div>
