 <script>
       // album.initializeForSlideshow('<%=photo.to_json(:only =>[:id], :methods => [:medium_url])%>');
 </script>

    <div class="largephotocontainer">
        <a href="<%=return_to_link%>">
            <img class="largephoto" src="<%=photo.screen_url%>" id="photoid<%=photo.id%>">
        </a>
    </div>