<script type="text/javascript" src="/javascripts/slideshow/swfobject.js"></script>
<script type="text/javascript" src="/javascripts/slideshow/SimpleFade.js"></script>
<script type="text/javascript">
  swfobject.registerObject("SimpleFade1276267724640", "9.0.115", "", function(e) {
    if (e.success==false){
      var err;
      try{
        $("#SimpleFade1276267724640").hide();
        $.slideshowBoxEmbedCanvas.init({
            appendToID:"SimpleFadeJS1276267724640",
            imagesXmlPath:"slides_source.xml",
            width:800,
            height:600,
            autoHideControls:"true",
            autoSlideShow:"true",
            backgroundVisible:"true",
            loadOriginalImages:"false",
            slideShowSpeed:"6",
            backgroundColor:"#FFFFFF",
            backgroundImage:"",
            scaleBackground:"true",
            controlBarAlpha:"0.8",
            controlBarPrimaryColor:"#333333",
            controlBarSecondaryColor:"#FFFFFF",
            navigationControls:"true",
            slideShowControls:"true",
            fullScreenButton:"true",
            controlsHideSpeed:"2",
            showImageInfos:"true",
            showImageIndex:"true",
            scaleMode:"scaleCrop"
        });
      }catch(err){}
    }
  });
</script>
<div id="SimpleFadeJS1276267724640" style="width:800px;height:600px;">
  <object id="SimpleFade1276267724640" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="800" height="600">
    <param name="movie" value="/swf/SimpleFade.swf"/>
    <param name="allowFullScreen" value="true"/>
    <param name="bgcolor" value="#FFFFFF"/>
    <param name="flashvars" value="source=slides_source.xml&autoHideControls=true&autoSlideShow=true&backgroundVisible=true&loadOriginalImages=false&overrideFullScreenChange=false&slideShowSpeed=6&backgroundColor=1842204&backgroundImage=&scaleBackground=true&controlBarAlpha=0.8&controlBarPrimaryColor=3355443&controlBarSecondaryColor=16777215&navigationControls=true&slideShowControls=true&fullScreenButton=true&controlsHideSpeed=2&showImageInfos=true&showImageIndex=true&scaleMode=scaleCrop" />
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="/swf/SimpleFade.swf" width="800" height="600">
    <!--<![endif]-->
            Please install the latest version of Flash Player to view this content
            <param name="allowFullScreen" value="true"/>
            <param name="bgcolor" value="#FFFFFF"/>
            <param name="flashvars" value="source=slides_source.xml&autoHideControls=true&autoSlideShow=true&backgroundVisible=true&loadOriginalImages=false&overrideFullScreenChange=false&slideShowSpeed=6&backgroundColor=1842204&backgroundImage=&scaleBackground=true&controlBarAlpha=0.8&controlBarPrimaryColor=3355443&controlBarSecondaryColor=16777215&navigationControls=true&slideShowControls=true&fullScreenButton=true&controlsHideSpeed=2&showImageInfos=true&showImageIndex=true&scaleMode=scaleCrop" />
    <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>
