<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->


    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2010, ZangZing, Inc. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />


	<style type="text/css">body {margin: 0; padding: 0; text-align: center; background-color: #333333;} div {position: relative; margin: auto; text-align: center;}</style>
	<script type="text/javascript">
		<!-- Begin Vertical alignment -->
		function getWindowHeight() {var windowHeight = 0; if (typeof(window.innerHeight) == 'number') {windowHeight = window.innerHeight;} else {if (document.documentElement && document.documentElement.clientHeight) { windowHeight = document.documentElement.clientHeight;} else { if (document.body && document.body.clientHeight) {windowHeight = document.body.clientHeight;}}}	return windowHeight;}
		function setContent() {if (document.getElementById) {var windowHeight = getWindowHeight(); if (windowHeight > 0) {var contentElement = document.getElementById('content'); var contentHeight = contentElement.offsetHeight; if (windowHeight - contentHeight > 0) {contentElement.style.position = 'relative';contentElement.style.top = ((windowHeight / 2) - (contentHeight / 2)) + 'px';}else { contentElement.style.position = 'static';}}}}
		window.onload = function() {setContent();}
		window.onresize = function() {setContent();}
		<!-- END Vertical alignment -->
	</script>
</head>

<body>
	<div id="content">

		<!-- Insert your embed code below -->

				<object id="Custom1276255236346" type="application/x-shockwave-flash" data="/swf/ZZSlideShow.swf" width="1000" height="800">
					<param name="movie" value="/swf/ZZSlideShow.swf">
					<param name="allowFullScreen" value="true">
					<param name="bgcolor" value="#1C1C1C">
					<param name="flashvars" value="source=slides_source.xml&autoHideControls=false&autoSlideShow=true&backgroundColor=000000&backgroundImage=&backgroundVisible=true&borderSize=5&borderColor=FFFFFF&controlsHideSpeed=2&exitButton=true&exitButtonURL=/&loadOriginalImages=false&overrideFullScreenChange=false&scaleBackground=true&scaleMode=scale&shadowColor=0x000000&slideshowDistance=5&slideShowSpeed=6&transitionSpeed=0.7&transitionType=slide"/>
				</object>

		<!-- Embed code ends here -->

	</div>
</body>
 
</html>

