<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=100" > <!-- IE8 mode -->


    <meta charset="utf-8">
    <meta name="copyright" content="Copyright 2010, ZangZing, Inc. All Rights Reserved." />
    <meta name="DC.title" content="ZangZing" />
    <meta name="title" content="ZangZing" />

    <script type="text/javascript" src="/swf/ZZSlideShow.js"></script> <!--includes jquery 1.4.2-->
    <script type="text/javascript" src="/swf/swfobject.js"></script> 

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #333333;
        }

        #content {
            position: relative;
            top:30px;
            margin: auto;
            text-align: center;
        }

        .javascript-movie{
            margin-left:30px;
        }

        #scrim{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color: #000000;
            z-index:100000;
        }

    </style>



    <script type="text/javascript">
        var force_javascript = (document.location.search.indexOf('js=true') !== -1)


        $(document).ready(function(){

            swfobject.registerObject("movie", "9.0.115", "", function(e) {
                if (e.success == false || force_javascript) {
                    var err;
                    try {
                        $("#movie").replaceWith('<div id="movie" class="javascript-movie"></div>');


                        $.CustomSimpleFade.init({

                            appendToID:			'movie',
                            source:				'slides_source.xml',
                            width: $(window).width() - 60,
                            height: $(window).height() - 60,

                            autoHideControls:	false,
                            autoSlideShow:		true,

                            backgroundColor:	'#000000',
                            backgroundImage:	'',
                            backgroundVisible:	true,
                            borderColor:		'#ffffff',
                            borderSize:			5,

                            controlsHideSpeed:	2,

                            exitButton:			true,
                            exitButtonURL:		'/',

                            iconsURL:			'http://www.jumpeye.com/flo/customProjects/SimpleFadeCustom/js/icons/',

                            loadOriginalImages: false,

                            scaleBackground:	true,
                            scaleMode:			'scale',
                            shadowColor:		'#000000',
                            shadowDistance:		5,
                            slideShowSpeed:		6,

                            transitionSpeed:	0.5,
                            transitionType:		'slide'

                        });
                    } catch(err) {
                    }
                }
            });




            var resizeMovie = function(){
                $('#movie').css({
                    width: $(window).width() - 60,
                    height: $(window).height() - 60
                });
            }

            $(window).resize(function(){
                resizeMovie();
            });

            resizeMovie();
//
            $('#scrim').fadeOut(3000);

        });




    </script>
</head>

<body>
	<div id="content">
        <object id="movie" type="application/x-shockwave-flash" data="/swf/ZZSlideShow.swf" width="1000" height="800">
            <param name="movie" value="/swf/ZZSlideShow.swf">
            <param name="allowFullScreen" value="true">
            <param name="bgcolor" value="#1C1C1C">
            <param name="flashvars" value="source=slides_source.xml&autoHideControls=false&autoSlideShow=true&backgroundColor=000000&backgroundImage=&backgroundVisible=true&borderSize=5&borderColor=FFFFFF&controlsHideSpeed=2&exitButton=true&exitButtonURL=/&loadOriginalImages=false&overrideFullScreenChange=false&scaleBackground=true&scaleMode=scale&shadowColor=0x000000&slideshowDistance=5&slideShowSpeed=6&transitionSpeed=0.7&transitionType=slide"/>
        </object>
	</div>
    <div id="scrim"></div>
</body>
 
</html>

