<%form_for [@album, @photo] do |f| %>
                <%= f.error_messages %>
                <div class="field">
                    <%= f.label :agent_id %><br />
                    <%= f.text_field :agent_id %>
                    <%= f.submit "Create"%>
                </div>
<% end %>