<% unless @photos.empty? %>
     <ul class="photos photos-single-view">
         <li>
             <a href="<%=@return_to_link%>">
                 <img class="largephoto" src="<%=@photos.first.screen_url%>" id="photoid<%=@photos.first.id%>">
             </a>
         </li>
       </ul>
  <%= will_paginate @photos, { :class=> 'digg_pagination' } %>
<% end %>
