
</br>
</br>
</br>
<h1> Service Status </h1>

<table>
  <tr>
    <th>Service</th>
    <th>Status</th>
  </tr>
  <% @status.keys.each do | service | %>
  <tr>
    <td><%=service.capitalize %></td>
    <td><span style="color:<%=( @status[service] ? 'green' : 'red' ) %>;"><%=( @status[service] ? 'UP' : 'DOWN' ) %></span></td>
  </tr>
  <%end%>
</table>