<script>
 
</script>

<ul id="album-timeline">

  <% @activities.each do |activity| %>
                    <%case activity %>
                        <% when UploadActivity then%>
                            <%= render :partial => 'upload_activity', :locals => {:activity => activity, :album => @album } %>
                        <% when ShareActivity then%>
                            <%= render :partial => 'share_activity', :locals => {:activity => activity, :album => @album } %>
                    <%end%>
  <%end%>

  <div class="offset">
  <li class="clearfix">
    <div class="timeline-badge">
      <img src="/images/user-icon-54x54.png" width="54" height="54" class="icon" />
      <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
    </div>
    
    <div class="timeline-action">
      <p><a href="">Joseph Ansanelli</a> purchased a customized &ldquo;New Zealand&rdquo; Photo Album</p>
      <p class="timeline-when">about an hour ago.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="timeline-badge">
      <img src="/images/user-icon-3-54x54.png" width="54" height="54" class="icon" />
      <p><img src="/images/icon-star-12px.png" /> Following  <img src="/images/icon-down-arrow-10px.png" /></p>
    </div>
    
    <div class="timeline-action clearfix">
      <p><a href="">LambLover</a> created &ldquo;New Zealand&rdquo;</p>
      <p class="timeline-when">about two days ago.</p>
      <figure>
        <img class="timeline-picon" src="/images/picon-sample.png" />
        New Zealand
      </figure>    
    </div>
  </li>
  </div>    
</ul>