<% content_for :meta_tags do %>
    <%= render :partial => "facebook/album_opengraph_tags" %>
<% end %>



<div class="viewlist">
<ul>
  <li class="item">
   <div class="header bar">
        Activities
   </div>
  </li>

  <% @activities.each do |activity| %>
                    <%case activity %>
                        <% when UploadActivity then%>
                            <%= render :partial => 'upload_activity', :locals => {:activity => activity, :view => 'activity' } %>
                        <% when ShareActivity then%>
                            <%= render :partial => 'share_activity', :locals => {:activity => activity, :view => 'activity' } %>
                    <%end%>
  <%end%>

</ul>

</div>    