<div class="album-header" style="margin-bottom: 25px;">
  <h3>Contributors</h3>
  <h4>These are the people you have authorized to contribute photos to your album</h4>
</div>

<div id="flashes-here">
</div>
<div id="scroll-body">
    <div id="contributor-list">
         <ul id="the-recipients" class="clearfix">
            <li id="m-clone-added"class="rounded"><span>Text</span> <img src="/images/btn-delete-small.png" id="img-clone-added" class="link" /> <input type="checkbox" value="" /></li>
            <li id="autocomplete"><input type="text" id="you-complete-me" /></li>
            <div class="clear-fix"></div>
          </ul>
        <% @contributors.each
    </div>
</div> <!--scroll-body-->