<div class="album-header" style="margin-bottom: 25px;">
  <h3>Contributors</h3>
  <h4>Invite people to add their pictures to the album</h4>
</div>
<div class="error-notice" id="error-notice"></div>

<div id="scroll-body">
  <div id="add-new-contributors">
    <div id="form-container-2" class="clearfix">
      <ul id="email-sync" class="clearfix">
        <li class="title">Import contacts from</li>
        <li><a data-service="google" class="gray-button contacts-btn" href="javascript:void(0);return false;"><span><div class="off"></div>Google</span></a></li>
        <li><a data-service="local"  class="gray-button contacts-btn" href="javascript:void(0);return false;"><span><div class="off"></div>Outlook</span></a></li
        <li><a data-service="yahoo"  class="gray-button contacts-btn" href="javascript:void(0);return false;"><span><div class="off"></div>Yahoo</span></a></li>
        <li><a data-service="mslive" class="gray-button contacts-btn" href="javascript:void(0);return false;"><span><div class="off"></div>MSLive</span></a></li>
      </ul>
      <div class="clear-fix"></div>
      <form action="<%= album_contributors_path(@album) %>" id="new_contributors" method="post">
        <dl id="email-share-form">
          <dt>To</dt>
          <dd id="the-list">

                <input type="text" id="contact-list" name="contact_list" />
            
          </dd>
          <dt>Message</dt>
          <dd class="textarea"><textarea rows="4" name="contact_message" id="email_share_message"></textarea></dd>
          </dd>
        </dl>
        <div class="clear-fix"></div>

        <div id="form-actions">
          <a id="cancel-new-contributors" class="black-button"><span>Cancel</span></a>
          <a id="submit-new-contributors" class="green-button"><span>Send and Add Contributors</span></a>
        </div>

      </form>
    </div>
  </div>
</div>


<%= render(:partial => 'shares/contacts') %>
