<div class="album-header" style="margin-bottom: 25px;">
  <h3>Contributors</h3>
  <h4>Invite people to add their pictures to the album</h4>
</div>

<div id="scroll-body">
  <div id="form-container-2" class="clearfix">
    <ul id="email-sync" class="clearfix">
      <li class="title">Import contacts from</li>
      <li><img src="/images/btn-gmail-off.png" id="gmail-sync" class="link" /></li>
      <li><img src="/images/btn-outlook-off.png" id="local-sync" class="link" /></li>
      <li><img src="/images/btn-yahoo-off.png" id="yahoo-sync" class="link" /></li>
    </ul>
    <div class="clear-fix"></div>

    <form action="<%= create_album_contributors_path(@album)%>" id="new_contributors" method="post">
      <dl id="email-share-form">
        <dt>To</dt>
        <dd id="the-list">
          <ul id="the-recipients" class="clearfix">
            <li id="m-clone-added"class="rounded"><span>Text</span> <img src="/images/btn-delete-small.png" id="img-clone-added" class="link" /> <input type="checkbox" value="" /></li>
            <li id="autocomplete"><input type="text" id="you-complete-me" /></li>
            <div class="clear-fix"></div>
          </ul>
           <dt>Message</dt>
        <dd class="textarea"><textarea rows="4" name="email_share[message]" id="email_share_message"></textarea></dd>
       </dd>
      </dl>
      <div class="clear-fix"></div>

      <div id="form-actions">
       <input type="image" src="/images/btn-send-add-conts.png" name="submit" id="mail-submit" />
      </div>
    </form>
  </div>
</div>


<%= render(:partial => 'shares/contacts') %>
