<li id="nav-account" class="acct-badge">
  <div class="acct-badge" id="session">
    <div id="acct-anchor">
    <span id="acct-image">
      <img src="/images/user-icon-25x25.png" width="25" height="25" />
    </span>
    <span id="acct-arrow">
        <img src="/images/icon-down-arrow-22px.png" />
    </span>
    Account
    </div>  
     <ul class="context_menu dropdown" id="acct-dropdown">
      <li id="acct-settings-btn">Settings</li>
      <li id="acct-help-btn">Help</li>
      <li id="acct-signout-btn" href="/signout">Signout</li>
     </ul>

  </div>
</li>
<script type="text/javascript">
</script>
