<li id="nav-account" class="acct-badge clearfix">
  <div class="acct-badge" id="session">
    <div id="acct-anchor">
    <span id="acct-image">
      <img src="/images/user-icon-25x25.png" width="25" height="25" />
    </span>
    <span id="acct-arrow">
        <img src="/images/icon-down-arrow-22px.png" />
    </span>
    Account
    </div>  

    <div id="acct-dropdown" class="dropdown">
     <ul class="acct-dropdown" style="display: block;">
      <li><a href="/settings">Settings</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/signout">Signout</a></li>
     </ul>
    </div>
  </div>
</li>

<script type="text/javascript">
</script>
