<div id="footer">
  <div id="footer-left"></div>
  <div id="footer-middle"></div>
  <div id="footer-right"></div>



  <% if @is_homepage_view && current_user == @user %>
      <div id="new-album-button"><div class='footer-button-label'>New</div></div>
      <div id="import-button"><div class='footer-button-label'>Import</div></div>
  <% end %>

  <% if @album && current_user && (@album.user == current_user)%>
      <div id="edit-album-button"><div class='footer-button-label'>Edit</div></div>
  <% end %>

  <% if @album  %>
      <div id="add-photos-button"><div class='footer-button-label'>Add</div></div>
  <% end %>


  <% if @album %>
      <div id="control-buttons">
          <a id="prev-button"></a>
          <a id="play-button"></a>
          <a id="next-button"></a>
      </div>
  <% end %>




  <% if @album %>
      <div id="more-button">
              <div class="footer-button-label">More</div>
      </div>
      <div id="comments-button">
        <div class="footer-button-label">Comment</div>
        <div class="comment-count empty"></div>
      </div>

      <div id="share-button">
        <div class="footer-button-label">Share</div>
      </div>

      <div id="like-button" class="zzlike zzlike-toolbar thumbdown" data-zzstyle="toolbar" >
        <div class="footer-button-label">Like</div>
        <div class="zzlike-count empty"></div>
      </div>
  <% end %>
  <div id="cart-button">
    <div class="footer-button-label">Cart</div>
     <div class="cart-count empty"></div>
  </div>
  <div id="buy-button"><div class="footer-button-label">Buy</div></div>



</div>
