<div id="footer">
  <div id="footer-left"></div>
  <div id="footer-middle"></div>
  <div id="footer-right"></div>



  <% if current_user %>
      <div id="new-album-button" class="has-tooltip" title="Create New Album"><div class='footer-button-label'>Create</div></div>
  <% end %>

  <% if @album && current_user && (@album.user == current_user)%>
      <div id="edit-album-button" class="has-tooltip" title="Edit Album"><div class='footer-button-label'>Edit</div></div>
  <% end %>

  <% if @album && current_user && @album.contributor?(current_user.id) %>
      <div id="add-photos-button" class="has-tooltip" title="Add Photos"><div class='footer-button-label'>Add</div></div>
  <% end %>


  <% if @album %>
      <div id="control-buttons">
          <a id="prev-button"></a>
          <a id="play-button"></a>
          <a id="next-button"></a>
      </div>
  <% end %>




  <% if @album %>
      <div id="share-button"><div class="footer-button-label">Share</div></div>
  <% end %>

  <div id="like-button"><div class="footer-button-label">Like</div></div>
  <div id="buy-button"><div class="footer-button-label">Buy</div></div>



</div>


<ul class="context_menu popup" id="like-popup">
   <li id="like-user"   style="display: none;">PERSON</li>
   <li id="like-album"  style="display: none;">ALBUM</li>
   <li id="like-photo"  style="display: none;">PHOTO</li>
</ul>