      <nav>        
        <ul id="bottom-nav" class="clearfix">
          <li id="left-half" class="clearfix">
            <ul id="owner-nav">
              <li id="nav-help">Help</li>
              <li id="nav-new-album">New Album</li>
<% if @album %>              
              <li id="nav-edit-album">Edit Album</li>

<%    if @album.is_user_contributor? current_user %>
              <li id="nav-add-photo">Add Photo</li>
<%    end %>

              <li id="nav-status"></li>
<% end %>
            </ul>
          </li>
<% if @album %>
          <li id="play-btn">
            <a href="<%='/albums/' + @album.id + '/photos?view=movie'%>"><img src="/images/btn-play.png" /></a>
          </li>
<% end %>
          <li id="right-half" class="clearfix">
            <ul id="viewer-nav">
              <li id="nav-buy">Buy</li>
              <li id="nav-like">Like</li>
<% if @album %>
              <li id="nav-share">Share</li>
<% end %>
            </ul>
          </li>
        </ul>
      </nav>


<% if current_user %>
      <script>
         var user_id = '<%=current_user.id%>';
      </script>
<% end %>
      