      <header class="clearfix">
        <ul id="top-nav">
          <li id="nav-home"></li>
            <h1 class="offset">ZangZing</h1>
          </li>
          <li id="nav-back">
            <a href="/"><img src="/images/btn-back-all-albums.png" /></a>
          </li>
          <li id="nav-main">
            <ul id="new-info" class="clearfix">
              <li id="user-icon">
                <img src="/images/bg-album-default.png" width="64" height="44"  id="album-header-icon" />
              </li>
    <%        if controller.controller_name == 'photos' || controller.controller_name == 'albums' -%>
              <li>
                <h2 id="album-header-title"><%= @album ? @album.name : 'New Album' %></h2>
                <h3>by <%= @badge_name %></h3>
              </li>
    <%        else -%>
              <li>
                <h2>Welcome to ZangZing!</h2>
                <h3>Fast, simple, social photo management.</h3>
              </li>
    <%      end -%> 
            </ul>         

          </li>
          <li id="nav-views"></li>
          <li id="nav-sign-up">Sign-in</li>
        </ul>
      
      </header>
      
      <div id="small-drawer">
        <div id="sign-up" class="body" style="display:none;">

          <ul id="small-indicator" class="clearfix">
            <li id="step-join-on"></li>
            <li id="step-sign-in-off"></li>
          </ul>

        <%= render :partial => 'user_sessions/sign_up_form' %>
        
        </div>
        
        <div id="sign-in" class="body">
          <ul id="small-indicator" class="clearfix">
            <li id="step-join-off"></li>
            <li id="step-sign-in-on"></li>
          </ul>
  
          <div id="small-top">
            <h2>Sign in</h2>
            <h3>Welcome Back!</h3>        
          </div>     
          
        <%= render :partial => 'users/join_form' %>
        
        </div>
      </div>