        <ul id="new-info" class="clearfix">
          <li id="user-icon">
            <img src="/images/blank-image.png" width="50" height="33"  id="album-header-icon" />
          </li>
          <li>
            <h2>Welcome to ZangZing!</h2>
            <h3>Fast, simple, social photo management.</h3>
          </li>
        </ul>
          
      </header>
      
      <div id="small-drawer">
        <div id="sign-up" class="body" style="display:none;">

          <ul id="small-indicator" class="clearfix">
            <li id="step-join-on"></li>
            <li id="step-sign-in-off"></li>
          </ul>
  
          <div id="small-top">
            <h2>Sign up</h2>
            <h3>Welcome to ZangZing!</h3>        
          </div>
          
          <form method="post" enctype="multipart/form-data" action="/users">
            <dl class="clearfix">
              <dt><label for="user_name">Name</label><br></dt>
              <dd><input type="text" value="" size="30" name="user[name]" id="user_name"></dd>
              <dt><label for="user_session_password">Password</label></dt>
              <dd><input type="password" size="30" name="user[password]" id="user_password"></dd>
              <dt><label for="user_session_password">Confirmation</label></dt>
              <dd><input type="password" size="30" name="user[password_confirmation]" id="user_password_confirmation"></dd>

              <dt class="button"></dt>
              <dd class="button">
                <input type="image" name="submit" src="/images/btn-sign-up.png">
              </dd>            
            </dl>
  
          </form>          

        </div>
        
        <div id="sign-in" class="body">
          <ul id="small-indicator" class="clearfix">
            <li id="step-join-off"></li>
            <li id="step-sign-in-on"></li>
          </ul>
  
          <div id="small-top">
            <h2>Sign in</h2>
            <h3>Welcome Back!</h3>        
          </div>
          
            <form method="post" id="new_user_session" class="new_user_session" action="/user_sessions">
              <dl class="clearfix">
                <dt><label for="user_session_email">Email</label></dt>
                <dd><input type="text" size="30" name="user_session[email]" id="user_session_email"></dd>
                <dt><label for="user_session_password">Password</label></dt>
                <dd><input type="text" size="30" name="user_session[password]" id="user_session_password"></dd>
                <dt class="button"><a href="/password_resets/new">Forgot your password?</a></dt>
                <dd class="button">
                  <input type="image" name="submit" src="/images/btn-sign-in.png">
                </dd>            
              </dl>
    
            </form>          
        
        </div>
      </div>