        <ul id="user-info" class="clearfix">
          <li id="user-icon">
            <img src="/images/user-icon-40x40.png" width="40" height="40" />
          </li>
          <li>
            <h2><%= @badge_name %></h2>
            <h3>My Account <img src="/images/icon-down-arrow-10px.png" width="10" height="10" /></h3>
          </li>
        </ul>
        
        <ul id="album-info" class="clearfix" style="display:none;">
          <li id="user-icon">
            <img src="/images/blank-image.png" width="50" height="33" id="album-header-icon" />
          </li>
          <li>
            <h2 id="album-header-title"><%= @album ? @album.name : 'New Album' %></h2>
            <h3>by <%= @badge_name %></h3>
          </li>
        </ul>          
        
        <ul id="view-swap">
          <li><a href="#"><img src="/images/view-icons-friends.png" width="39" height="29" /></a></li>
          <li><a href="#"><img src="/images/view-icons-timeline.png" width="38" height="29" /></a></li>
          <li><a href="#"><img src="/images/view-icons-grid-selected.png" width="35" height="29" /></a></li>
        </ul>    
         
      </header>
      
      <div id="drawer" style="display:none;">
        <ul id="indicator" class="step-1 clearfix" style="display:none;">
          <li id="step-add" class="on">Add Photos</li>
          <li id="step-name">Name Album</li>
          <li id="step-edit">Edit Album</li>
          <li id="step-share">Share Album</li>
          <li id="step-btn"><img id="next-step" src="/images/btn-steps-next.png" /></li>
        </ul>
        
        <div class="body">
        Text
  
        </div>
      </div>